.header_main {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
.table_header {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
}
a {
  font-family:Geneva, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#000000;
  text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.body_text {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
.error {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FF0000;
	font-weight:bold;
}.table_status {
	border: 1px dashed #FF0000;
}
img.thumbnail {

     max-width: 120px;

     width:expression(this.width > 100 ? "120px" : this.width);
	 height:113px;

  border: #666666 2px thin;
}

.tr_color {
	background-color: #FFFFFF;

}