#contactform
{
    width: 350px;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
	margin-left: 100px;
}

#contactform .formfield
{
    
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    clear: both;
}

#contactform .col1, #contactform .wide
{
    text-align: right;
font-weight:bold;
float:left;
margin-right:5px;
}

#contactform .col1
{
    width: 120px;
}

#contactform .input input
{
    width: 140px;
}

#contactform .multiline textarea
{
    width: 174px;
}

#contactform .wide
{
    padding-left: 12px;
}

.submit{
text-align:right;
}