/* HTML Elements   
-----------------------------------------------------*/
body 
{
  margin: 0px;
  padding: 0px;
  font-family: verdana, arial, sans-serif;
  font-size: small;
}


input
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

textarea
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

img
{
	border: none;
}

form
{
	padding: 0;
	margin: 0;
}

h1
{
	font-size: 150%;
}

big
{
	font-size: 111%;
}

small
{
	font-size: 90%;
}

DIV.cmxvspace
{
	width: 1px;
	background: none;
	border: none;
	margin: 0px;
	padding: 0px;
}

/* Container Elements
-----------------------------------------------------*/

td#bannercell, td#leftcell, td#leftgutter, td#maincell, td#rightgutter,
td#rightcell, td#footercell, td#container2cell, td#container3cell
{
	 padding: 0;
	 vertical-align: top;
}

#main .twocolumn, #main .threecolumn, #main .fourcolumn
{
  width: 100%;
}

#main .twocolumn td, #main .threecolumn td, #main .fourcolumn td
{
  vertical-align: top;
}

/* Cmx Styles */

BLOCKQUOTE.cmx-Indent
{
	margin: 0px 0px 0px 2em;
}

P.cmx-Inline
{
  display: inline;
}

P.cmx-Smaller
{
  font-size: smaller;
}

P.cmx-Center
{
  text-align: center;
}

P.cmx-Right
{
  text-align: right;
}

P.cmx-Justify
{
  text-align: justify;
}

P.cmx-Left
{
  text-align: left;
}

FONT.cmx-Smaller
{
  font-size: smaller;
}

FONT.cmx-Larger
{
  font-size: larger;
}

FONT.cmx-RightAlign 
{
  float: right;
}
    
IMG.cmx-FloatLeft
{
	float: left;
}

IMG.cmx-FloatRight
{
	float: right;
}

IMG.cmx-Center
{
	display: block;
	text-align: center;
	margin-left:auto;
	margin-right:auto; 
}

IMG.cmx-Block
{
	display: block;
}

/* Template support */
		
#footer .copyrightnotice .copyright {
    padding-right: 6px;
    }

/* Miscellaneous 
------------------------------------------------------*/
.floatright
{
	display: block;
  float: right;
}

.floatleft
{
	display: block;
  float: left;
}

td.top
{
	vertical-align: top;
}

.bold 
{
	font-weight: bold;
}

.italic
{
	font-style: italic;
}

TABLE.scrapetable
{
	border: solid 1px black;
	margin: 1px 0;
}
