#banner_current{
    color:#FFCC33;
}

#left h1.new_products{
    color:#FFCC33;
   }


#banner{
    background: url(/images/banner_bg_home.gif) no-repeat top;
}

.marketing_image{
margin-top:3px;

}

#main {
    float:right;
    width:558px;
    text-align:left;
    padding-bottom:0px;
    margin-left:0px;
	margin-top:2px;
	background:none;
}

#main h1{
    width: 536px; 
	background: #FDFEFF url(/images/green_arrow.gif) no-repeat left;
	border:1px solid #ccc;
    font-size:20px;
	margin-bottom:5px;
	margin-left:0px;
	margin-top:3px;
	padding-left:18px;

}

#main .col1, #main .col2, #main .col3{
    
background:none;
border:0px solid #fff;
padding-right:2px;
}



.main_container{
width:275px;
margin-left:4px;
}

.main_container p{
margin-top:2px;
padding-bottom:18px;
}

#main a:link, #main a:active,{ 
color:#5D5D5D;
}

 #main a:visited{
color:Purple:
}

#main a:hover{
text-decoration:none;
}

.spacer{
background:#fff;
}


#right{
    float:right;
    clear:right;
    text-align:left;
    width:183px;
    margin-top:3px;
    padding-bottom:40px;
}

#left{
    float:left;
    clear:left;
    text-align:left;
    width:179px;
    background:#fff;
    margin-top:5px;
    padding-bottom:20px;
}
#left p{
    margin-top:0px;
    margin-bottom:5px;
    background:#FDFEFF;
    margin-left:3px;
    width:165px;
    padding:1px 8px 1px 8px;
    border:1px solid #ccc;
}

#left p.currentNews {
    margin-top:0px;
    margin-bottom:5px;
    background:#FDFEFF;
    margin-left:3px;
    width:165px;
    padding:1px 3px 1px 8px;
    border:1px solid #ccc;
}


#left h1{
    color:#fff;
    line-height: 20px;
    height:21px;
    padding-left:16px;
    background: #2C2C2C url(/images/right_h1.gif) no-repeat;
    width:167px;
    margin:3px;
    font-size:11px;
    border-bottom:none;
}

#left h1 a:link, #left h1 a:active, #left h1 a:visited{
text-decoration:none;
color:#fff;
}

#left h1 a:hover{
text-decoration:underline;
}


