body {
	background: #ffffff;
	width:751px;
	margin:auto;
	font-family : Arial, FreeSans;
	font-size: 11px;
	color:#2E2E2E;
	text-align: center;
}
.style10 {
	color: #2e2e2e
}
.submainindent {
	padding-left: 20px;
}

</style>


#container {
    width:100%;    
    margin:0px auto;

}

a:link, a:visited, a:active {
    color: #0066CC;
    }
    
a:visited {
    color: purple;
    }

h1{
    color:#2C2C2C;
    font-size: 16px;
    margin-bottom:10px;
    border-bottom:1px dotted #2C2C2C;
    width:364px;
    line-height:23px;
}


h2{
    font-family : Arial, FreeSans;
    font-size: 11px;
    color:#000;
}

/* ---------------Begin Banner Elements------------------ */


#banner{
    text-align:left;
    width:751px;
    background: url(/images/banner_bg.gif) no-repeat;
}

.call_to_action{
    float:right;
    clear:right;
    width:360px;
    height:59px;
    margin-top:-83px;
    background: url(/images/call_to_action_bg.gif);
    margin-right: 10px;
}

.call_to_action table{
    width: 360px;
    padding:10px;
    text-align:right;
    margin-top:15px;
    color:#515151;
}html>body .call_to_action table{margin-top:6px;}

.call_to_action table .col1{
    text-align:right;
    font-size:12px;
    font-weight:bold;
    border-right:1px solid #2C2C2C;
    padding-right:10px;
    line-height:12px;
}html>body .call_to_action table .col2{float:right;}

.nav{
    background: #2C2C2C;
    height: 22px;
    color:#fff;
    margin-left: 7px;
}

.nav a:link, .nav a:active, .nav a:visited{
    text-decoration:none;
    color: #fff;
    background: #2C2C2C;
    line-height:20px;
    font-weight:bold;
    padding: 0px 4px 0px 4px;
}

.nav a:hover{
    color:#FFCC33;
}

.breadcrumbs{
    line-height:27px;
    color: #2C2C2C;
    font-weight:bold;
    margin-left:5px;

}


.breadcrumbs a:active, .breadcrumbs a:visited, .breadcrumbs a:hover, .breadcrumbs a:link{
    color: #259608;
    font-weight:bold;
    text-decoration:none;
}

/* ---------------Begin Left Elements------------------ */

#left{
    float:left;
    clear:left;
    text-align:left;
    width:179px;
    background:#fff;
    margin-top:5px;
    padding-bottom:20px;
}

#left h1{
    width: 162px;
    border-bottom:none;
    font-size:11px;
    background: #535353 url(/images/h1_arrow_bg.gif) left no-repeat;
    line-height:21px;
    color:#fff;
    padding-left: 17px; 
    margin-bottom:0px;}

#left h1 a:link, #left h1 a:active, #left h1 a:visited{
text-decoration:none;
color:#fff;
}

#left h1 a:hover{
text-decoration:underline;
}

#left  .left_nav a:link, #left .left_nav a:active, #left .left_nav  a:visited{
    color:#2C2C2C;
    display:block;
    line-height: 20px;
    height:21px;
    padding-left: 17px;
    font-weight:bold;
    background: #F6F5F5 url(/images/left_nav_arrow.gif) no-    repeat left;
    border:1px solid #9E9E9E;
    margin-top: 1px;
}

#left .left_nav a:hover{
    color:#56A22C;
}

/* ---------------Colapsible Menu_____________ */
#menu {
    text-align:left;
    width:178px;
    background:#fff;
    margin-top:0px;
    padding-bottom:10px;
}
.icp_menu_header {
    color:#fff;
    line-height: 20px;
    height:21px;
    padding-left:16px;
    background: #2C2C2C url(/images/right_h1.gif) no-repeat;
    width:167px;
    margin-bottom:1px;
    margin-left:3px;
    font-size:11px;
    font-family: Arial, FreeSans;
    border-bottom:none;
}
#menu .mH {
    width: 178px;
    color:#fff;
    cursor:pointer;
    font-size:9px;
    font-family : Arial, FreeSans;
    border-top: 1px solid Black;
    background: #1DAA1E;
    line-height:21px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom:0px;
    margin-left:3px;
}
.lineTwo {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent:20px;
}
a:hover .lineTwo {
    text-decoration:underline;
}
h5 { margin-top:0px;}
.mO {margin-left:10px;}

#menu .icp_menu_header a:link, #menu .icp_menu_header a:active, #menu .icp_menu_header a:visited{
text-decoration:none;
color:#fff;
}

#menu .icp_menu_header a:hover{
text-decoration:underline;
background: #1DAA1E;
color: #FFB007;
}

#menu .mH a:link, #menu .mH a:active, #menu .mH a:visited{
text-decoration:none;
color:#fff;
}

#menu .mH a:hover{
text-decoration:underline;
background: #1DAA1E;
color: #FFB007;
}
.mL a:link, .mL a:active, .mL a:visited{
    color:#0066CC;
    display:block;
    height:15px;
    padding-left: 15px;
    padding-top: 3px;
    margin-top: 0px;
    font: 11px bold;
    font-family : Arial, FreeSans;
}

.mL a:hover{
text-decoration:none;
background: url(/images/green_arrow_noBg.gif) #BDDFB4 no-repeat 2px;
}

.anylinkcss{
position:absolute;
visibility: hidden;
font: bold 11px;
font-family : Arial, FreeSans;
background-color: white;
width: 140px;
}

.anylinkcss a{
color:#0066CC;
background-color: #BDDFB4;
}

.anylinkcss a:hover{ 
background: url(/images/green_arrow_noBg.gif) #BDDFB4 no-repeat 2px;
text-decoration:none;
}

/* ---------------Begin Main Elements------------------ */

#main {
    float:left;
    width:552px;
    text-align:left;
    padding-bottom:40px;
    margin-left:20px;
    margin-top:5px;
}

.thumbnailLink {
    float : left;
    padding-top:2px;
    padding-left:50px;
    padding-right:10px;
}

.thumbBullets {
    padding-top:7px;
    padding-left:120px;
}
/* ---------------Begin right Elements------------------ */

#right{
    float:right;
    clear:right;
    text-align:left;
    width:183px;
    margin-top:5px;
    padding-bottom:40px;
}

#right h1{
    color:#fff;
    line-height: 20px;
    height:21px;
    padding-left:16px;
    background: #2C2C2C url(/images/right_h1.gif) no-repeat;
    width:167px;
    margin:3px;
    font-size:11px;
    border-bottom:none;
}

#right h1 a:link, #right h1 a:active, #right h1 a:visited{
text-decoration:none;
color:#fff;
}

#right h1 a:hover{
text-decoration:underline;
}



#right p{
    margin-top:0px;
    margin-bottom:5px;
    background:#FDFEFF;
    margin-left:3px;
    width:165px;
    padding:5px 8px 15px 8px;
    border:1px solid #ccc;
}

#right a:link, #right a:active, #right a:visited{
    color: #0066CC;
}

#right a:hover{

    text-decoration:none;
}



.right_nav a:link, .right_nav a:active, .right_nav a:visited{
    background: url(/images/right_nav_arrow.gif) no-repeat left;
    color: #0066CC;
    padding-left:10px;
    line-height:17px;
}

.right_nav a:hover{
    text-decoration:none;
}


/* ---------------Begin Footer Elements------------------ */

#footer{
    text-align:center;
    width:751px;
    height:31px;
    background: #2C2C2C;
    padding: 15px 0px 0px 0px;
    color:#D5D5D5;
    clear:both;
    line-height:18px;
    margin-left:0px;

}

#footer a:visited {
	color: Yellow;
}


#footer a:link, #footer a:active{
    text-decoration:none;
    color:#D5D5D5;
    padding:0px 2px 0px 2px;
}

#footer a:hover{
    text-decoration: underline;
}

/* ------------------Scraped Tables--------------------- */
SPAN.techspecs
{
    display: block;
    font-family : Arial, FreeSans;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 10px 0px;
}

SPAN.embeddedtitle
{
    display: block;
    font-family : Arial, FreeSans;
    font-size: small;
    font-weight: bold;
}

TABLE.embeddedtable
{
    border: 1px solid black;
    font-family : Arial, FreeSerif;
    font-size: small;
    margin-bottom: 8px;
}

TABLE.embeddedtable TD
{
    border: 1px solid black;
    text-align: center;
    padding: 2px 5px;
}

TABLE.embeddedtable TR.odd TD
{
    background-color: #ccc;
}

TABLE.spectable
{
    width: 350px;
    font-family : Arial, FreeSans;

}

TABLE.spectable TH.specs
{
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFFFF;
}

TABLE.spectable TD
{
    padding: 5px;
    vertical-align: top;
}

TABLE.spectable TD.col1
{
    width: 130px;
    background-color: #92ca83;
    font-weight: bold;
    text-align: right;
}

TABLE.spectable TD.col2
{
    width: 220px;
    background-color: #BDDFB4;
}
/* --------------Begin 2 Column Product Table 
TABLE.productTable
{
    width: 360px;
    font-family : Arial, FreeSans;
    background-color: #FFFFFF;
}

TABLE.productTable TD.header
{
    color:#fff;
    font-size:9px;
    font-weight: bold;
    font-family : Arial, FreeSans;
    background: #1DAA1E;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom:0px;
    border : #1DAA1;
    border-top : 1px solid Black;
}
TABLE.productTable TD.col1
{
    width: 95px;
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}

TABLE.productTable TD.col2
{
    width: 265px;
    background-color: #FFFFFF;
    vertical-align: top;
    padding-bottom: 10px;
}


 --------------End 2 Column Product Table ------------------ */



/* --------------Begin 2 Column Product Table140_220------ */



TABLE.productTable140_220
{
    width: 534px;
    font-family : Arial, FreeSans;
    background-color: #FFFFFF;
}

TABLE.productTable140_220 TD.header
{
    color:#fff;
    font-size:9px;
    font-weight: bold;
    font-family : Arial, FreeSans;
    background: #1DAA1E;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom:0px;
    border : #1DAA1;
    border-top : 1px solid Black;
}
TABLE.productTable140_220 TD.col1
{
    width: 120px;
    background-color: #FFFFFF;
    text-align: right;
	vertical-align: top;
	font-weight: bold;
	 border : #1DAA1;    
}

TABLE.productTable140_220 TD.col2
{
    width: 100px;
    background-color: #FFFFFF;
    font-weight: bold;
	text-align: center;
	border : #1DAA1;
	padding-bottom: 20px;
}

TABLE.productTable140_220 TD.col3
{
    width: 299px;
    background-color: #FFFFFF;
    vertical-align: top;
	padding-left: 5px;
	padding-bottom: 10px;
}

/* --------------End 2 Column Product Table140_220--------- */

/* ---------------Begin New FeaturesTable 
TABLE.featuretable
{
    width: 360px;
    font-family : Arial, FreeSans;
    background-color: #F5F5E6;
}

TABLE.featuretable TD
{
    width: 360px;
    padding: 5px;
    vertical-align: top;
    background-color: #F5F5E6;
}

TABLE.featuretable td.col1
{
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5E6;
}

/* ---------------End New FeaturesTable ------------------ */

/* ---------------Begin New SpecTable -----------------
TABLE.spectable1
{
    width: 360px;
    font-family : Arial, FreeSans;
    background-color: #F5F5E6;
}

TABLE.spectable1 TD.specs
{
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5E6;
}

TABLE.spectable1 TD.greenArrow
{
    font-size: 11px;
    font-weight: bold;
    background-color: #F5F5E6;
}

TABLE.spectable1 TD.col1
{
    width: 130px;
    background-color: #F5F5E6;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}

TABLE.spectable1 TD.col2
{
    width: 230px;
    background-color: #F5F5E6;
    vertical-align: top;
}
/* ---------------End New SpecTable ------------------ */

/* ---------------Begin New OrderTable ----------------
TABLE.orderinfotable1
{
    font-family : Arial, FreeSans;
    width: 360px;
    background-color: #F5F5E6;
    color:#000000;
}

TABLE.orderinfotable1 tr
{
    font-family : Arial, FreeSans;
    background-color: #F5F5E6;
    color:#000000;
}
    
TABLE.orderinfotable1 TD.col1
{
    width: 180px;
    background-color: #F5F5E6;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}  

TABLE.orderinfotable1 TD.col2
{
    width: 180px;
    background-color: #F5F5E6;
    vertical-align: top;
}  

TABLE.orderinfotable1 TD.orderinginfo
{
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5E6;
}

/* ---------------End New OrderTable ------------------ */

/* ---------------Begin New OrderInfoTable2 -----------------

TABLE.orderinfotable2
{
    font-family : Arial, FreeSans;
    width: 360px;
    background-color: #F5F5E6;
    color:#000000;
}

TABLE.orderinfotable2 tr
{
    font-family : Arial, FreeSans;
    background-color: #F5F5E6;
    color:#000000;
}
    
TABLE.orderinfotable2 TD.col1
{
    width: 180px;
    background-color: #F5F5E6;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}  

TABLE.orderinfotable2 TD.col2
{
    width: ;
    background-color: #F5F5E6;
    vertical-align: top;
}  
TABLE.orderinfotable2 TD.col3
{
    width: ;
    background-color: #F5F5E6;
    vertical-align: top;
}  
TABLE.orderinfotable2 TD.col4
{
    width: ;
    background-color: #F5F5E6;
    vertical-align: top;
}  
TABLE.orderinfotable2 TD.col5
{
    width: ;
    background-color: #F5F5E6;
    vertical-align: top;
}  

TABLE.orderinfotable2 TD.orderinginfo
{
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5E6;
}

/* ---------------End New OrderInfoTable2------------------ */

/* ---------------Begin New PowerSupplyTable -----------------
{
    width: 360px;
    font-family : Arial, FreeSans;
    background-color: #F5F5E6;
}
TABLE.powerSupplyTable TD.tabTableHeader
{
    width: 360px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5E6;
}
TABLE.powerSupplyTable TR.tableHeader {
    background-color : #F5F5E6;
    font-weight : bold;
    font-size: 13px;
    text-align : center;
}
TABLE.powerSupplyTable TR.center{
    background-color : #F5F5E6;
    text-align : center;
}
/* ---------------End New PowerSupplyTable ------------------ */
/* ---------------Begin New BackplaneTable -----------------
TABLE.backplaneTable
{
    width: 556px;
    font-family : Arial, FreeSans;
    background-color: #F5F5E6;
}
TABLE.backplaneTable TD.tabTableHeader
{
    width: 360px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5E6;
}
TABLE.backplaneTable TR.tableHeader {
    background-color : #F5F5E6;
    font-weight : bold;
    font-size: 12px;
    text-align : center;
}

TABLE.backplaneTable TR.model {
    background-color : #F5F5E6;
    font-weight : bold;
    font-size: 12px;
    text-align : center;
}
TABLE.backplaneTable TD.backplane1 {
    background-color : #F5F5E6;
    font-weight : normal;
    text-align : left;
}

TABLE.backplaneTable TR.backplane {
    background-color : #F5F5E6;
    text-align : center;
}
/* ---------------End New BackplaneTable ------------------ */
/* ---------------Begin New SpecTable for LCD --------------
TABLE.spectableLCD
{
    width: 360px;
    font-family : Arial, FreeSans;
    background-color: #F5F5E6;
}

TABLE.spectableLCD TD.specs
{
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5E6;
}

TABLE.spectableLCD TD.greenArrow
{
    font-size: 11px;
    font-weight: bold;
    background-color: #F5F5E6;
}

TABLE.spectableLCD TD.col1
{
    width: 150px;
    background-color: #F5F5E6;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}

TABLE.spectableLCD TD.col2
{
    width: 210px;
    background-color: #F5F5E6;
    vertical-align: top;
}
/* ---------------End New SpecTable for LCD -----------------/

TABLE.orderinfotable
{
    font-family : Arial, FreeSans;
    margin-top: 12px;
    width: 350px;
    background-color: #259608;
    color:#fff;
}
    
TABLE.orderinfotable TD
{
    padding: 1px 3px 1px 13px;
    text-indent: -10px;
}  

TABLE.orderinfotable TD.orderinginfo
{
    font-size: 13px;
    font-weight: bold;
}

TABLE.inputtable
{
    width: 350px;
    font-family : Arial, FreeSans;
    cellspacing: 0;

}

XXTABLE.inputtable TD.col1
{
    width: 130px;
    background-color: #92ca83;
    font-weight: bold;
    text-align: right;
    valign: top;
}

XXTABLE.inputtable TD.col2
{
    width: 220px;
    background-color: #BDDFB4;
}
.style6 {
    font-weight : bold;
}
.model {
    background-color : #40DE7A;
    font-weight : bold;
    text-align : center;
}

.backplane1 {
    background-color : #DFE5E1;
    font-weight : normal;
    text-align : left;
}

.backplane {
    background-color : #DFE5E1;
    text-align : center;
}

#backplanetable {
    width : 360px;
}

#powersupplytable {
    width : 360px;
}
.accessories {
    color:#fff;
    font-size:9px;
    font-weight: bold;
    font-family : Arial, FreeSans;
    background: #1DAA1E;
    padding-left: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom:0px;
    border : #1DAA1;
    border-top : 1px solid Black;
}




/* ---------------Begin Tabs ------------------------------- */
#navigation a
{
color: #FFFFFF;
background: #1DAA1E url(/images/tabLeft75.gif) left top no-repeat;
text-decoration: none;
font-size: 10px;
font-weight: bold;
padding-left: 8px;
font-family : Arial, FreeSans;
}

#navigation a span
{
background: url(/images/tabRight75.gif) no-repeat right top;
padding-right: 8px;

}
#navigation a, #navigation a span
{
display: inline;
float: left
}

/* Hide from IE5-Mac \*/
#navigation a, #navigation a span
{
float: none;
}
/* End hide */

/* ---------------End Tabs---------------------------------- */

form .col1 span {
    color: #ff0000;
}
