/* CSS Document */
body{padding:0px; margin:0px; background:#e4d1b0; color:#523817; font:11px/14px Trebuchet MS, sans-serif;}
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px; height:0}

p a{font:11px/14px Tahoma, sans-serif; color:#88292e; text-decoration:underline;}
p a:hover{ color:#88292e; text-decoration:none; background:#FFF}

p span.headline{font:11px/14px Trebuchet MS, sans-serif; color:#88292e; font-weight:bold}

#ext_container{width:775px; margin:0 auto; background: url(../images/b_content.gif) 1px 0 repeat-y;}

#container{width:775px; margin:0 auto; border:#503615 1px solid; border-top: none; background: url(../images/news.jpg) 0 0 no-repeat}

ul.btn_more {width:90px;}
ul.btn_more li{background:url(../images/b_btn.gif) 0 0 no-repeat; display:block; text-align:center;  height:17px; padding-top:2px}
ul.btn_more li a{font:10px/14px Trebuchet MS, sans-serif; color:#fff; text-decoration:none; text-transform:uppercase}
ul.btn_more li a:hover{color:#e2b412;}

/* HEADER */

#header{width:775px; height:213px; position:relative; background:url(../images/news.jpg) 0 0 no-repeat}

#logo{
	position:absolute;
	top:105px;
	left:375px
}

#header img#quote1{position:absolute; top:295px; left:92px}

#header img#quote2{position:absolute; top:356px; left:285px}

#header ul.menu{position:absolute; top:13px; left:104px; width:580px}
#header ul.menu li{float:left; height:16px; margin-right:9px}
#header ul.menu li a{height:16px; display:block; text-indent:-20000px; }
#header ul.menu li a:hover{height:16px;}

#header ul.menu li.home a{width:41px; background:url(../images/btn_1.gif) 0 0 no-repeat; }
#header ul.menu li.home a:hover{width:41px; background:url(../images/btn_1_over.gif) 0 0 no-repeat;}

#header ul.menu li.story a{width:61px; background:url(../images/btn_2.gif) 0 0 no-repeat; }
#header ul.menu li.story a:hover{width:61px; background:url(../images/btn_2_over.gif) 0 0 no-repeat;}

#header ul.menu li.wines a{width:64px; background:url(../images/btn_3.gif) 0 0 no-repeat; }
#header ul.menu li.wines a:hover{width:64px; background:url(../images/btn_3_over.gif) 0 0 no-repeat;}

#header ul.menu li.visit a{width:50px; background:url(../images/btn_4.gif) 0 0 no-repeat; }
#header ul.menu li.visit a:hover{width:50px; background:url(../images/btn_4_over.gif) 0 0 no-repeat;}

#header ul.menu li.club a{width:63px; background:url(../images/btn_5.gif) 0 0 no-repeat; }
#header ul.menu li.club a:hover{width:63px; background:url(../images/btn_5_over.gif) 0 0 no-repeat;}

#header ul.menu li.events a{width:41px; background:url(../images/btn_6.gif) 0 0 no-repeat; }
#header ul.menu li.events a:hover{width:41px; background:url(../images/btn_6_over.gif) 0 0 no-repeat;}

#header ul.menu li.contacts {margin-right:0}
#header ul.menu li.contacts a{width:47px; background:url(../images/btn_7.gif) 0 0 no-repeat; }
#header ul.menu li.contacts a:hover{width:47px; background:url(../images/btn_7_over.gif) 0 0 no-repeat;}

#header ul.menu li.line {width:15px; background:url(../images/bullet_m.gif) 0 0 no-repeat}


/* CONTENT */

#content{width:605px; position:relative; clear:both; margin:0 auto;}

#leftPan{width:161px; margin:20px 33px 0 21px; float:left; display:inline}
#rightPan{width:374px; margin:24px 0 0 0; float:left;}

#news{margin-left:2px; margin-bottom:26px}
#news h2{height:18px; position:relative; background:url(../images/h_news.gif) 0 0 no-repeat; margin-bottom:11px}
#news p{margin-bottom:11px}
#news p span{display:block; width:75px; height:15px; margin-bottom:5px; font:11px/14px Trebuchet MS, sans-serif; color:#88292e; font-weight:bold; background:#f4f0e7; text-align:center; padding-top:1px}
#news p a{font:10px/14px Trebuchet MS, sans-serif; color:#503615; text-decoration:underline;}
#news p a:hover{ color:#503615; text-decoration:none;}
#news ul.btn_more{margin-left:68px}

#featured{margin-left:2px;}
#featured h2{height:18px; position:relative; background:url(../images/h_wines.gif) 0 0 no-repeat; margin-bottom:13px}
#featured .wineItem{margin-bottom:7px}
#featured .wineItem img{float:left; margin-right:15px; }
#featured .wineItem p{width:80px; float:left; padding-top:3px; font:10px/14px Trebuchet MS, sans-serif; }
#featured .wineItem  a{font:10px/14px Trebuchet MS, sans-serif; color:#503615; text-decoration:underline;}
#featured .wineItem  a:hover{ color:#503615; text-decoration:none;}

#welcome{margin-bottom:15px; background:url(../images/img_welcome.jpg) 0 55px no-repeat; min-height:205px}
#welcome h2{height:54px; position:relative; border-bottom:#523817 1px dotted; margin-bottom:9px;}
#welcome p#subtitle{width:305px; margin: 0 0 20px 57px; font:10px/12px Arial, Helvetica, sans-serif; color:#523817; text-transform:uppercase}
#welcome p#welText{width:220px; margin:0 0 15px 139px; }
#welcome ul.btn_more{margin-left:268px}

#history h2{height:35px; position:relative; background:url(../images/b_h_history.gif) 0 0 no-repeat; margin-bottom:18px}
#history h2 img{margin:7px 0 0 11px}
.historyItem{margin:0 0 17px 12px}
.historyItem img{float:left; margin-right:11px;}
.historyItem p{float:left; width:250px; padding-top:2px}
#history ul.btn_more{margin-left:268px}

/* FOOTER */

#footer{height:65px; clear:both; width:775px; margin-top:20px; background:url(../images/b_footer.gif) 0 0 repeat-x}
#footer p{padding: 20px 0 0 0; font:11px/16px Trebuchet MS, sans-serif; font-weight:normal; text-align:center; color:#e4d1b0;}
#footer p span{font:10px/16px Trebuchet MS, sans-serif; }
#footer p a{font:11px/16px Trebuchet MS, sans-serif; font-weight:normal; color:#e4d1b0; text-decoration:none; padding: 0 3px }
#footer p a:hover{text-decoration:none; background:#e4d1b0; color:#000}
