%button {
  position:relative;
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1.3em;
  padding: 1em;
  font-size:1em;
  text-decoration: none;
  background-image: none;
  @include transition(background 0.1s linear);
  text-shadow: none;
  em{
    display:block;
    font-weight: normal;
  }
  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn,
.btn-important {
  @extend %button;
}

.btn {}

.btn-important {}
