/*=== hide all login references ====*/
a[class=login], a[class=signup], form .form-inline.log-user, #header-panel { 
    display:none !important;
}

/*============ Custom Quote ===============*/
a.custom-quote{
  display:none;
  @include mq(large){
    background: url("http://www.icpamerica.com/assets/images/custom-quote.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 281px;
    position: fixed;
    right: 0;
    top: 30%;
    width: 80px;
    z-index: 100; 
  }
}
/*================= Utility Nav Area ===================*/
.header{
  #search-panel{
    .inner-wrap{
      padding-top:.5em;
      padding-bottom:.5em;
    }
    .utility-nav{
      margin-top: em(5);
      float:right;
      text-align: center;
      a{
        color:#fff;
        font-weight: bold;
        margin-left:1em;
      }
    }
    .m-menu {
      text-align: right;
      float:right;
      margin-bottom: 5px;

      img{
        width:25px;
      }
    }
    .utility-newsletter{
      font-weight: bold;
      text-align:left;
    }
    .utility-phone{
      font-weight: bold;
    }
    &.utility-item{
      display: none;
      @include mq(medium){
        font-weight: bold;
        display: inline-block;
      }
    }
  }
  .social-wrap{
    width: 170px;
    float: left;
    @include mq(small){
      display: none;
    }
  }
} 

@include mq(medium){
  .header{
    #search-panel{
      .inner-wrap{
      }
      .m-menu {
        display:none;
      }
      
        // &:nth-child(1){
        //   font-weight: bold;
        //   float:none;
        //   text-align:auto;
        // }
        // &:nth-child(2){
        //   font-weight: bold;
        //   float:none;
        // }
        // &:nth-child(3){
        //   display:none;
        // }
        // &:nth-child(4){
        //   display: none;
        // }
    }
  }  
} 
.broken-search{
  display: inline-block;
  margin-left:1em;
  display: none;
  @include mq(medium){
    float:right;
    display: block;
  }
  @include mq(large){
    float:left;
  }
  .search-input{
    width:81% !important;
    padding: 13px 10px !important;
    margin-bottom:0 !important;
    
  }
  .submit-input{
    top:0 !important;
  }
}
#search-panel input[type="submit"]{
  position: relative;
  top: -2px;
  display: inline-block;
  background: #AAA url(http://www.icpamerica.com/assets/images/icon-btn-magnify.png) no-repeat center;
  width: 24px;
  height: 24px;
  border: none; 
 }
// .utility-item{
//   display:none;
//   font-weight: bold;
//   @include mq(medium){
//     display: inline-block;
//   }
// }

.search-module{
  margin-top: -7em;
  height: 7em;
  background-color: rgba(0,0,0,0.7);
  transition: all .5s ease-in-out;
  &.active{
    margin-top: 0em;
  }
}
.search-link.active{
  background-color: #427700;
}
div.bg-panel{
  z-index: -5;
}

/*============== Logo & Nav Area ================*/

/* counteract legacy */
nav .menunav li a,nav .menunav, nav, .wrap.header, #search-panel,.wrap.footer, #search-panel ul, header{
  height:auto;
}

#search-panel ul{
  line-height: auto;
  width:auto;
}

header,footer,#main
{
  margin: auto;
  position: relative;
  width: auto;
}

nav .menunav{
  overflow: visible;
}

nav .menunav li{
  box-shadow: none;
  float:none;
}

/*--------------------*/

.site-header{
  .inner-wrap{
    padding-top:0;
    padding-bottom:0;
  }
}
header{
  max-width:1060px;
}
header #hdr-logo
{
  background: transparent url("http://www.icpamerica.com/assets/images/hdr-logo.png") no-repeat;
  background-size: 60%;

  background-position: 50%;
  height: 98px;
  width:100%;
  float:left;
  padding:1em 0;
}
nav{
  position:static;
  width:100%;
}

.menunav{
  ul{
    display: none;
    text-align: center;
    float:none;
    li{
      border-right:solid 1px #ccc;
      border-left:solid 1px $white;
      display: inline-block;
      &:last-child{
        border-right:none;
      }
      a{
        padding:.25em 12px;
        line-height:2em;
        display: inline-block;
        color:$black;
        text-transform: capitalize;
        font-size:14px;
        @include mq(medium){
          padding:.25em 4px;
        }
        @include mq(large){
          padding:.25em 11px;
        }
        &:hover{
          background-color: $green;
          color:$white;
        }
      }
    }
  }
  .m-show{
    display: block;
  }
}
@include mq(medium){
  header #hdr-logo{
    background-size:25%
  }
  .menunav{
    ul{
      display: block;
    }
  }
}

@include mq(large){
  header #hdr-logo{
    background-size:100%;
    @include span-columns(3 of 12);      
  }
  nav{
    position:static;
    @include span-columns(9 of 12);
  }
  .menunav{
    ul{
      width:100%;
      float:right;
      li{
        float:left;
        width:16.66%;
        a{
          line-height:6.5em;
        }
      }
    }
  }
}

/* home page style adjustments */
.home-page{
  article section{
    width:100% !important;
  }
  article{
    min-height:auto;
    overflow: hidden;
  }
}
/*===================== Hero Section =================*/
.si-content{
  width:100%;
  .btn{
    text-align:left;
    margin-right:1em;
    margin-bottom:1em;
    margin-top:1em;
  }
  h4{
    margin-top: 0;
    margin-bottom: 10px;
    color:#427700;
    font-weight: normal;
  }
  .hs-input{
    margin-bottom: 0;  
  }
  .hbspt-form{
    display: none;
  }  

  @include mq(medium){
    width:65%;
    .hbspt-form{  
      display: block;  
      max-width: 300px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #efefef;
      padding: 20px;
      width: 100%;

    }   
    .hs-form.stacked .actions{
      margin-left:0;
      padding-left:0;
      padding:0px;
      margin:0px;
      input{
        background-color: #427700;
        color:#fff;
        background-image: none;
        border-radius:0;
        border:0;
        text-shadow: 0;
      }
    }
  }
}

.si-header{
  color:#fff;
  text-shadow: 2px 2px #000000;
  @include mq(small){
    font-size: 28px;
  }
}
.si-subtext{
  width:80%;
  color:#fff;
  text-shadow: 2px 2px #000000;
  font-size: 1.6em;
  @include mq(small){
    font-size: 1.3em;
    width:100%;
  }
}

form#header-panel{
  text-align: center;
  width:100%;
  border-bottom:solid 20px transparent !important;
  height:200px;

  fieldset{
    display: none;
  }
  .img{
    color:$white;
    width:100%;
    font-size: 28px;
    position:relative;
    bottom:0;
    margin-top:40px;
    text-shadow: 2px 2px 3px #000;
    padding:10px 0;
  }
}
// .header-panel-img{
//   margin-top:40px;
//   display: none;
// }
#hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c{
  float:left;
  clear:left;
  margin-top:40px;
  display:block;
  margin:10px auto;
  width:100%;

  a#cta_button_549477_c4d067a7-c328-4738-bb42-22775c8e46ab{
    background: none;
    background-image: none !important;
    background-color: rgb(102,153,0) !important;
    border-radius: 0 !important;
    border: solid 1px #405500 !important;
  }
  h2{
    margin-top:10px!important;
    margin-bottom:10px!important;
  }
  h3{
    margin-top:0!important;
    margin-bottom:10px!important;
  }

}


.home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f{
  float:left;
  clear:left;
  margin-top:40px;
  display:block;
  margin:auto;

  a#cta_button_549477_c4d067a7-c328-4738-bb42-22775c8e46ab{
    background: none;
    background-image: none !important;
    background-color: rgb(102,153,0) !important;
    border-radius: 0 !important;
    border: solid 1px #405500 !important;
  }
  h2{
    margin-top:10px!important;
    margin-bottom:10px!important;
  }
  h3{
    margin-top:0!important;
    margin-bottom:10px!important;
  }
}

#home-page-cta .hs-cta-wrapper{
  float:left;
  clear:left;
  margin-top:40px;
  display:block;
  margin:auto;

  a{
    background: none;
    background-image: none !important;
    background-color:none !important;
    border-radius: 0 !important;
    border:none !important;
    img{
      width:100%;
    }
  }
  h2{
    margin-top:10px!important;
    margin-bottom:10px!important;
  }
  h3{
    margin-top:0!important;
    margin-bottom:10px!important;
  }
}

@include mq(medium){
  #home-page-cta{
    max-width:50%;
  }
 #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f, #home-page-cta .hs-cta-wrapper{
    max-width: 245px;
  }
  .home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f, #home-page-cta .hs-cta-wrapper{
    max-width: 100%;
  }
  .header-panel-img{
    float:left;
      max-width:50%;
      margin-top:40px;
      font-size:32px;
    }
  form#header-panel{
    text-align:left;
    max-width: 1060px;
    height:293px;
    
    fieldset{
      display:block;
        float:right;
        width:50%;
        max-height: 600px;
      }

    img{
      float:left;
      max-width:50%;
      margin-top:40px;
      font-size:32px;
    }
  }

  .home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f, #home-page-cta .hs-cta-wrapper{
    margin-top:20px;
  }
}

@include mq(large){
  .header-panel-img{
    float:left;
    max-width:600px;
    bottom:160px;
    position:absolute;
    font-size: 42px;
  }

  form#header-panel{
    height:340px;
    fieldset{
      width:338px;
      }

    // img{
    //   float:left;
    //   max-width:600px;
    //   bottom:0px;
    //   position:absolute;
    //   font-size: 42px;
    // }
  }

  .home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f, #home-page-cta .hs-cta-wrapper{
  }
}

div.bg-panel{
  height:900px;
  background-position: center;
  @include mq(medium){
    height:790px;
  }
}

/* ================== Product Module section =================== */

article.product-module-wrap{
  max-width:100%;
  background-color: #FFF;
}
section.product-module{
  max-width: 1010px;
  margin-right: auto!important;
  margin-left:auto;
  float: none;
}

/* ================== Product Preview section =================== */

.products-preview{
  background-color: #fff;
  .inner-wrap{
    padding-top:0em;
    padding-bottom:0em;
  }
}

.product-action{

}
article section .product-list li{
  width:100%;
}
article section .product-list li h2{
  text-align:center;
  background-color: #FFF;
}
article section .product-list li img{
  margin:auto;
}

@include mq(medium){
  article section .product-list li{
    width:50%;
  }
  article section .product-list li h2{
    text-align:center;
  }
  article section .product-list li img{
    margin:auto;
  }
}

@include mq(large){
  article section .product-list li{
    width:336px;
  }
  article section .product-list li h2{
    text-align:left;
  }
  article section .product-list li img{
    margin:0;
  }
}
/* ================== More Products section =================== */
article.company-info{
  text-align:center;
  max-width:99999px;
  
  section{
    max-width:1060px;
    width:100%;
    margin:0 auto!important;
    float:none;
    padding:0 20px;
  }
}

.more-products{
  .inner-wrap{
    padding-top:1em;
    padding-bottom:0em;
  }
}

@include mq(medium){
  article.company-info{
    text-align: left;
  }
  section{
    padding:0;
  }
}

/* ================== Additional Info section =================== */

  .home-page{
    article:nth-child(6){
      > section{
        > .table:nth-child(1){
          td{
            width:30% !important;
          }
          > thead{
            h3{
              width:auto;
            }
          }
        }
        > .table:nth-child(2){
          td{
            width:auto !important;
          }
        } 
      } 
      .table thead td[colspan="4"] h3{
        width:100%;
      }
    }
  }



@media (max-width: 40em) {
  .home-page{
    article:nth-child(6){
      > section{
        > .table:nth-child(1){
          td{
            width:auto !important;
            display: block;
          }
          > thead{
            > tr{
                td:nth-child(1){
                display:none;
              }
                td:nth-child(2){
                display:none;
              }
            }
            h3{
              width:auto;
            }
          } 
          > tbody{
            > tr{
              > td:nth-child(1){
                display:none;
              }
              > td:nth-child(2){
                display:none;
              }
            }
          }
        }
        > .table:nth-child(2){
          td{
            width:auto !important;
            display: block;
          }
        } 
      } 
    }
  }
}
.ds-bucket td{
  border:none !important;
  padding:0 !important;
}
.ds-bucket h3{
  font: 100 24px 'OswaldLight', sans-serif;
  margin-bottom: 1em;
  border-bottom: solid 1px #CCC;
}
.ds-bucket a, .c-bucket a{display:block};
.category-links{
  border-top:solid 1px #ccc;
  padding-top:1em;
}

/* ================== Footer Link section =================== */

.footer-links{
  margin-top:20px;
  border-top:solid 1px #ccc;
  text-align: center;

  .inner-wrap{
    padding-top:1em;
    padding-bottom:1.5em;
  }
 
  .fl-block{
    width:100%;
    a{
      display: block;
      color:#555;
      &:hover{
        color:$green;
      }
    }
  }
}

@include mq(medium){
  .footer-links{
    text-align: left;
    .fl-block{
      @include span-columns(3 of 12);
    }
  }
}

/* ======================= copywrite info ==================*/
.footer{
  p{
    padding:0;
    margin:0;
  }
}

.wrap.footer{
  padding:20px;
}

/* ======================= Destination Pages =================== */

article {
    width: auto;
    min-height: 500px;
    margin: auto;
    padding: 20px;
    border-left: none;
    max-width:1100px;
}

article section {
    @include span-columns(12 of 12);
    margin-left:0;
    @include omega;
}

article aside {
  @include span-columns(12 of 12);
  margin-left:0;
}

.single-hover{
  width:auto;
}

.nav-wrapper{
  width:auto;
}

.single-nav-wrap{
  width:auto;
}

@include mq(medium){
  article section {
    @include span-columns(8 of 12);
    margin-left:0;
    @include omega;
  }

  article aside {
    @include span-columns(4 of 12);
    margin-left:0;
  }

  .single-hover{
    width:auto;
  }

  .nav-wrapper{
    width:auto;
  }

}

@include mq(large){
  article section {
    @include span-columns(9 of 12);
    margin-left:0;
    @include omega;
  }

  article aside {
    @include span-columns(3 of 12);
    margin-left:0;
  }

  .single-hover{
    width:auto;
  }

  .nav-wrapper{
    width:auto;
  }
}

/* ======================= Product List Items =================== */

.panel-pc{
  width:100%;
  
  ul {
    width:100%;
    li{
      margin:0;
      text-align:left;
      @include span-columns(12 of 12);
      a.img{
        width:auto;
      }
    }
  }
}

@include mq(medium){
  .panel-pc{
    ul{
      li{
        @include span-columns(4 of 12);
        @include omega(3n);
      }
    }
  }
}

.product-listing{
  width:auto;

  table{
    td.product-img{
      width:auto;
      img{
        display: none;
      }
    }
  }
}

@include mq(medium){
  .product-listing{
    .product-action{
      h4{
        display:none;
      }
    }
    table{
      td.product-img{
        width: 190px;
        img{
          display: block;
          display: inline-block;
        }
      }
    }
  }
}

.product-listing table td.product-action a.view{
  width:60px;
}

/* =======================Product Details Stuff ====================*/
.product-description, .pull-right{
  @include span-columns(12 of 12);
}
.pull-left{
  @include span-columns(12 of 12);
}

.img-gallery dt{
  width:auto;
  padding:20px;
  height:auto;
  line-height:0;
}

.product-description .form-inline{
  line-height: 0px;
}

.product-description .product-info{
  padding:20px;
  height:267px;
  @include mq(large){
    height: 222px;
  }
  @include mq(xlarge){
    height: 206px;
  }
}
.product-description fieldset.product-media{
    margin-bottom:10px;
  }

@include mq(medium){
  .product-description, .pull-right{
    @include span-columns(7 of 12);
  }
  .pull-left{
    @include span-columns(5 of 12);
  }
}
/* ========================== Form Stuff ===========================*/

td.col1{
  text-align:left;
}
.class-form dl dt, .class-form dl dd{
  width:100%;
}

fieldset.form-inline{
  padding:0;
  label{

  }
  input{
    border-radius:5px;
    padding:15px;
  }
}

.span6.new-account, .span6.exist-account{
  width:100%;
}

.new-account{
  border-bottom:solid 1px #ccc;
  margin-bottom:20px;
  .btn_submit{
    margin-bottom:20px;
    display: inline-block;
  }
}

@include mq(medium){
  .new-account{
    @include span-columns(6 of 12);
  }
  .exist-account{
    @include span-columns(6 of 12);
  }
  .class-form dl dt{
    width:18%;
  }
  .class-form dl dd{
    width:80%;
  }
}

/* ========================== News Page Stuff =============================*/
.dl-horizontal dt{
  width:100%;
}
.dl-pdf-date{
  text-align:left;
}
.dl-pdf{
  float:left;
}

.dl-horizontal dd{
  margin-left:0;
}

@include mq(medium){
  .dl-horizontal dt{
    width:160px;
  }
  .dl-horizontal dd{
    margin-left:160px;
  }
}

/* ======================Mobile Accordian hide =============*/

.accordion-body ul{
  display:none;
}

@include mq(medium){
  .accordion-body ul{
    display:block;
  }
}

/* ======================= Homepage Hubspot Call to Action ==============*/
// .home-cta-wrapper{
//       bottom: 40px;
//       left: 0;
//       position: absolute;
//       img{
//       width:100%;
//       }
// }

/*=============== Resources Module ===============*/

.resources-module {
  background-color: #f5f5f5;
}

.rm-item {
  text-align: center;
  background-color: #f5f5f5;
  padding: 1em !important;
  &:hover {
    .rm-item-img {
      @include transform(scale(1.05));
    }
  }
  @include mq(medium) {
    margin-bottom: 0;
  }
}

.rm-item-cta {
  text-shadow: none;
  padding: 1em;
  font-size: 1em;
  background: #427700;
}

.rm-item-img {
  @include transition(all .15s ease-in-out);
  margin-bottom: 1em;
  img {
    max-width: 100%;
    object-fit: contain;
    height: 19.375em;
  }
}

.rm-item-title {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  position: relative;
  display: inline-block;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  color: #666769;
  position: relative;
  z-index: 10;
  span {
    line-height: 1.25em;
    display: inline-block;
  }
}

/* ================= Resource PAGE ( Page is different from module) ================*/
.resource-page{
div{
text-align:center;
margin-bottom:15px;
img{
  border:1px solid $green;
  margin-bottom: 10px;
}
span{
  display:block;
  font-weight:bold;
  margin:0 auto;
  max-width:83%;
}
@include mq(medium){
  @include span-columns(6 of 12);
  }
}
}
.list-style-none{
  li{
    border:none;
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
.product-links{
  text-decoration:underline;
  font-weight:bold;
}
.panel-pc-list-style{
    li{
    display: list-item !important;
    border:none;
    list-style: disc;
    margin-left: 20px !important;
    clear:both !important;
    margin-bottom:20px !important;
    min-height:auto!important;
    width:100% !important;
  }
}

/* ========================== Google Custom Search Reset ===========================*/
.google-search-mobile{
  display:none;
  width:200px;
}

html .gsc-above-wrapper-area{
  @include mq(small){
    display: none !important;
  }
}

html table.gsc-search-box tbody tr td *{
  height:25px !important;
  font-size:18px !important;
}

html div.gs-title *, html div.gs-visibleUrl{
  font-size:18px !important;
  height:auto  !important;
}

html div.gs-title{
  line-height: 2em !important;
  height:auto !important;
  margin-bottom: 0 !important;
}

html div.gs-snippet *, html div.gs-snippet{
  font-size:16px !important;
}

html div.gsc-result{
  box-shadow:none !important;
  margin:0 !important;
  padding:0 !important;
}

html .gsc-results-wrapper-overlay{
  width:auto !important;
  max-width:750px !important;
  left:0 !important;
  right:0 !important;
  margin:auto !important;
  top:5% !important;
}

.google-search{
  
  width: 200px;
  left:10px;
  @include mq(medium){
    display: block;
    float:right;
  }
  @include mq(large){
    float:left;
  }
}


.cse .gsc-control-cse, .gsc-control-cse {
  background-color: transparent !important;
  border: 0 !important;
}

html .gsc-search-box {
  height:25px !important;
  margin-top:0 !important;
  background: none !important;
  td {
    padding: 0;
    border-bottom: 0 !important;
  }
}


.gsc-input-box table{
  margin:0 !important;
}

.gsc-control-cse.gsc-control-cse-en{
  padding:0 !important;
}

input.gsc-search-button{
  margin-left:0px !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2{
    padding: 6px 7px !important;
    min-width: 10px !important;
    margin-top: 0px !important;
    width:auto !important;
    height:auto !important;
}

.cse input.gsc-search-button, input.gsc-search-button{
  border-radius:0px !important;
  border:none !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input{
  margin-top: -5px !important;
}
// .gssb_c {
//   z-index: 500000000 !important;
//   margin: 0 !important;
// }

// .gsc-clear-button {
//   display: none !important;
// }

// .gsc-adBlock,
// .gsc-adBlockVertical {
//   height: 0 !important;
//   display: none !important;
// }

// .gs-web-image-box {
//   display: none;
// }

// .gsc-search-box td {
//   vertical-align: top !important;
// }

// .gsc-above-wrapper-area {
//   border-bottom: 0 !important;
// }

// .gsc-input {
//   border: 1px solid transparent !important;
//   input {
//     background: #fff !important;
//   }
// }
// .gsc-selected-option-container {
//   min-width: 85px !important;
// }
// td.gsc-search-button{
//   width:10% !important;
// }

// input.gsc-search-button{
//   background-color: #427700 !important;
// }

body {
  .header-container-wrapper{
    visibility: hidden;
  }
    .body-container-wrapper{
      padding-top: 0px;
    }
}
/* Layouts for Hubspot */
.site-content {
  @include mq(large) {
    &.one-column {
      .site-content-primary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .site-content-secondary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.two-column {
      .site-content-primary {
        @include span-columns(8 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.three-column {
      .site-content-primary {
        @include span-columns(4 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
      }
      .additional-content {
        @include span-columns(4 of 12);
        @include omega;
      }
    }
    &.two-column-alt {
      .site-content-primary {
        @include span-columns(8 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
        @include omega;
      }
      .additional-content {}
    }
  }
}
