						 <!--
						 A  {
						 	text-decoration : none;
						 	font-family : verdana,geneva,sans-serif;
						 	text : bold;
						 	font-size : 12px;
						 	color : #003399;
						 	font-style : normal;
						 	font-weight : bold;
						 }
						 A:visited  {
						 	text-decoration : none;
						 	font-family : verdana,geneva,sans-serif;
						 	font-size : 12px;
						 	color : #006600;
						 	font-weight : bold;
						 }

						 A:hover  {
						 	text-decoration : underline;
						 	font-family : verdana,geneva,sans-serif;
						 	font-size : 12px;
						 	color : #2992d4;
						 	font-weight : bold;
						 }
						 A.two  {
						 	text-decoration : NONE;
						 	font-family :Helvetica, Arial, sans-serif;
						 	color : #FFFFFF;
						 	font-weight : bold;
						 	font-size : 12px;
						 }
						 A.two:visited  {
						 	text-decoration : NONE;
						 	font-family :Helvetica, Arial, sans-serif;
						 	color : #FFFCE8;
						 	font-weight : bold;
						 	font-size : 12px;
						 }

						 A.two:hover  {
						 	text-decoration : underline;
						 	font-family :Helvetica, Arial, sans-serif;
						 	color :#66FFCC;
						 	font-weight : bold;
						 	font-size : 12px;
						 }
						 A.three  {
						 	text-decoration : none;
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #FFFFFF;
						 	font-weight : bold;
						 	font-size : 12px;
						 }
						 A.three:visited  {
						 	text-decoration : none;
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #FFFFCC;
						 	font-weight : bold;
						 	font-size : 12px;
						 }

						 A.three:hover  {
						 	text-decoration : underline;
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #33FFFF;
						 	font-weight : bold;
						 	font-size : 12px;
						 }
						 .three  {
						 	text-decoration : none;
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #000000;
						 	font-weight : bold;
						 	font-size : 12px;
						 }
						 .menu  {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : Maroon;
						 	font-weight : normal;
						 	font-size : 11px;
						 }
						 .title {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #000099;
						 	font-weight : bold;
						 	font-size : 16px;
						 }
						 .productinfo {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #990000;
						 	font-weight : normal;
						 	font-size : 12px;
						 }
						 .producttitle {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #006600;
						 	font-weight : bold;
						 	font-size : 15px;

						 }
						 .main {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #000066;
						 	font-weight : normal;
						 	font-size : 13px;
						 }
						 .table {
							font-family : Arial, Helvetica, sans-serif;
							color : #000000;
							font-weight : normal;
							font-size : 12px;
							background : #7dccea;						
						}
						.features {
							font-family : Arial, Helvetica, sans-serif;
							color : #000066;
							font-weight : bold;
							font-size : 16px;
							background : #66ccff;
						}
						.address {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #000066;
						 	font-weight : normal;
						 	font-size : 13px;
						 }
						 .menutitle {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #FFFFFF;
						 	font-weight : bold;
						 	font-size : 13px;
						 }
						 td {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #000000;
						 	font-weight : normal;
						 	font-size : 13px;
						 }
						 .menu  {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #ffffff;
						 	font-weight : bold;
						 	font-size : 11px;
						 }
						 .title {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #000099;
						 	font-weight : bold;
						 	font-size : 16px;
						 }
						 .sublink {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #990000;
						 	font-weight : bold;
						 	font-size : 15px;
						 	font-style : italic;
						 }
						 .infotitles {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #006600;
						 	font-weight : bold;
						 	font-size : 15px;

						 }
						 .main {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #000066;
						 	font-weight : normal;
						 	font-size : 13px;
						 }
						 .address {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #000066;
						 	font-weight : normal;
						 	font-size : 13px;
						 }
						 .menutitle {
						 	font-family : Arial, Helvetica, sans-serif;
						 	color : #FFFFFF;
						 	font-weight : bold;
						 	font-size : 13px;
						 }
						 -->

/* ---------------Begin Footer Elements------------------ */
td#footercell
{
	 padding: 0;
	 vertical-align: top;
}


#footer{
    text-align:center;
    width:980px;
    height:48px;
    background: #2C2C2C;
    padding: 15px 0px 0px 0px;
    color:#D5D5D5;
    clear:both;
    line-height:18px;
    margin-left:0px;

}

#footer a:visited {
	color: Yellow;
}


#footer a:link, #footer a:active{
    text-decoration:none;
    color:#D5D5D5;
    padding:0px 2px 0px 2px;
}

#footer a:hover{
    text-decoration: underline;
}						 


#news_body{
	width:650px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.news_body li{
	display:block;
	list-style:none;
	background-color:#E7E7E7;
	border-bottom:solid 3px;
	border-bottom-color:#333333;
	border-right:solid 3px;
	border-right-color:#333333;
	border-top:solid 1px;
	border-top-color:#999999;
	border-left:solid 1px;
	border-left-color:#999999;
	float:left;
	font-size: 12px;
	line-height: 20px;
	margin-top: 5px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 5px;
}
