/*----------------------------------------
Name: page.css | Version: 1 [xhtml5]
Developed by: Mark Joseph Rivera
Date Created: April 2010
Last Updated: -- --, 2010
Copyright: 2010 @ Dog and Rooster
----------------------------------------*/

/* Elements
----------------------------------------*/

/*Page Manager*/
#page_manager 													{ float:left; width:1070px; margin:15px 0; border:solid 1px #CCC; }
#page_manager thead, tbody 							{ width:1070px; padding:5px; }
#page_manager thead td 									{ background:#CCC; font-weight:bold; text-indent:5px; padding:7px 3px; }
#page_manager tbody td 									{ text-indent:5px; padding:5px 3px; }
#page_manager tbody td img							{ display:inline; margin:0 12px; }
	#page_manager tbody .row1 						{ background:#FFF; }
	#page_manager tbody .row2							{ background:#EFEFEF; }
	#page_manager tbody tr:hover					{ background:#DDD; } 
#page_manager tfoot th 									{ background:#CCC; padding:5px; }
#page_manager tfoot dl 									{ float:left; font-size:11px; font-weight:normal; width:100%; }
#page_manager tfoot dl dd								{ color:#999; margin:0; }
#page_manager tfoot dl dd a							{ color:#555; margin:0; }


/*Create New Page*/
#form_page 															{ float:left; width:1050px; margin:15px 0; }
#form_page fieldset 										{ width:1050px; margin-bottom:20px; padding:10px; }
#form_page legend 											{ font:normal 15px Arial; color:#777; padding:0 10px; }
#form_page ul 													{ display:block; list-style:none; width:auto; margin:10px 0; }
#form_page ul li 												{ margin-bottom:10px; }
#form_page input 												{ display:block; width:350px; margin:2px 0; padding:5px; }
#form_page textarea 										{ display:block; width:550px; height:75px; margin:2px 0; padding:5px; overflow:auto; }

table.variants td  {text-align:left;}
table.variants td input {float:right; margin:0 20px;}
table.variants td input {width:200px !important;}
#store_page input {width:200px !important;}


/* IE Hack Elements
----------------------------------------*/
