/*!

 * CSS Modification by Mark Rivera & Richard Hilton - Dog and Rooster, Inc., 2013

 * Copyright by M.Rivera & R.Hilton, 2013

 *

 * CSS Home

 */



/* OVERRIDE STYLES */



html {

  font-size: 100%;

  -webkit-text-size-adjust: 100%;

  -ms-text-size-adjust: 100%;

}

body {

	position: relative;

}



div.bg-panel {

	position: absolute;

	top: 0;

	left: 0;

	background: url(../images/bg-panel_mini.jpg) no-repeat center bottom;

	background-size: cover;

	width: 100%;

	height: 470px;

	z-index: 0;

}





form#header-panel {

	position: relative;

	width: 1050px;

	height: 340px;

	margin: 0 auto;

	border-bottom: solid 20px #FFF;

}

form#header-panel img {

	position: absolute;

	bottom: 0;

	left: 0;

}

form#header-panel fieldset {

	position: absolute;

	top: 0;

	right: 20px;

	background: #F3F3F3;

	width: 335px;

	height: 230px;

	padding: 10px 15px;

}

form#header-panel fieldset h3 {

	font-weight: 300;

	color: #427700;

	margin: 0 0 10px;

}

form#header-panel fieldset .user-field {

	font-size: 13px;

}

form#header-panel fieldset .user-field input {

	width: 96%;
	height: 30px;

}

form#header-panel fieldset .unstyled input {

	position: relative;

	top: -4px;

}

form#header-panel fieldset .unstyled button {

	display: block;

	background: #427700;

	color: #FFF;

	text-shadow: none;

}

form#header-panel fieldset .user-access {

	font-size: 12px;

	color: #427700;

}

form#header-panel fieldset .user-access a {

	color: #444;

}



article {

	width: 100%;

}

article section {

	width: 1010px;

	margin: 0 auto;

}

article section .product-list {

	width: 100%;

	height: auto;

}

article section .product-list li {

	float: left;

	width: 336px;

	height: 200px;

	margin: 0 0 10px;

}

article section .product-list li h2 {

	font-size: 20px;

	font-weight: 300;

	color: #427700;

	margin: 0 0 5px;

}

article section .product-list li img {

	display: block;

	width: 336px;

	height: 150px;

	border: solid #CCC;

	border-width: 1px 1px 1px 0;

}

article section .product-list li:nth-child(3n+1) img {

	border-left: solid 1px #CCC;

}

article.company-info {

	background: #666769;

	font-size: 17px;

	color: #FFF;

	line-height: 26px;

	height: 180px;

	margin-bottom: 10px;

	padding: 10px 0;

}

article.company-info h2 {

	font-weight: 300;

}

article.company-info a {

	color: #FFF;

}

article .table thead h3 {

	font: 100 24px 'OswaldLight', sans-serif;

	width: 320px;

	margin-bottom: 0;

	border-bottom: solid 1px #CCC;

}

article .table thead td[colspan="4"] h3 {

	width: 1000px;

}

article .table td {

	font-size: 13px;

	width: 336px;

	border: none;

}

article .table table td {

	padding: 0;

}


a.custom-quote {
    background: url("../images/custom-quote.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 281px;
    position: fixed;
    right: 0;
    top: 30%;
    width: 80px;
    z-index: 100;
}
