/*!
Theme Name: 	Default Template
Theme URI: 		http://julian.is
Description: 	Default theme for .
Version: 		1.0
Author: 		Julian Gaviria
Author URI: 	julian.is
Tags: 			starkers, naked, clean, basic, html5, boilerplate, sass, smacss
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013-2014 thoughtbot, inc.
 * MIT License */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  display: block; }
  .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.lt-ie9 .rows-of-2 {
  display: block; }
  .lt-ie9 .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-2 > * {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block !important;
        clear: none !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.lt-ie9 .rows-of-3 {
  display: block; }
  .lt-ie9 .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-3 > * {
        float: left;
        width: 33.3% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

.rows-of-4 {
  display: block; }
  .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

.lt-ie9 .rows-of-4 {
  display: block; }
  .lt-ie9 .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-4 > * {
        float: left;
        width: 25% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

@media (max-width: 40em) {
  .mobile-rows-of-2 {
    display: block; }
    .mobile-rows-of-2::after {
      clear: both;
      content: "";
      display: table; }
    .mobile-rows-of-2 > * {
      margin-bottom: 1.5em;
      display: block;
      position: relative;
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .mobile-rows-of-2 > * > *:first-child {
        margin-top: 0; }
      .mobile-rows-of-2 > *:nth-last-child(1) {
        background-color: red;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:nth-last-child(2) {
        background-color: green;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:last-child {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n) {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n+1) {
        clear: left; } }

.row {
  display: block;
  clear: both; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

@media (min-width: 40em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .col-1:last-child {
      margin-right: 0; }
  .col-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%; }
    .col-2:last-child {
      margin-right: 0; }
  .col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .col-3:last-child {
      margin-right: 0; }
  .col-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-4:last-child {
      margin-right: 0; }
  .col-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-5:last-child {
      margin-right: 0; }
  .col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-6:last-child {
      margin-right: 0; }
  .col-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-7:last-child {
      margin-right: 0; }
  .col-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-8:last-child {
      margin-right: 0; }
  .col-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-9:last-child {
      margin-right: 0; }
  .col-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-10:last-child {
      margin-right: 0; }
  .col-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-11:last-child {
      margin-right: 0; }
  .col-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }
  .col-last {
    margin-right: 0;
    margin-right: 0 !important; } }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, OswaldBook, OswaldLight;
  font-size: 0.875em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, OswaldBook, OswaldLight;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 3.125em;
  margin-top: 0;
  margin-bottom: 32px; }

h2 {
  font-size: 2em;
  margin-top: 24px;
  margin-bottom: 16px; }

h3 {
  font-size: 1.6875em;
  margin-top: 24px;
  margin-bottom: 16px; }

h4 {
  font-size: 1.3125em;
  margin-top: 16px;
  margin-bottom: 16px; }

h5 {
  font-size: 0.875em;
  margin-top: 16px;
  margin-bottom: 16px; }

h6 {
  font-size: 0.875em;
  margin-top: 16px;
  margin-bottom: 16px; }

p {
  margin: 16px 0; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #427700;
  text-decoration: none; }
  a:hover {
    color: #264400; }
  a:active, a:focus {
    color: #264400;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  padding: 0;
  margin: 0; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, OswaldBook, OswaldLight;
  font-size: 0.875em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, OswaldBook, OswaldLight;
  font-size: 0.875em;
  margin-bottom: 1.5em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

/*=============== Spec Tables ===============*/
.spec-table {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  background: #fcfcfc; }

.spec-thead {
  display: block; }

.spec-table-row {
  display: block;
  width: 100%; }

.spec-cell {
  display: block;
  border: .2em solid #ffffff;
  padding: .5em .8em;
  vertical-align: top; }
  .spec-cell p {
    margin: .5em 0; }
  .spec-cell > ul {
    margin: .5em 0; }
    .spec-cell > ul > li {
      margin-bottom: 0 !important; }
      .spec-cell > ul > li ul {
        padding: 0 0 0 1.8em; }
  .spec-cell input, .spec-cell select {
    width: 100%; }

.spec-col {
  display: table-column; }

.spec-col-1 {
  width: 100%; }

.spec-col-2 {
  width: 100%; }

@media (min-width: 40em) {
  .spec-table {
    display: table; }
  .spec-thead {
    display: table-header-group; }
  .spec-table-row {
    display: table-row; }
  .spec-cell {
    display: table-cell; }
    .spec-cell p {
      font-size: 1em; }
  .spec-spec-col-1 {
    width: 30%; }
  .spec-spec-col-2 {
    width: 70%; } }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold; }
  dl dd {
    margin: 0; }

.site-content-primary ul {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .site-content-primary ul li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5em; }
    .site-content-primary ul li p {
      font-size: 16px; }
    .site-content-primary ul li a {
      text-decoration: none;
      font-weight: normal; }
    .site-content-primary ul li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(http://www.icpamerica.com/assets/images/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

.bullet-style {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .bullet-style li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5em; }
    .bullet-style li p {
      font-size: 16px; }
    .bullet-style li a {
      text-decoration: none;
      font-weight: normal; }
    .bullet-style li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(http://www.icpamerica.com/assets/images/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

button, input[type="submit"], .btn, .btn-important {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #fb4a08;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.3em;
  padding: 1em;
  font-size: 1em;
  text-decoration: none;
  background-image: none;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  text-shadow: none; }
  button em, input[type="submit"] em, .btn em, .btn-important em {
    display: block;
    font-weight: normal; }
  button:hover, input[type="submit"]:hover, .btn:hover, .btn-important:hover {
    background-color: #cd3a03;
    color: white; }
  button:disabled, input[type="submit"]:disabled, .btn:disabled, .btn-important:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap::after {
    clear: both;
    content: "";
    display: table; }
  .inner-wrap > *:first-child {
    margin-top: 0; }
  .inner-wrap > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 40em) {
    .inner-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.media-object {
  overflow: hidden; }

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%; }
  .media-object-img img {
    width: 100%; }

.media-object-body {
  width: 75%;
  float: left; }

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em; }

.media-grid-2 > * {
  margin-bottom: 1em; }
@media (min-width: 40em) {
  .media-grid-2 > * {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 48.4157821556%;
    margin-bottom: 1.5em; }
    .media-grid-2 > *:last-child {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n) {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n+1) {
      clear: left; } }

/*=============== Social Media ===============*/
.social-wrap {
  overflow: hidden;
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/ }
  .social-wrap a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative; }
    .social-wrap a path {
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      transition: all .1s linear; }
    .social-wrap a:hover {
      opacity: .75; }
      .social-wrap a:hover path {
        fill: #477DCA; }
  .social-wrap img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle; }
  .social-wrap svg {
    display: inline-block;
    vertical-align: middle; }

/*=============== Slide Panel ===============*/
.slide-panel {
  display: none;
  position: fixed;
  background: #333;
  color: #fff;
  height: 100%;
  width: 21.25em;
  right: -em(340);
  top: 14%;
  z-index: 10;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  .slide-panel h2 {
    padding: .2em 1em; }
  .slide-panel p {
    background: #333;
    padding: .25px 2em; }
  .slide-panel label {
    color: #ffffff !important; }
  .slide-panel:hover {
    right: 0px; }
  @media (min-width: 40em) {
    .slide-panel {
      display: block; } }

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: #333;
  min-width: 200px; }

/*=============== Slide Box ===============*/
#slidebox {
  padding: 0.625em 0.625em 0.625em 1em;
  position: fixed;
  bottom: 0;
  right: -em(430);
  z-index: 1000;
  width: 100%; }
  @media (min-width: 40em) {
    #slidebox {
      width: auto; } }

a.close {
  background-color: white;
  color: #477DCA;
  text-align: center;
  float: left;
  padding: 0 0.5em;
  font-size: 0.6875em;
  border-radius: 0.1875em;
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em; }

a.close:hover {
  background-color: rgba(255, 255, 255, 0.75); }

/*=============== Misc ===============*/
hr {
  display: block;
  clear: both; }

figure {
  margin: 0;
  padding: 0; }

.wp-pagenavi > * {
  margin-right: .75em; }

.hs-form fieldset.form-columns-1 .hs-input {
  width: 100% !important; }

/*=== hide all login references ====*/
a[class=login], a[class=signup], form .form-inline.log-user, #header-panel {
  display: none !important; }

/*============ Custom Quote ===============*/
a.custom-quote {
  display: none; }
  @media (min-width: 60em) {
    a.custom-quote {
      background: url("http://www.icpamerica.com/assets/images/custom-quote.png") no-repeat scroll 0 0 transparent;
      cursor: pointer;
      display: block;
      height: 281px;
      position: fixed;
      right: 0;
      top: 30%;
      width: 80px;
      z-index: 100; } }

/*================= Utility Nav Area ===================*/
.header #search-panel .inner-wrap {
  padding-top: .5em;
  padding-bottom: .5em; }
.header #search-panel .utility-nav {
  margin-top: 0.3125em;
  float: right;
  text-align: center; }
  .header #search-panel .utility-nav a {
    color: #fff;
    font-weight: bold;
    margin-left: 1em; }
.header #search-panel .m-menu {
  text-align: right;
  float: right;
  margin-bottom: 5px; }
  .header #search-panel .m-menu img {
    width: 25px; }
.header #search-panel .utility-newsletter {
  font-weight: bold;
  text-align: left; }
.header #search-panel .utility-phone {
  font-weight: bold; }
.header #search-panel.utility-item {
  display: none; }
  @media (min-width: 40em) {
    .header #search-panel.utility-item {
      font-weight: bold;
      display: inline-block; } }
.header .social-wrap {
  width: 170px;
  float: left; }
  @media (max-width: 40em) {
    .header .social-wrap {
      display: none; } }

@media (min-width: 40em) {
  .header #search-panel .m-menu {
    display: none; } }

.broken-search {
  display: inline-block;
  margin-left: 1em;
  display: none; }
  @media (min-width: 40em) {
    .broken-search {
      float: right;
      display: block; } }
  @media (min-width: 60em) {
    .broken-search {
      float: left; } }
  .broken-search .search-input {
    width: 81% !important;
    padding: 13px 10px !important;
    margin-bottom: 0 !important; }
  .broken-search .submit-input {
    top: 0 !important; }

#search-panel input[type="submit"] {
  position: relative;
  top: -2px;
  display: inline-block;
  background: #AAA url(http://www.icpamerica.com/assets/images/icon-btn-magnify.png) no-repeat center;
  width: 24px;
  height: 24px;
  border: none; }

.search-module {
  margin-top: -7em;
  height: 7em;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all .5s ease-in-out; }
  .search-module.active {
    margin-top: 0em; }

.search-link.active {
  background-color: #427700; }

div.bg-panel {
  z-index: -5; }

/*============== Logo & Nav Area ================*/
/* counteract legacy */
nav .menunav li a, nav .menunav, nav, .wrap.header, #search-panel, .wrap.footer, #search-panel ul, header {
  height: auto; }

#search-panel ul {
  line-height: auto;
  width: auto; }

header, footer, #main {
  margin: auto;
  position: relative;
  width: auto; }

nav .menunav {
  overflow: visible; }

nav .menunav li {
  box-shadow: none;
  float: none; }

/*--------------------*/
.site-header .inner-wrap {
  padding-top: 0;
  padding-bottom: 0; }

header {
  max-width: 1060px; }

header #hdr-logo {
  background: transparent url("http://www.icpamerica.com/assets/images/hdr-logo.png") no-repeat;
  background-size: 60%;
  background-position: 50%;
  height: 98px;
  width: 100%;
  float: left;
  padding: 1em 0; }

nav {
  position: static;
  width: 100%; }

.menunav ul {
  display: none;
  text-align: center;
  float: none; }
  .menunav ul li {
    border-right: solid 1px #ccc;
    border-left: solid 1px #ffffff;
    display: inline-block; }
    .menunav ul li:last-child {
      border-right: none; }
    .menunav ul li a {
      padding: .25em 12px;
      line-height: 2em;
      display: inline-block;
      color: #000000;
      text-transform: capitalize;
      font-size: 14px; }
      @media (min-width: 40em) {
        .menunav ul li a {
          padding: .25em 4px; } }
      @media (min-width: 60em) {
        .menunav ul li a {
          padding: .25em 11px; } }
      .menunav ul li a:hover {
        background-color: #427700;
        color: #ffffff; }
.menunav .m-show {
  display: block; }

@media (min-width: 40em) {
  header #hdr-logo {
    background-size: 25%; }
  .menunav ul {
    display: block; } }

@media (min-width: 60em) {
  header #hdr-logo {
    background-size: 100%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    header #hdr-logo:last-child {
      margin-right: 0; }
  nav {
    position: static;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    nav:last-child {
      margin-right: 0; }
  .menunav ul {
    width: 100%;
    float: right; }
    .menunav ul li {
      float: left;
      width: 16.66%; }
      .menunav ul li a {
        line-height: 6.5em; } }

/* home page style adjustments */
.home-page article section {
  width: 100% !important; }
.home-page article {
  min-height: auto;
  overflow: hidden; }

/*===================== Hero Section =================*/
.si-content {
  width: 100%; }
  .si-content .btn {
    text-align: left;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em; }
  .si-content h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #427700;
    font-weight: normal; }
  .si-content .hs-input {
    margin-bottom: 0; }
  .si-content .hbspt-form {
    display: none; }
  @media (min-width: 40em) {
    .si-content {
      width: 65%; }
      .si-content .hbspt-form {
        display: block;
        max-width: 300px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #efefef;
        padding: 20px;
        width: 100%; }
      .si-content .hs-form.stacked .actions {
        margin-left: 0;
        padding-left: 0;
        padding: 0px;
        margin: 0px; }
        .si-content .hs-form.stacked .actions input {
          background-color: #427700;
          color: #fff;
          background-image: none;
          border-radius: 0;
          border: 0;
          text-shadow: 0; } }

.si-header {
  color: #fff;
  text-shadow: 2px 2px #000000; }
  @media (max-width: 40em) {
    .si-header {
      font-size: 28px; } }

.si-subtext {
  width: 80%;
  color: #fff;
  text-shadow: 2px 2px #000000;
  font-size: 1.6em; }
  @media (max-width: 40em) {
    .si-subtext {
      font-size: 1.3em;
      width: 100%; } }

form#header-panel {
  text-align: center;
  width: 100%;
  border-bottom: solid 20px transparent !important;
  height: 200px; }
  form#header-panel fieldset {
    display: none; }
  form#header-panel .img {
    color: #ffffff;
    width: 100%;
    font-size: 28px;
    position: relative;
    bottom: 0;
    margin-top: 40px;
    text-shadow: 2px 2px 3px #000;
    padding: 10px 0; }

#hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c {
  float: left;
  clear: left;
  margin-top: 40px;
  display: block;
  margin: 10px auto;
  width: 100%; }
  #hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c a#cta_button_549477_c4d067a7-c328-4738-bb42-22775c8e46ab {
    background: none;
    background-image: none !important;
    background-color: #669900 !important;
    border-radius: 0 !important;
    border: solid 1px #405500 !important; }
  #hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c h2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  #hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c h3 {
    margin-top: 0 !important;
    margin-bottom: 10px !important; }

.home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f {
  float: left;
  clear: left;
  margin-top: 40px;
  display: block;
  margin: auto; }
  .home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f a#cta_button_549477_c4d067a7-c328-4738-bb42-22775c8e46ab {
    background: none;
    background-image: none !important;
    background-color: #669900 !important;
    border-radius: 0 !important;
    border: solid 1px #405500 !important; }
  .home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f h2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f h3 {
    margin-top: 0 !important;
    margin-bottom: 10px !important; }

#home-page-cta .hs-cta-wrapper {
  float: left;
  clear: left;
  margin-top: 40px;
  display: block;
  margin: auto; }
  #home-page-cta .hs-cta-wrapper a {
    background: none;
    background-image: none !important;
    background-color: none !important;
    border-radius: 0 !important;
    border: none !important; }
    #home-page-cta .hs-cta-wrapper a img {
      width: 100%; }
  #home-page-cta .hs-cta-wrapper h2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  #home-page-cta .hs-cta-wrapper h3 {
    margin-top: 0 !important;
    margin-bottom: 10px !important; }

@media (min-width: 40em) {
  #home-page-cta {
    max-width: 50%; }
  #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f, #home-page-cta .hs-cta-wrapper {
    max-width: 245px; }
  .home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f, #home-page-cta .hs-cta-wrapper {
    max-width: 100%; }
  .header-panel-img {
    float: left;
    max-width: 50%;
    margin-top: 40px;
    font-size: 32px; }
  form#header-panel {
    text-align: left;
    max-width: 1060px;
    height: 293px; }
    form#header-panel fieldset {
      display: block;
      float: right;
      width: 50%;
      max-height: 600px; }
    form#header-panel img {
      float: left;
      max-width: 50%;
      margin-top: 40px;
      font-size: 32px; }
  .home-page #hs-cta-wrapper-ef429e37-09f0-4fde-ae40-57a9610f7d1f, #home-page-cta .hs-cta-wrapper {
    margin-top: 20px; } }

@media (min-width: 60em) {
  .header-panel-img {
    float: left;
    max-width: 600px;
    bottom: 160px;
    position: absolute;
    font-size: 42px; }
  form#header-panel {
    height: 340px; }
    form#header-panel fieldset {
      width: 338px; } }

div.bg-panel {
  height: 900px;
  background-position: center; }
  @media (min-width: 40em) {
    div.bg-panel {
      height: 790px; } }

/* ================== Product Module section =================== */
article.product-module-wrap {
  max-width: 100%;
  background-color: #FFF; }

section.product-module {
  max-width: 1010px;
  margin-right: auto !important;
  margin-left: auto;
  float: none; }

/* ================== Product Preview section =================== */
.products-preview {
  background-color: #fff; }
  .products-preview .inner-wrap {
    padding-top: 0em;
    padding-bottom: 0em; }

article section .product-list li {
  width: 100%; }

article section .product-list li h2 {
  text-align: center;
  background-color: #FFF; }

article section .product-list li img {
  margin: auto; }

@media (min-width: 40em) {
  article section .product-list li {
    width: 50%; }
  article section .product-list li h2 {
    text-align: center; }
  article section .product-list li img {
    margin: auto; } }

@media (min-width: 60em) {
  article section .product-list li {
    width: 336px; }
  article section .product-list li h2 {
    text-align: left; }
  article section .product-list li img {
    margin: 0; } }

/* ================== More Products section =================== */
article.company-info {
  text-align: center;
  max-width: 99999px; }
  article.company-info section {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto !important;
    float: none;
    padding: 0 20px; }

.more-products .inner-wrap {
  padding-top: 1em;
  padding-bottom: 0em; }

@media (min-width: 40em) {
  article.company-info {
    text-align: left; }
  section {
    padding: 0; } }

/* ================== Additional Info section =================== */
.home-page article:nth-child(6) > section > .table:nth-child(1) td {
  width: 30% !important; }
.home-page article:nth-child(6) > section > .table:nth-child(1) > thead h3 {
  width: auto; }
.home-page article:nth-child(6) > section > .table:nth-child(2) td {
  width: auto !important; }
.home-page article:nth-child(6) .table thead td[colspan="4"] h3 {
  width: 100%; }

@media (max-width: 40em) {
  .home-page article:nth-child(6) > section > .table:nth-child(1) td {
    width: auto !important;
    display: block; }
  .home-page article:nth-child(6) > section > .table:nth-child(1) > thead > tr td:nth-child(1) {
    display: none; }
  .home-page article:nth-child(6) > section > .table:nth-child(1) > thead > tr td:nth-child(2) {
    display: none; }
  .home-page article:nth-child(6) > section > .table:nth-child(1) > thead h3 {
    width: auto; }
  .home-page article:nth-child(6) > section > .table:nth-child(1) > tbody > tr > td:nth-child(1) {
    display: none; }
  .home-page article:nth-child(6) > section > .table:nth-child(1) > tbody > tr > td:nth-child(2) {
    display: none; }
  .home-page article:nth-child(6) > section > .table:nth-child(2) td {
    width: auto !important;
    display: block; } }

.ds-bucket td {
  border: none !important;
  padding: 0 !important; }

.ds-bucket h3 {
  font: 100 24px 'OswaldLight', sans-serif;
  margin-bottom: 1em;
  border-bottom: solid 1px #CCC; }

.ds-bucket a, .c-bucket a {
  display: block; }

.category-links {
  border-top: solid 1px #ccc;
  padding-top: 1em; }

/* ================== Footer Link section =================== */
.footer-links {
  margin-top: 20px;
  border-top: solid 1px #ccc;
  text-align: center; }
  .footer-links .inner-wrap {
    padding-top: 1em;
    padding-bottom: 1.5em; }
  .footer-links .fl-block {
    width: 100%; }
    .footer-links .fl-block a {
      display: block;
      color: #555; }
      .footer-links .fl-block a:hover {
        color: #427700; }

@media (min-width: 40em) {
  .footer-links {
    text-align: left; }
    .footer-links .fl-block {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .footer-links .fl-block:last-child {
        margin-right: 0; } }

/* ======================= copywrite info ==================*/
.footer p {
  padding: 0;
  margin: 0; }

.wrap.footer {
  padding: 20px; }

/* ======================= Destination Pages =================== */
article {
  width: auto;
  min-height: 500px;
  margin: auto;
  padding: 20px;
  border-left: none;
  max-width: 1100px; }

article section {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }
  article section:last-child {
    margin-right: 0; }

article aside {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  margin-left: 0; }
  article aside:last-child {
    margin-right: 0; }

.single-hover {
  width: auto; }

.nav-wrapper {
  width: auto; }

.single-nav-wrap {
  width: auto; }

@media (min-width: 40em) {
  article section {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    margin-left: 0;
    margin-right: 0; }
    article section:last-child {
      margin-right: 0; }
  article aside {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-left: 0; }
    article aside:last-child {
      margin-right: 0; }
  .single-hover {
    width: auto; }
  .nav-wrapper {
    width: auto; } }

@media (min-width: 60em) {
  article section {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
    margin-left: 0;
    margin-right: 0; }
    article section:last-child {
      margin-right: 0; }
  article aside {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    margin-left: 0; }
    article aside:last-child {
      margin-right: 0; }
  .single-hover {
    width: auto; }
  .nav-wrapper {
    width: auto; } }

/* ======================= Product List Items =================== */
.panel-pc {
  width: 100%; }
  .panel-pc ul {
    width: 100%; }
    .panel-pc ul li {
      margin: 0;
      text-align: left;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .panel-pc ul li:last-child {
        margin-right: 0; }
      .panel-pc ul li a.img {
        width: auto; }

@media (min-width: 40em) {
  .panel-pc ul li {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .panel-pc ul li:last-child {
      margin-right: 0; }
    .panel-pc ul li:nth-child(3n) {
      margin-right: 0; }
    .panel-pc ul li:nth-child(3n+1) {
      clear: left; } }

.product-listing {
  width: auto; }
  .product-listing table td.product-img {
    width: auto; }
    .product-listing table td.product-img img {
      display: none; }

@media (min-width: 40em) {
  .product-listing .product-action h4 {
    display: none; }
  .product-listing table td.product-img {
    width: 190px; }
    .product-listing table td.product-img img {
      display: block;
      display: inline-block; } }

.product-listing table td.product-action a.view {
  width: 60px; }

/* =======================Product Details Stuff ====================*/
.product-description, .pull-right {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .product-description:last-child, .pull-right:last-child {
    margin-right: 0; }

.pull-left {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .pull-left:last-child {
    margin-right: 0; }

.img-gallery dt {
  width: auto;
  padding: 20px;
  height: auto;
  line-height: 0; }

.product-description .form-inline {
  line-height: 0px; }

.product-description .product-info {
  padding: 20px;
  height: 267px; }
  @media (min-width: 60em) {
    .product-description .product-info {
      height: 222px; } }
  @media (min-width: 80em) {
    .product-description .product-info {
      height: 206px; } }

.product-description fieldset.product-media {
  margin-bottom: 10px; }

@media (min-width: 40em) {
  .product-description, .pull-right {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .product-description:last-child, .pull-right:last-child {
      margin-right: 0; }
  .pull-left {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .pull-left:last-child {
      margin-right: 0; } }

/* ========================== Form Stuff ===========================*/
td.col1 {
  text-align: left; }

.class-form dl dt, .class-form dl dd {
  width: 100%; }

fieldset.form-inline {
  padding: 0; }
  fieldset.form-inline input {
    border-radius: 5px;
    padding: 15px; }

.span6.new-account, .span6.exist-account {
  width: 100%; }

.new-account {
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px; }
  .new-account .btn_submit {
    margin-bottom: 20px;
    display: inline-block; }

@media (min-width: 40em) {
  .new-account {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .new-account:last-child {
      margin-right: 0; }
  .exist-account {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .exist-account:last-child {
      margin-right: 0; }
  .class-form dl dt {
    width: 18%; }
  .class-form dl dd {
    width: 80%; } }

/* ========================== News Page Stuff =============================*/
.dl-horizontal dt {
  width: 100%; }

.dl-pdf-date {
  text-align: left; }

.dl-pdf {
  float: left; }

.dl-horizontal dd {
  margin-left: 0; }

@media (min-width: 40em) {
  .dl-horizontal dt {
    width: 160px; }
  .dl-horizontal dd {
    margin-left: 160px; } }

/* ======================Mobile Accordian hide =============*/
.accordion-body ul {
  display: none; }

@media (min-width: 40em) {
  .accordion-body ul {
    display: block; } }

/* ======================= Homepage Hubspot Call to Action ==============*/
/*=============== Resources Module ===============*/
.resources-module {
  background-color: #f5f5f5; }

.rm-item {
  text-align: center;
  background-color: #f5f5f5;
  padding: 1em !important; }
  .rm-item:hover .rm-item-img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  @media (min-width: 40em) {
    .rm-item {
      margin-bottom: 0; } }

.rm-item-cta {
  text-shadow: none;
  padding: 1em;
  font-size: 1em;
  background: #427700; }

.rm-item-img {
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  margin-bottom: 1em; }
  .rm-item-img img {
    max-width: 100%;
    object-fit: contain;
    height: 19.375em; }

.rm-item-title {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  position: relative;
  display: inline-block;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  color: #666769;
  position: relative;
  z-index: 10; }
  .rm-item-title span {
    line-height: 1.25em;
    display: inline-block; }

/* ================= Resource PAGE ( Page is different from module) ================*/
.resource-page div {
  text-align: center;
  margin-bottom: 15px; }
  .resource-page div img {
    border: 1px solid #427700;
    margin-bottom: 10px; }
  .resource-page div span {
    display: block;
    font-weight: bold;
    margin: 0 auto;
    max-width: 83%; }
  @media (min-width: 40em) {
    .resource-page div {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .resource-page div:last-child {
        margin-right: 0; } }

.list-style-none li {
  border: none;
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px; }

.product-links {
  text-decoration: underline;
  font-weight: bold; }

.panel-pc-list-style li {
  display: list-item !important;
  border: none;
  list-style: disc;
  margin-left: 20px !important;
  clear: both !important;
  margin-bottom: 20px !important;
  min-height: auto !important;
  width: 100% !important; }

/* ========================== Google Custom Search Reset ===========================*/
.google-search-mobile {
  display: none;
  width: 200px; }

@media (max-width: 40em) {
  html .gsc-above-wrapper-area {
    display: none !important; } }

html table.gsc-search-box tbody tr td * {
  height: 25px !important;
  font-size: 18px !important; }

html div.gs-title *, html div.gs-visibleUrl {
  font-size: 18px !important;
  height: auto  !important; }

html div.gs-title {
  line-height: 2em !important;
  height: auto !important;
  margin-bottom: 0 !important; }

html div.gs-snippet *, html div.gs-snippet {
  font-size: 16px !important; }

html div.gsc-result {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important; }

html .gsc-results-wrapper-overlay {
  width: auto !important;
  max-width: 750px !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  top: 5% !important; }

.google-search {
  width: 200px;
  left: 10px; }
  @media (min-width: 40em) {
    .google-search {
      display: block;
      float: right; } }
  @media (min-width: 60em) {
    .google-search {
      float: left; } }

.cse .gsc-control-cse, .gsc-control-cse {
  background-color: transparent !important;
  border: 0 !important; }

html .gsc-search-box {
  height: 25px !important;
  margin-top: 0 !important;
  background: none !important; }
  html .gsc-search-box td {
    padding: 0;
    border-bottom: 0 !important; }

.gsc-input-box table {
  margin: 0 !important; }

.gsc-control-cse.gsc-control-cse-en {
  padding: 0 !important; }

input.gsc-search-button {
  margin-left: 0px !important; }

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  padding: 6px 7px !important;
  min-width: 10px !important;
  margin-top: 0px !important;
  width: auto !important;
  height: auto !important; }

.cse input.gsc-search-button, input.gsc-search-button {
  border-radius: 0px !important;
  border: none !important; }

.gsc-search-box-tools .gsc-search-box .gsc-input {
  margin-top: -5px !important; }

body .header-container-wrapper {
  visibility: hidden; }
body .body-container-wrapper {
  padding-top: 0px; }

/* Layouts for Hubspot */
@media (min-width: 60em) {
  .site-content.one-column .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0; }
    .site-content.one-column .site-content-primary:last-child {
      margin-right: 0; }
  .site-content.one-column .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0; }
    .site-content.one-column .site-content-secondary:last-child {
      margin-right: 0; }
  .site-content.two-column .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .site-content.two-column .site-content-primary:last-child {
      margin-right: 0; }
  .site-content.two-column .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    .site-content.two-column .site-content-secondary:last-child {
      margin-right: 0; }
  .site-content.three-column .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .site-content.three-column .site-content-primary:last-child {
      margin-right: 0; }
  .site-content.three-column .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .site-content.three-column .site-content-secondary:last-child {
      margin-right: 0; }
  .site-content.three-column .additional-content {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    .site-content.three-column .additional-content:last-child {
      margin-right: 0; }
  .site-content.two-column-alt .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .site-content.two-column-alt .site-content-primary:last-child {
      margin-right: 0; }
  .site-content.two-column-alt .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    .site-content.two-column-alt .site-content-secondary:last-child {
      margin-right: 0; } }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.alignright {
  display: block;
  padding-bottom: 1.5em; }

.alignleft {
  display: block;
  padding-bottom: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

@media (min-width: 40em) {
  .alignright {
    display: block;
    float: right;
    padding-bottom: 1.5em;
    padding-left: 1.5em; }
  .alignleft {
    display: block;
    float: left;
    padding-bottom: 1.5em;
    padding-right: 1.5em; }
  .aligncenter {
    display: block;
    margin: 0 auto; } }

.text-alignright {
  text-align: right; }

.text-alignleft {
  text-align: left; }

.text-aligncenter {
  text-align: center; }

.clearboth {
  clear: both;
  display: block; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons
@font-face {
  font-family: 'flexslider-icon';
  src:url('fonts/flexslider-icon.eot');
  src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/flexslider-icon.woff') format('woff'),
    url('fonts/flexslider-icon.ttf') format('truetype'),
    url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 */
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  background: transparent;
  border: 0;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 125em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 57%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  left: 10px; }

.flexslider:hover .flex-next {
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  display: block;
  content: '';
  height: 2.5em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-image: url(img/ico-arrowleft.svg); }

/*{ font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }*/
.flex-direction-nav a.flex-next:before {
  background-image: url(img/ico-arrowright.svg); }

/*{ content: '\f002'; }*/
/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/*
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
*/
.flex-direction-nav .flex-prev {
  opacity: .3;
  left: 10px; }

.flex-direction-nav .flex-next {
  opacity: .3;
  right: 10px; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*! Tablesaw - v1.0.2 - 2014-12-17
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2014 Filament Group; Licensed MIT */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  width: 100%; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th, .tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .7em; }

.tablesaw thead tr:first-child th {
  padding-top: .9em;
  padding-bottom: .7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
  border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td, .tablesaw-stack th {
    text-align: left;
    display: block; }
  .tablesaw-stack tr {
    clear: both;
    display: table-row; }
  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 .6em 0 0;
    width: 30%;
    display: inline-block; }
  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top, .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0; }
  .tablesaw-cell-label {
    display: block; }
  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }
  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; } }

@media (max-width: 39.9375em) {
  .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: none; }
  .tablesaw-stack tbody td, .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%; }
  .tablesaw-cell-label {
    vertical-align: top; }
  .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block; }
  .tablesaw-stack td:empty, .tablesaw-stack th:empty {
    display: none; } }

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row; }
  /* Show the table header rows */
  .tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: table-cell;
    margin: 0; }
  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: none !important; } }

/*! {% include "hubspot/styles/responsive/required_base.css" %}*/
/*!
[hubspot-metadata]
{
    "path": "custom/page/web_page_basic/style.css"
}
[end-hubspot-metadata]
*/
/*# sourceMappingURL=rpm-responsive-style.css.map */