/*!
 * CSS Modification by Mark Rivera & Richard Hilton - Dog and Rooster, Inc., 2013
 * Copyright by M.Rivera & R.Hilton, 2013
 *
 * CSS Home
 */

/* OVERRIDE STYLES */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width:100%;
}
body {
	position: relative;
	line-height:0;
}

.dropdown-menu {
	background: #FFF;
	margin: 4px 0 0;
	padding: 0;
	border-radius: 0;
	border: 0;
}
.dropdown-menu div {
	border-bottom: dotted 1px #427700;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
}
.dropdown-menu div:last-child {
	border-bottom: 0;
	box-shadow: none;
}
.dropdown-menu div,
.dropdown-menu a {
	display: block;
	color: #444 !important;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	width: 100%;
	padding: 3px 5px;
}
.dropdown-menu div:hover,
.dropdown-menu div:hover a {
	background: #94C414;
	color: #FFF !important;
}

div.bg-panel {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/bg-panel_mini.jpg) no-repeat center bottom;
	background-size: cover;
	width: 100%;
	height: 470px;
	z-index: 0;
}

form#header-panel {
	position: relative;
	width: 1050px;
	height: 340px;
	margin: 0 auto;
	border-bottom: solid 20px #FFF;
}
form#header-panel img {
	position: absolute;
	bottom: 0;
	left: 0;
}
form#header-panel fieldset {
	position: absolute;
	top: 0;
	right: 20px;
	background: #F3F3F3;
	width: 335px;
	height: 230px;
	padding: 10px 15px;
}
form#header-panel fieldset h3 {
	font-weight: 300;
	color: #427700;
	margin: 0 0 10px;
}
form#header-panel fieldset .user-field {
	font-size: 13px;
}
form#header-panel fieldset .user-field input {
	width: 96.5%;
	height: 30px;
}
form#header-panel fieldset .unstyled input {
	position: relative;
	top: -4px;
}
form#header-panel fieldset .unstyled button {
	display: block;
	background: #427700;
	font-weight: 600;
	color: #FFF;
	text-shadow: none;
	border: 0;
	border-radius: 0;
}
form#header-panel fieldset .user-access {
	font-size: 12px;
	color: #427700;
	margin: 0 0 0 15px;
}
form#header-panel fieldset .user-access a {
	color: #444;
}

article {
	width: 100%;
}
article section {
	width: 1010px;
	margin: 0 auto;
}
article section .product-list {
	width: 100%;
	height: auto;
}
article section .product-list li {
	float: left;
	width: 336px;
	height: 200px;
	margin: 0 0 10px;
}
/* HOVER EFFECT FOR IMAGE
article section .product-list li img:hover {
	box-shadow: inset 0 -5px 0 0 rgba(66,119,0,0.60);
}
*/
article section .product-list li h2 {
	font-size: 20px;
	font-weight: 300;
	color: #427700;
	margin: 0 0 5px;
}
article section .product-list li img {
	display: block;
	width: 336px;
	height: 150px;
	border: solid #CCC;
	border-width: 1px 1px 1px 0;
}
article section .product-list li:nth-child(3n+1) img {
	border-left: solid 1px #CCC;
}
article.company-info {
	background: #666769;
	font-size: 17px;
	color: #FFF;
	line-height: 26px;
	height: 180px;
	margin-bottom: 10px;
	padding: 10px 0;
}
article.company-info h2 {
	font-weight: 300;
}
article.company-info a {
	color: #FFF;
}
article .table thead h3 {
	font: 100 24px 'OswaldLight', sans-serif;
	width: 320px;
	margin-bottom: 0;
	border-bottom: solid 1px #CCC;
}
article .table thead td[colspan="4"] h3 {
	width: 1000px;
}
article .table td {
	font-size: 13px;
	width: 336px;
	border: none;
}
article .table table td {
	padding: 0;
}


















