/*!
 * CSS Modification by Mark Rivera & Richard Hilton - Dog and Rooster, Inc., 2013
 * Copyright by M.Rivera & R.Hilton, 2013
 *
 * CSS Home
 */

/* OVERRIDE STYLES */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body { position: relative; }

.wrap-body {width:1055px;
margin:0 auto;}

.dropdown-menu {
	background: #FFF;
	margin: 4px 0 0;
	padding: 0;
	border-radius: 0;
	border: 0;
}
.dropdown-menu div {
	border-bottom: dotted 1px #427700;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
}
.dropdown-menu div:last-child {
	border-bottom: 0;
	box-shadow: none;
}
.dropdown-menu div,
.dropdown-menu a {
	display: block;
	color: #444 !important;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	width: 100%;
	padding: 3px 5px;
}
.dropdown-menu div:hover,
.dropdown-menu div:hover a {
	background: #94C414;
	color: #FFF !important;
}

article {
	width: 1050px;
	min-height: 500px;
	margin: auto;
	padding: 20px 0;
	border-left: solid 220px transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
article aside {
	float: left;
	width: 220px;
	margin: 0 0 0 -220px;
	padding: 0;
}
article section {
	float: left;
	width: 800px;
	margin: 0 0 0 30px;
}

/* SIDE PANEL */
.products aside .side-framebox {
	width: 100%;
	min-height: 200px;
	margin: 0 0 10px;
	border: solid 1px #C2C2C2;
}

.noborder {border:none !important;}

.products aside .side-framebox dt {
	background: #666769;
	color: #FFF;
	text-indent: 10px;
	line-height: 35px;
	height: 35px;
}

.products aside .side-framebox dd {
	position: relative;
	margin: 0;
}
.products aside .side-framebox dd li.pull-left {
	color: #FFF;
}
.products aside .side-framebox dd li.pull-right {
	font-weight: 600;
	color: #222;
}

#cart dd {
	padding: 15px 15px 5px;
}
#cart dd p {
	font-size: 11px;
	line-height: 16px;
}
#cart dd p a em {
	color: #427700;
}
#cart dd p a.login {
	width: 100px;
	display: block;
	font: normal 12px 'Open Sans', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	margin: 0 auto 15px;
	padding: 5px 0;
	background: #427700;	
	/*
	background: #a0ca2f;
	background: -moz-linear-gradient(top,  #a0ca2f 0%, #82ad12 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0ca2f), color-stop(100%,#82ad12));
	background: -webkit-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: -o-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: -ms-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: linear-gradient(to bottom,  #a0ca2f 0%,#82ad12 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ca2f', endColorstr='#82ad12',GradientType=0 );
	*/
	
}
#cart dd form {
	margin: 0;
}
#cart dd span  {
	position: relative;
	display: block;
	text-align: center;
	line-height: 90px;
	width: auto;
	height: 90px;
	margin: auto;
}
#cart dd ul {
	background: #94C414;
}
#cart dd li {
	padding: 5px;
}
#cart dd button {
	display: block;
	background: #427700;
	color: #FFF;
	margin: 10px auto;
	padding: 5px 10px;
	border: 0;
	border-radius: 0;
}
#category dd {
	font-size: 11px;
	text-transform: uppercase;
	border-bottom: solid 1px #EBEBEB;
}
#category dd a span , span.single-nav a {
	display: block;
	background: url(../images/icon-green-arrow.jpg) no-repeat 95% center;
	width: 100%;
	height: 100%;
	padding: 10px;
	cursor: pointer;
}

/* Previous css side nav with jquery codes */

.nav-wrapper {width:220px; height:auto; position:relative; border:1px solid #ccc;}
.single-nav-wrap {width:218px; height:42px; position:relative; border-bottom:1px solid #ccc; background:transparent; font-size: 11px; text-transform: uppercase; display:block; }
.single-hover { width:218px; height:42px; position:relative; border-bottom:1px solid #ccc; font-size: 11px; text-transform: uppercase; display:block; background-color:#427700;}

.single-nav-wrap:hover > a.link-left + .single-hover {background-color:#427700 !important; color:#fff !important;}

a.link-left:active {color:#fff;}

a.link-arrow:active , a.link-arrow:focus {outline:none !important; outline-offset: 0px !important;}

a.link-arrow {float:right; position:relative; width:17px; height:10px; padding:10px; display:block; position:relative; background: url(../images/icon-green-arrow.png) no-repeat center; cursor:pointer;   margin: 10px 5px 0 0; }
a.link-arrow-up-white {float:right; position:relative; width:17px; height:10px; padding:10px; display:block; position:relative; background: url(../images/icon-green-arrow-bg-white-up.png) no-repeat center; cursor:pointer;  margin: 10px 5px 0 0; }
.test-arrow {float:right; position:relative; width:17px; height:10px; padding:10px; display:block; position:relative; background: url(../images/icon-green-arrow-bg-green.png) no-repeat center; cursor:pointer;  margin: 10px 5px 0 0; }


a.link-arrow-up-green {float:right; position:relative; width:10px; height:10px; padding:10px; display:block; position:relative; background: url(../images/icon-green-arrow-bg-green-up.jpg) no-repeat center; cursor:pointer;  margin:10px 5px;}

.single-nav:hover {background:#437700; color:#fff; display:block;}


a.link-left {float:left; position:relative; width:auto; padding:10px; display:block; text-align:left; position:relative; font-size: 11px; text-transform: uppercase;}
.link-white {float:left; position:relative; width:auto; padding:10px; display:block; text-align:left; position:relative; font-size: 11px; text-transform: uppercase; color:#fff !important;}

/************************* Below not included *************************/


/*a.link-arrow-hover:hover {float:right; position:relative; width:10px; height:10px; padding:10px; display:block; position:relative; background: url(../images/icon-green-arrow-bg-green.jpg) no-repeat center; cursor:pointer;  margin:10px 5px;}*/

/* a.link-left:hover , a.link-arrow:hover  > .single-nav-wrap {background:#427700; width:220px; height:42px;} */

/* Previous css side nav with jquery codes Ends */



/***********************************************************************/


/* New css coding side nav - 12/11/2013 */

/*a.link-left {float:left; position:relative; width:100%; padding:10px; display:inline-block; text-align:left; position:relative; font-size: 11px; text-transform:}

a.link-left-down {background: url(../images/icon-green-arrow.png) no-repeat scroll 190px center rgba(0, 0, 0, 0);}

a.link-left-up {color:#fff; background: url(../images/icon-green-arrow-bg-white-up.png) no-repeat scroll 190px center #427700;}

a.link-left-active {color:#fff; background: url(../images/icon-green-arrow-bg-white-up.png) no-repeat scroll 190px center #427700;}



a.link-left-down:hover {color:#fff; background: url(../images/icon-green-arrow-bg-green.png) no-repeat scroll 190px center #427700;}
a.link-left-down:focus {outline:none !important;} */

/* New css coding side nav - 12/11/2013 Ends */


ul.collapse {width:auto; height:auto; background-color:#F5F5F5; margin:0; border-bottom:1px solid #ccc;}
ul.collapse li {list-style:none; font-size:11px; text-transform:uppercase;}
ul.collapse li a {color: #666769;
    display: block;
    padding: 3px 15px;
	font-size: 11px; text-transform: uppercase;
}

ul.collapse li a:hover {color:#427700;}


#category dd a span.on {
	background: #427700 url(../images/icon-white-arrow-up.jpg) no-repeat 95% center;
	color: #FFF;
}

#category dd a span:hover,  span.single-nav a:hover {background: #427700 url(../images/icon-white-arrow.jpg) no-repeat 95% center;
	color: #FFF;
}

#category dd a span.on  {color:#fff !important; display:inline-block;}

#category dd  a:hover span.on  {
	background: #427700 url(../images/icon-white-arrow2.jpg) no-repeat 95% center;
	color: #FFF;
}

#category dd span:hover a , #category dd span.on:hover a {color:#fff !important;}

#category dd ul {
	display: none; 
	background: #F5F5F5;
	margin: 0;
}
#category dd.active ul {
	display: block;
}
#category dd li {
	font-size: 11px;
}
#category dd li a {
	display: block;
	color: #666769;
	padding: 3px 15px;
}
#category dd li a:hover {
	color: #427700;
}
/* END OF SIDE PANEL */

/* SECTION PANEL */
.breadcrumb {
	background: none;
	padding: 5px;
	border: solid 1px #CCC;
	border-radius: 0;
}
.breadcrumb li {
	font-size: 11px;
	text-transform: uppercase;
}
.breadcrumb li.active {
	color: #427700;
}
.breadcrumb li a {
	color: #555;
}
h2 {
	font: normal 26px 'OswaldLight', sans-serif;
	margin: 0 0 20px;
}

.panel-pc {
	float: left;
	width: 800px;
}
.panel-pc ul {
	width: 810px;
	margin: 20px 0;
}
.panel-pc li {
	float: left;
	position: relative;
	font-size: 13px;
	text-align: justify;
	line-height: normal;
	width: 250px;
	min-height: 300px;
	margin-left: 25px;
	margin-bottom: 20px;
}
.panel-pc li:nth-child(3n+1) { /* Modern Browser Fix Margin */
	margin-left: 0;
}
.msie .panel-pc li { /* IE 8 Fix Margin */
	margin-left: 0;
	margin-right: 20px;
}
.panel-pc li a {
	color: #427700;
}
.panel-pc li h3 {
	font-size: 16px;
	text-transform: capitalize;
	line-height: normal;
	margin: 0;
}
.panel-pc li a.img {
	position: relative;
	display: block;
	text-align: center;
	line-height: 145px;
	width: 248px;
	height: 145px;
	margin-bottom: 15px;
	border: solid 1px #CCC;
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding-box;
	        background-clip: padding-box;
}
.panel-pc li img {
	width: auto;
}


/* PRODUCT PANEL - LEFT SIDE */
.img-gallery * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.img-gallery {
	width: 310px;
	margin-right: 20px;
}
.img-gallery dl,
.img-gallery dt,
.img-gallery dd {
	text-align: center;
	margin: 0;
}
.img-gallery dt {
	line-height: 310px;
	width: 310px;
	height: 310px;
	margin-bottom: 10px;
	border: solid 1px #CCC;
	overflow: hidden;
}
.img-gallery dd {
	position: relative;
	height: 85px;
}
.img-gallery dd a {
	position: relative;
	display: inline-block;
	line-height: 73px;
	width: 85px;
	padding: 5px;
	border: solid 1px #CCC;
}
.img-gallery dd a img {
	width: auto;
}
/*
.img-gallery dd a {
	display: inline-block;
	width: 85px;
	height: 85px;
	margin: 0 5px;
	border: solid 1px #CCC;
	overflow: hidden;
}
*/
/* PRODUCT PANEL - RIGHT SIDE */
.product-detail * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.product-detail {
	border-bottom: solid 1px #CCC;
	padding-bottom: 5px;
}
.product-description {
	width: 470px;
}
.product-description form {
	margin: 0;
}
.product-description h3 {
	font: normal 20px 'Open Sans', sans-serif;
 	line-height: normal;
	margin: 0;
}
.product-description h3 small {
	display: block;
	font-size: 13px;
	margin-top: 5px;
}
.product-description fieldset {
	font-size: 12px;
	line-height: normal;
}
.product-description .form-inline {
	line-height: 75px;
	height: 75px;
	margin: 20px 0;
	border: solid #CCC;
	border-width: 1px 0;
}
.product-description .form-inline span {
	font: 300 36px 'Open Sans', sans-serif;
	text-indent: 15px;
	line-height: 75px;
}
.product-description .form-inline span sup {
	position: relative;
	top: -15px;
	font-size: 16px;
}
.product-description .form-inline label {
	font-size: 11px;
}
.product-description .form-inline input {
	text-align: center;
	width: 40px;
	height: 35px;
	margin-left: 10px;
	border-radius: 0;
}
.product-description .form-inline button {
	background: #427700;
	font-size: 12px;
	color: #FFF;
	text-shadow: none;
	text-transform: uppercase;
	width: 100px;
	height: 35px;	
	margin-left: 10px;
	border: none;
}
.product-description .form-inline.log-user {
	text-align: center;
	text-transform: uppercase;
}
.product-description .form-inline .signup,
.product-description .form-inline .login {
	display: inline-block;
	margin: 0 20px;
}
.product-description .form-inline .signup {
	color: #427700;
}
.product-description .form-inline .login {
	font: normal 12px 'Open Sans', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	margin: 0 0 10px;
	padding: 5px 15px;
	/*
	background: #a0ca2f;
	background: -moz-linear-gradient(top,  #a0ca2f 0%, #82ad12 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0ca2f), color-stop(100%,#82ad12));
	background: -webkit-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: -o-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: -ms-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: linear-gradient(to bottom,  #a0ca2f 0%,#82ad12 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ca2f', endColorstr='#82ad12',GradientType=0 );	
	*/
	background: #427700;
}
.product-description .product-info {
	height: 160px;
	padding: 0 0 10px;
	overflow: hidden;
}
.product-description .product-media .pdf-download {
	background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #427700;
    display: block;
    float: left;
    margin: 0 3px;
    padding: 7px 0;
    text-align: center;
    width: 149px;
}

.social-media {height:50px;}

fieldset.product-media {margin-bottom:30px;}

.product-description .product-media .social-media {
	text-align: center;
	line-height: 40px;
	height: 40px;
	margin: 10px 0 0;
}

.stButton .stButton_gradient {
    background: -moz-linear-gradient(center top , #D5D5D5 0px, #EFEFEF 48%, #FFFFFF 94%) repeat scroll 0 0 transparent;
    border: 1px solid #BFBFBF;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-family: serif;
    height: 24px !important;
    padding: 2px 2px 5px !important;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
    background-repeat: no-repeat;
    display: inline-block;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    height: 23px  !important;
    line-height: 16px  !important;
    padding-bottom: 6px !important;
    padding-top: 3px  !important;
    position: relative;
    white-space: nowrap;
}

.product-description .product-media .social-media span {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

/* EXTENSION BODY */
.product-features {
	clear: both;
	float: left;
	width: 100%;
	min-height: 300px;
	margin: 20px 0 0;
}

/* PRODUCT LISTING PANEL */
.product-listing {
	width: 798px;
	margin: 20px 0;
}
.product-listing li {
	margin-bottom: 20px;
	border: solid 1px #CCC;
}
.product-listing form {
	margin: 0;
}
.product-listing table tr {
	border: solid #FFF;
	border-width: 10px 0;
}
.product-listing table td {
	height: 135px;
	padding: 5px;
	vertical-align: middle;
}
.product-listing table td.product-img {
	width: 190px;
}
.product-listing table td.product-desc {
	font-size: 12px;
	width: 409px;
	border-right: solid 1px #CCC;
}
.product-listing table td.product-action {
	text-align: center;
	width: 198px;
}
.product-listing table td.product-action h4 {
	font: 400 20px 'Open Sans', sans-serif;
	color: #222;
	text-transform: uppercase;
	margin: 0 0 25px;
}
.product-listing table td.product-action button {
	border: 0;
}
.product-listing table td.product-action button,
.product-listing table td.product-action a {
	display: inline-block;
	font: normal 12px 'Open Sans', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	margin: 0 0 10px;
	padding: 5px 15px;

	background: #a0ca2f;
	background: -moz-linear-gradient(top,  #a0ca2f 0%, #82ad12 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0ca2f), color-stop(100%,#82ad12));
	background: -webkit-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: -o-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: -ms-linear-gradient(top,  #a0ca2f 0%,#82ad12 100%);
	background: linear-gradient(to bottom,  #a0ca2f 0%,#82ad12 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ca2f', endColorstr='#82ad12',GradientType=0 );
}
.product-listing table td.product-action a.view {
	display: block;
	background: #427700 !important;
	width: 37px;
	margin: auto;
}

td.product-desc ul li {border:none !important; margin-bottom: 5px;}

/* MY ACCOUNT */
.myaccount table td {
	padding: 3px 8px;
	border-top: 0;
}
.myaccount table td input {
	height: 30px;
}


/* PURCHASE HISTORY */
.purchase-history {
	font-size: 12px;
}
.purchase-history .accordion-inner {
	border-top: solid 3px #427700;
}

.purchase-history td.status {
	color: #427700;
	text-transform: uppercase;
}
.purchase-history .history-panel td.item {
	width: 190px;
}
.purchase-history .history-panel td.desc {
	width: 365px;
}
.purchase-history .history-panel td.qty {
	width: 75px;
}
.purchase-history .history-panel td.amount {
	width: 95px;
}
.purchase-history .history-panel .subtotal {
	width: 535px;
	padding: 8px 0;
}
.purchase-history .history-panel .subtotal td {
	padding: 2pxv 8px;
	border-top: 0;
	vertical-align: top;
}
.purchase-history .history-panel .subtotal td:first-child {
	text-align: right;
	width: 465px;
}
.purchase-history .history-panel .subtotal .total {
	font-weight: 600;
	border-top: solid 1px #DDD;
}


/* CONTACT US FORM */
.class-form {
	margin: 25px 0 0;
}
.class-form dl {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 5px;
}
.class-form dl dt,
.class-form dl dd {
  float: left;
  min-height: 30px;
  margin: 0;
}
.class-form dl dt {
  font: 400 12px/22px sans-serif;
  text-indent: .5%;
  width: 18%;
  margin-right: 1.5%;
}
.class-form dl dd { width: 80% }
.class-form dl dd small {
  display: block;
  font-size: 11px;
  color: #888;
  margin: 3px 0;
}
.class-form dl dd span[img] {
  display: block;
  background: #D5D5D5;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 3px;
}
.class-form dl dd input[type=text],
.class-form dl dd input[type=email],
.class-form dl dd input[type=tel],
.class-form dl dd input[type=password],
.class-form dl dd textarea {
  text-indent: 1%;
  width: 99%;
	line-height: 30px;
	height: 30px;
	text-indent: 5px;
	margin: 0;
  border: solid 1px #CCC;
  border-radius: 3px;
}
.class-form dl dd textarea {
	height: 150px;
}
.class-form dl dd input[compact] {
  text-indent: 2%;
  width: 30.1%;
  margin-left: 5px;
}
.class-form dl dd input[compact]:first-child {
	margin-left: 0
}
.class-form .submit-btn {
	background: #427700;
	border: 0;
	border-radius: 0;
	color: #FFFFFF;
	display: block;
	margin: 10px 0;
	padding: 5px 10px;
}
/* END OF SECTION PANEL */

.cart-order-list thead .cart-hdr th {
	background: #427700;
	font-size: 11px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}
.cart-order-list thead .cart-hdr th.hdr-panel1 {
	width: 488px;
}
.cart-order-list thead .cart-hdr th.hdr-panel2 {
	width: 100px;
}
.cart-order-list thead .cart-hdr th.hdr-panel3 {
	width: 100px;
}
.cart-order-list thead .cart-hdr th.hdr-panel4 {
	width: 100px;
}
.cart-order-list tbody td,
.cart-order-list tfoot td {
	font-size: 12px;
	vertical-align: middle;
}
.cart-order-list tbody td.tp1 {}
.cart-order-list tbody td.tp2,
.cart-order-list tbody td.tp3,
.cart-order-list tbody td.tp4,
.cart-order-list tbody td.tp5 {
	text-align: center;
}
.cart-order-list tbody td.tp2:before,
.cart-order-list tbody td.tp4:before {
	content: "$ ";
}
.cart-order-list tbody td input[type="text"],
.cart-order-list tfoot td input[type="text"] {
	text-align: center;
	line-height: normal;
	width: 50px;
	height: 30px;
	margin: 0;
	border: solid 1px #F5F5F5;
	border-radius: 1px;
}
.cart-order-list tfoot td input[type="text"] {
	width: 200px;
}
.cart-order-list tfoot td {
	background: #F5F5F5;
}
.cart-order-list tfoot td:first-child {
	font-style: italic;
	text-align: right;
}
.cart-order-list tfoot td.total-cart-price {
	text-align: center;
}
.cart-order-list tfoot td.total-cart-price.payment {
	font: bold 18px 'Open Sans', sans-serif;
}
.cart-order-list tfoot td strong {
	font-style: normal;
	text-transform: uppercase;
}
.cart-order-list tfoot td.cart-functions {
	background: #FFF;
	font-style: normal;
	text-align: left;
}
/* END OF CART PANEL */

.account-login p {
	font-size: 12px; line-height: 14px;
}
.account-login a.btn {
	margin-top: 80px;
}
.account-login .btn {
	font-size: 12px; margin-top: 20px;
}
.formbox {
	margin-top: 25px;
}
.formbox fieldset {
	margin-bottom: 5px;
}
label[for="username"]:before,
label[for="password"]:before {
	content: "*";
	color: red;
	margin-right: 4px;
}
.forgot-password {
	position: relative;
	top: 25px;
	font-size: 12px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover  {
    background-color: #EEEEEE !important;
    text-decoration: none;
}

td.accessories {vertical-align: top; width: 180px; font-weight: bold; text-align:left; text-transform:uppercase;}
td.col1 , td.col2 {font-size:14px; font-family:'Open Sans', sans-serif;}
td.col1 {vertical-align: top; width: 180px; font-weight: bold; padding-right: 5px; text-align: right;}
td.col2 {vertical-align: top; width: 300px;}

fieldset.select-inline {height:160px !important;}
.clear {clear:both; line-height:1px; margin:10px; position:relative;}
.product-option {float:left; width:auto; height:auto; line-height:35px; position:relative;}
.part-number {float:right; width:auto; height:auto; line-height:35px; position:relative;}
.product-option select {width:180px !important;}
.part-number select {width:275px !important;}
.product-option p.option-left {margin-bottom:0;}
.part-number p.option-right {margin-bottom:0;}

#goog-wm-qt {height:22px;}
#goog-wm-sb {height:34px;}

button.btn_submit , a.btn_submit {font: normal 12px 'Open Sans', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	margin: 0 auto 15px;
	padding: 5px 0;
	background: #427700;
	padding:5px 20px;
	border:0;}


input.gsc-input {background: none !important; box-shadow:none !important;}
input.gsc-input:focus {box-shadow:none !important;}
.gsib_a {padding:1px 0 0 3px !important}

.gsc-results-wrapper-overlay {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    border-collapse: separate;
    border-radius: 1px;
    box-shadow: 0 3px 10px rgba(34, 25, 25, 0.4);
    height: 700px !important;
    left: 35% !important;
    margin: auto;
    opacity: 0;
    overflow: auto;
    padding: 30px !important;
    position: fixed !important;
    top: 16% !important;
    transition: all 0.25s linear 0s;
    visibility: hidden !important;
    width: 750px !important;
    z-index: 100002 !important;
}










