<?xml version="1.0" encoding="utf-8" ?>
<!-- *** START OF STYLESHEET *** -->

<!-- **********************************************************************
 XSL to format the search output for Google Search Appliance 
     ********************************************************************** -->
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:output method="html"/>


<!-- **********************************************************************
 Result page components (can be customized)
     - whether to show a component: 0 for FALSE, non-zero (e.g., 1) for TRUE
     - text and style
     ********************************************************************** -->

<!-- *** customize provided result page header *** -->
<xsl:variable name="show_result_page_header">0</xsl:variable>
<xsl:variable name="show_result_page_adv_link">0</xsl:variable>
<xsl:variable name="adv_search_anchor_text">Advanced Search</xsl:variable>
<xsl:variable name="show_result_page_help_link">0</xsl:variable>
<xsl:variable name="search_help_anchor_text">Search Tips</xsl:variable>

<!-- *** search boxes *** -->
<xsl:variable name="show_top_search_box">0</xsl:variable>
<xsl:variable name="show_bottom_search_box">0</xsl:variable>

<!-- *** choose search button type: 'text' or 'image' *** -->
<xsl:variable name="choose_search_button">text</xsl:variable>
<xsl:variable name="search_button_text">Search</xsl:variable>
<xsl:variable name="search_button_image_url"></xsl:variable>
<xsl:variable name="search_subcollections_xslt"></xsl:variable>

<!-- *** search info bars *** -->
<xsl:variable name="show_search_info">1</xsl:variable>

<!-- *** separation bar *** -->
<xsl:variable name="choose_sep_bar">0</xsl:variable>
<xsl:variable name="show_time">0</xsl:variable>

<!-- *** navigation bars: '', 'google', 'link', or 'simple'*** -->
<xsl:variable name="show_top_navigation">0</xsl:variable>
<xsl:variable name="choose_bottom_navigation">link</xsl:variable>

<!-- *** sort by date/relevance *** -->
<xsl:variable name="show_sort_by">0</xsl:variable>

<!-- *** spelling suggestions *** -->
<xsl:variable name="show_spelling">1</xsl:variable>
<xsl:variable name="spelling_text">Did you mean:</xsl:variable>

<!-- *** synonyms suggestions *** -->
<xsl:variable name="show_synonyms">1</xsl:variable>
<xsl:variable name="synonyms_text">You could also try:</xsl:variable>

<!-- *** keymatch suggestions *** -->
<xsl:variable name="show_keymatch">1</xsl:variable>
<xsl:variable name="keymatch_text">KeyMatch</xsl:variable>


<!-- **********************************************************************
 Result elements (can be customized)
     - whether to show an element ('1' for yes, '0' for no)
     - font/size/color ('' for using style of the context)
     ********************************************************************** -->

<!-- *** result title and snippet *** -->
<xsl:variable name="show_res_title">1</xsl:variable>
<xsl:variable name="show_res_snippet">1</xsl:variable>

<!-- *** link URL *** -->
<xsl:variable name="show_res_url">1</xsl:variable>

<!-- *** misc elements *** -->
<xsl:variable name="show_res_description">1</xsl:variable>
<xsl:variable name="show_res_size">1</xsl:variable>
<xsl:variable name="show_res_date">1</xsl:variable>
<xsl:variable name="show_res_cache">0</xsl:variable>

<!-- *** show secure results radio button *** -->
<xsl:variable name="show_secure_radio">0</xsl:variable>


<!-- **********************************************************************
 Other variables (can be customized)
     ********************************************************************** -->

<!-- *** page title *** -->
<xsl:variable name="front_page_title">Search Home</xsl:variable>
<xsl:variable name="result_page_title">Search Results</xsl:variable>
<xsl:variable name="adv_page_title">Advanced Search</xsl:variable>
<xsl:variable name="error_page_title">Error</xsl:variable>

<!-- *** cached page header text *** -->
<xsl:variable name="cached_page_header_text">This is the cached copy of </xsl:variable>

<!-- *** error message text *** -->
<xsl:variable name="xml_error_msg_text">Unknown XML result type.</xsl:variable>
<xsl:variable name="xml_error_des_text">View page source to see the offending XML.</xsl:variable>


<!-- **********************************************************************
 Search result page header (can be customized): search box
     ********************************************************************** -->
<xsl:template name="result_page_header">
	<xsl:if test="$show_result_page_header != '0'">
    <table style="border-style: none;" cellpadding="0" cellspacing="0">
      <tr>
        <td nowrap="1">
          <span class="smaller">
	        <xsl:if test="$show_result_page_adv_link != '0'">
              <a href="{$adv_search_url}">
                <xsl:value-of select="$adv_search_anchor_text"/>
              </a>
              <xsl:call-template name="nbsp4"/>
	        </xsl:if>
	        <xsl:if test="$show_result_page_help_link != '0'">
              <a href="{$help_url}">
                <xsl:value-of select="$search_help_anchor_text"/>
              </a>
	        </xsl:if>
            <br/>
          </span>
        </td>
      </tr>
      <xsl:if test="$show_top_search_box != '0'">
        <tr>
          <td valign="middle">
            <xsl:call-template name="search_box"/>
          </td>
        </tr>
      </xsl:if>
      <xsl:if test="/GSP/CT">
	    <tr>
          <td valign="top">
            <br/>
            <xsl:call-template name="stopwords"/>
            <br/>
          </td>
        </tr>
      </xsl:if>
    </table>
    <br/>
  </xsl:if>
</xsl:template>


<!-- **********************************************************************
 Advanced search page header HTML (can be customized)
     ********************************************************************** -->
<xsl:template name="advanced_search_header">
      <table style="width: 99%; border-style: none;" cellpadding="0" cellspacing="2">
        <tr>          
          <td valign="bottom" style="text-align: right;"><span class="smaller"></span></td>
        </tr>
        <tr>
          <td valign="middle">
            <table style="width: 100%; border-style: none;" cellspacing="2" cellpadding="2">
              <tr>
                <td class="sep_bar">
                  <strong><xsl:call-template name="nbsp"/>
                    <xsl:value-of select="$adv_page_title"/>
                  </strong>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
</xsl:template>


<!-- **********************************************************************
 Cached page header (can be customized)
     ********************************************************************** -->
<xsl:template name="cached_page_header">
  <xsl:param name="cached_page_url"/>

<link href="{$cmx_base_url}google_cached.css" rel="stylesheet" type="text/css" />

<table style="border-style: solid; border-width: 1px; width: 100%;">
  <tr>
    <td>
      <table class="cached_page_header" style="border-style: solid; border-width: 1px; width: 100%;" cellpadding="10" cellspacing="0">
        <tr>
          <td>
            <xsl:value-of select="$cached_page_header_text"/><a href="{$cached_page_url}"><xsl:value-of select="$cached_page_url"/></a>.<br/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<hr/>
</xsl:template>


<!-- **********************************************************************
 "Front door" search input page (can be customized)
     ********************************************************************** -->
<xsl:template name="front_door">
  <xsl:call-template name="result_page_header"/>
</xsl:template>


<!-- **********************************************************************
 Empty result set (can be customized)
     ********************************************************************** -->
<xsl:template name="no_RES">
  <xsl:param name="query"/>
  <span class="empty_results">
  <br/>
  Your search - <strong><xsl:value-of disable-output-escaping="yes" 
  select="$query"/></strong> - did not match any documents.
  <br/>
  No pages were found containing <strong>"<xsl:value-of 
  disable-output-escaping="yes" select="$query"/>"</strong>.
  <br/>
  <br/>
  Suggestions:
  <ul>
    <li>Make sure all words are spelled correctly.</li>
    <li>Try different keywords.</li>
    <li>Try more general keywords.</li>
  </ul>
  </span>
</xsl:template>

<!-- **********************************************************************
 URL variables (do not customize)
     ********************************************************************** -->

<!-- *** cmx_base_url: base URL to cmx search page *** -->
<xsl:variable name="cmx_base_url">http://www.icpads.com/search/results/</xsl:variable>
<xsl:variable name="cmx_search_url">http://www.icpads.com/search/results/default.html?</xsl:variable>
<xsl:variable name="google_base_url">http://google.businessol.com/</xsl:variable>
<xsl:variable name="google_search_url">http://google.businessol.com/search?</xsl:variable>

<!-- *** help_url: search tip URL (html file) *** -->
<xsl:variable name="help_url"><xsl:value-of select="$cmx_base_url"/>basics.html</xsl:variable>

<!-- *** base_url: collection info *** -->
<xsl:variable name="base_url"><xsl:for-each 
  select="/GSP/PARAM[@name = 'client' or
                     @name = 'site' or 
                     @name = 'num' or
                     @name = 'output' or
                     @name = 'proxystylesheet' or
                     @name = 'sitesearch' or
                     @name = 'access' or
	             (@name = 'restrict' and 
		      $search_subcollections_xslt = '') or
                     @name = 'lr' or
                     @name = 'ie' or
                     @name = 'oe']"><xsl:value-of select="@name"
  />=<xsl:value-of select="@original_value"
  /><xsl:if test="position() != last()">&amp;</xsl:if></xsl:for-each>
</xsl:variable>

<!-- *** home_url: /search? + collection info + &proxycustom=<HOME/> *** -->
<xsl:variable name="home_url"><xsl:value-of select="$cmx_search_url"/><xsl:value-of select="$base_url"/>&amp;proxycustom=&lt;HOME/&gt;</xsl:variable>

<!-- *** nav_url: does not include q, as_, start elements *** -->
<xsl:variable name="nav_url"><xsl:for-each 
  select="/GSP/PARAM[(@name != 'q') and
		     not(contains(@name, 'as_')) and
                     (@name != 'start')]">
    <xsl:value-of select="@name"/><xsl:text>=</xsl:text>
    <xsl:value-of select="@original_value"/>
    <xsl:if test="position() != last()">
      <xsl:text disable-output-escaping="yes">&amp;</xsl:text>
    </xsl:if>
  </xsl:for-each>
</xsl:variable>

<!-- *** synonym_url: does not include q, as_q, and start elements *** -->
<xsl:variable name="synonym_url"><xsl:for-each 
  select="/GSP/PARAM[(@name != 'q') and
		     (@name != 'as_q') and
                     (@name != 'start')]">
    <xsl:value-of select="@name"/><xsl:text>=</xsl:text>
    <xsl:value-of select="@original_value"/>
    <xsl:if test="position() != last()">
      <xsl:text disable-output-escaping="yes">&amp;</xsl:text>
    </xsl:if>
  </xsl:for-each>
</xsl:variable>

<!-- *** search_url: $nav_url + query elements *** -->
<xsl:variable name="search_url"><xsl:for-each
  select="/GSP/PARAM[(@name != 'start')]">
    <xsl:value-of select="@name"/><xsl:text>=</xsl:text>
    <xsl:value-of select="@original_value"/>
    <xsl:if test="position() != last()">
      <xsl:text disable-output-escaping="yes">&amp;</xsl:text>
    </xsl:if>
  </xsl:for-each>
</xsl:variable>

<!-- *** filter_url: everything except resetting "filter=" *** -->
<xsl:variable name="filter_url"><xsl:value-of select="$cmx_search_url"/><xsl:for-each 
  select="/GSP/PARAM[(@name != 'filter')]">
    <xsl:value-of select="@name"/><xsl:text>=</xsl:text>
    <xsl:value-of select="@original_value"/>
    <xsl:text disable-output-escaping="yes">&amp;</xsl:text>
  </xsl:for-each><xsl:text>filter=</xsl:text>
</xsl:variable>

<!-- *** adv_search_url: /search? + $search_url + as_q=$q *** -->
<xsl:variable name="adv_search_url"><xsl:value-of select="$cmx_search_url"/><xsl:value-of select="$search_url"/>&amp;proxycustom=&lt;ADVANCED/&gt;</xsl:variable>

<!-- **********************************************************************
 Search Parameters (do not customize)
     ********************************************************************** -->

<!-- *** num_results: actual num_results per page *** -->
<xsl:variable name="num_results">
  <xsl:choose>
    <xsl:when test="/GSP/PARAM[(@name='num') and (@value!='')]">
      <xsl:value-of select="/GSP/PARAM[@name='num']/@value"/>
    </xsl:when>
    <xsl:otherwise>
      <xsl:value-of select="10"/>
    </xsl:otherwise>
  </xsl:choose>
</xsl:variable>

<!-- *** form_params: parameters carried by the search input form *** -->
<xsl:template name="form_params">
  <xsl:for-each 
    select="PARAM[@name != 'q' and 
                  not(contains(@name, 'as_')) and 
                  @name != 'btnG' and 
                  @name != 'btnI' and
                  @name != 'filter' and
                  @name != 'start' and
		  @name != 'access' and
                  @name != 'ip']">
    <xsl:if test="@name != 'restrict' or $search_subcollections_xslt = ''">
      <input type="hidden" name="{@name}" value="{@value}" />
    </xsl:if>
    <xsl:text>
    </xsl:text>
  </xsl:for-each>
</xsl:template>

<!-- *** html_escaped_query: q = /GSP/Q *** -->
<xsl:variable name="qval">
  <xsl:value-of select="/GSP/Q"/>
</xsl:variable>

<xsl:variable name="html_escaped_query">
  <xsl:value-of select="normalize-space($qval)" disable-output-escaping="yes"/>  
</xsl:variable>

<!-- *** stripped_search_query: q, as_q, ... for cache highlight *** -->
<xsl:variable name="stripped_search_query"><xsl:for-each 
  select="/GSP/PARAM[(@name = 'q') or
                     (@name = 'as_q') or
                     (@name = 'as_oq') or
                     (@name = 'as_epq')]"><xsl:value-of select="@original_value"
  /><xsl:if test="position() != last()"
    ><xsl:text disable-output-escaping="yes">+</xsl:text></xsl:if></xsl:for-each>
</xsl:variable>

<xsl:variable name="access">
  <xsl:choose>
    <xsl:when test="/GSP/PARAM[(@name='access') and ((@value='s') or (@value='a'))]">
      <xsl:value-of select="/GSP/PARAM[@name='access']/@original_value"/>
    </xsl:when>
    <xsl:otherwise>p</xsl:otherwise>
  </xsl:choose>
</xsl:variable>

<!-- **********************************************************************
 Figure out what kind of page this is (do not customize)
     ********************************************************************** -->
<xsl:template match="GSP">
  <xsl:choose>
    <xsl:when test="Q">
      <xsl:call-template name="search_results"/>
    </xsl:when>
    <xsl:when test="CACHE">
      <xsl:call-template name="cached_page"/>
    </xsl:when>
    <xsl:when test="CUSTOM/HOME">
      <xsl:call-template name="front_door"/>
    </xsl:when>
    <xsl:when test="CUSTOM/ADVANCED">
      <xsl:call-template name="advanced_search"/>
    </xsl:when>
    <xsl:when test="H1">
      <xsl:call-template name="server_error"/>
    </xsl:when>
    <xsl:otherwise>
      <xsl:call-template name="error_page">
        <xsl:with-param name="errorMessage" select="$xml_error_msg_text"/>
        <xsl:with-param name="errorDescription" select="$xml_error_des_text"/>
      </xsl:call-template>
    </xsl:otherwise>
  </xsl:choose>
</xsl:template>

<!-- **********************************************************************
 Cached page (do not customize)
     ********************************************************************** -->
<xsl:template name="cached_page">
<xsl:variable name="cached_page_url" select="CACHE/CACHE_URL"/>
<xsl:variable name="cached_page_html" select="CACHE/CACHE_HTML"/>

<!-- *** decide whether to load html page or pdf file *** -->
<xsl:if test="'.pdf' != substring($cached_page_url, 
  1 + string-length($cached_page_url) - string-length('.pdf'))">
    <base href="{$cached_page_url}"/>
</xsl:if>

<!-- *** display cache page header *** -->
<xsl:call-template name="cached_page_header">
  <xsl:with-param name="cached_page_url" select="$cached_page_url"/>
</xsl:call-template>

<!-- *** display cached contents *** -->
<xsl:value-of select="$cached_page_html" disable-output-escaping="yes"/>
</xsl:template>

<xsl:template name="escape_quot">
  <xsl:param name="string"/>
  <xsl:call-template name="replace_string">
    <xsl:with-param name="find" select="'&quot;'"/>
    <xsl:with-param name="replace" select="'&amp;quot;'"/>
    <xsl:with-param name="string" select="$string"/>
  </xsl:call-template>
</xsl:template>

<!-- **********************************************************************
 Advanced search page (do not customize)
     ********************************************************************** -->
<xsl:template name="advanced_search">

<xsl:variable name="html_escaped_as_q">
    <xsl:call-template name="escape_quot">
      <xsl:with-param name="string" select="/GSP/PARAM[@name='q']/@value"/>
    </xsl:call-template>
    <xsl:call-template name="escape_quot">
      <xsl:with-param name="string" select="/GSP/PARAM[@name='as_q']/@value"/>
    </xsl:call-template>
</xsl:variable>

<xsl:variable name="html_escaped_as_epq">
    <xsl:call-template name="escape_quot">
      <xsl:with-param name="string" select="/GSP/PARAM[@name='as_epq']/@value"/>
    </xsl:call-template>
</xsl:variable>

<xsl:variable name="html_escaped_as_oq">
    <xsl:call-template name="escape_quot">
      <xsl:with-param name="string" select="/GSP/PARAM[@name='as_oq']/@value"/>
    </xsl:call-template>
</xsl:variable>

<xsl:variable name="html_escaped_as_eq">
    <xsl:call-template name="escape_quot">
      <xsl:with-param name="string" select="/GSP/PARAM[@name='as_eq']/@value"/>
    </xsl:call-template>
</xsl:variable>

<xsl:call-template name="advanced_search_header"/>

<!--====Carry over Search Parameters======-->
<form method="get" action="{$cmx_search_url}" name="f">
    <xsl:if test="PARAM[@name='client']">
      <input type="hidden" name="client" value="{PARAM[@name='client']/@value}" />
    </xsl:if>
    <xsl:if test="PARAM[@name='site']">
      <input type="hidden" name="site" value="{PARAM[@name='site']/@value}"/>
    </xsl:if>
    <xsl:if test="PARAM[@name='output']">
      <input type="hidden" name="output" value="{PARAM[@name='output']/@value}" />
    </xsl:if>
    <xsl:if test="PARAM[@name='proxystylesheet']">
      <input type="hidden" name="proxystylesheet" value="{PARAM[@name='proxystylesheet']/@value}" />
    </xsl:if>
    <xsl:if test="PARAM[@name='ie']">
      <input type="hidden" name="ie" value="{PARAM[@name='ie']/@value}" />
    </xsl:if>
    <xsl:if test="PARAM[@name='oe']">
      <input type="hidden" name="oe" value="{PARAM[@name='oe']/@value}" />
    </xsl:if>
    <xsl:if test="PARAM[@name='restrict'] and $search_subcollections_xslt = ''">
      <input type="hidden" name="restrict" value="{PARAM[@name='restrict']/@value}" />
    </xsl:if>

    <!--====Advanced Search Options======-->

    <table style="width: 99%; border-style: none;" cellpadding="6" cellspacing="0">
      <tr>
        <td><strong>Advanced Web Search</strong></td>
      </tr>
    </table>

    <table cellspacing="0" cellpadding="3" border="0" width="99%">
      <tr class="adv_search_panel">
        <td>
          <table style="width: 100%; border-style: none;" cellspacing="0" cellpadding="0">
            <tr class="adv_search_panel">
              <td>
                <table style="width: 100%; border-style: none;" cellspacing="0" cellpadding="2">
                  <tr>
                    <td style="width: 15%;" valign="top">
                      <span class="smaller"><br />
                      <strong>Find results</strong>
                      </span>
                    </td>
                    <td style="width: 85%;">
                      <table style="width: 100%; border-style: none;" cellpadding="2" cellspacing="0">
                        <tr>
                          <td>
                            <span class="smaller">with <strong>all</strong> of the words</span>
                          </td>
                          <td>
                            <xsl:text disable-output-escaping="yes">
                            &lt;input type=&quot;text&quot; 
                            name=&quot;as_q&quot; 
                            size=&quot;25&quot; value=&quot;</xsl:text>
                            <xsl:value-of disable-output-escaping="yes" 
                            select="$html_escaped_as_q"/>
                            <xsl:text disable-output-escaping="yes">&quot;&gt;</xsl:text>
                          </td>

                          <td valign="top" rowspan="4">
                            <span class="smaller">
							<select name="num">
								<xsl:choose>
								<xsl:when test="PARAM[(@name='num') and (@value!='10')]">
									<option value="10">10 results</option>
								</xsl:when>
								<xsl:otherwise>
									<option value="10" selected="selected">10 results</option>
								</xsl:otherwise>
								</xsl:choose>
								<xsl:choose>
								<xsl:when test="PARAM[(@name='num') and (@value='20')]">
									<option value="20" selected="selected">20 results</option>
								</xsl:when>
									<xsl:otherwise>
									<option value="20">20 results</option>
								</xsl:otherwise>
								</xsl:choose>
								<xsl:choose>
								<xsl:when test="PARAM[(@name='num') and (@value='30')]">
									<option value="30" selected="selected">30 results</option>
								</xsl:when>
								<xsl:otherwise>
									<option value="30">30 results</option>
								</xsl:otherwise>
								</xsl:choose>
								<xsl:choose>
								<xsl:when test="PARAM[(@name='num') and (@value='50')]">
									<option value="50" selected="selected">50 results</option>
								</xsl:when>
								<xsl:otherwise>
									<option value="50">50 results</option>
								</xsl:otherwise>
								</xsl:choose>
								<xsl:choose>
								<xsl:when test="PARAM[(@name='num') and (@value='100')]">
									<option value="100" selected="selected">100 results</option>
								</xsl:when>
								<xsl:otherwise>
									<option value="100">100 results</option>
								</xsl:otherwise>
								</xsl:choose>
							</select>
                            </span>
			              </td>
                          <xsl:call-template name="subcollection_menu"/>
                          <td>
                            <span class="smaller">
                            <input type="submit" name="btnG" value="{$search_button_text}" />
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td nowrap="nowrap">
                            <span class="smaller">with the <strong>exact phrase</strong></span>
                          </td>
                          <td>
	                        <xsl:text disable-output-escaping="yes">
                            &lt;input type=&quot;text&quot; 
                            name=&quot;as_epq&quot; 
                            size=&quot;25&quot; value=&quot;</xsl:text>
                            <xsl:value-of disable-output-escaping="yes" 
                            select="$html_escaped_as_epq"/>
                            <xsl:text disable-output-escaping="yes">&quot;&gt;</xsl:text>
                          </td>
                        </tr>
                        <tr>
                          <td nowrap="nowrap">
                            <span class="smaller">with <strong>any</strong> of the words</span>
                          </td>
                          <td>
	                        <xsl:text disable-output-escaping="yes">
                            &lt;input type=&quot;text&quot; 
                            name=&quot;as_oq&quot; 
                            size=&quot;25&quot; value=&quot;</xsl:text>
                            <xsl:value-of disable-output-escaping="yes" 
                            select="$html_escaped_as_oq"/>
                            <xsl:text disable-output-escaping="yes">&quot;&gt;</xsl:text>
                          </td>
                        </tr>
                        <tr>
                          <td nowrap="nowrap">
                            <span class="smaller"><strong>without</strong> the words</span>
                          </td>
                          <td>
	                        <xsl:text disable-output-escaping="yes">
                            &lt;input type=&quot;text&quot; 
                            name=&quot;as_eq&quot; 
                            size=&quot;25&quot; value=&quot;</xsl:text>
                            <xsl:value-of disable-output-escaping="yes" 
                            select="$html_escaped_as_eq"/>
                            <xsl:text disable-output-escaping="yes">&quot;&gt;</xsl:text>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table style="width: 100%; border-style: none;" cellspacing="0" cellpadding="2">
                <tr>
                    <td style="width: 15%;">
                      <span class="smaller"><strong>Language</strong></span>
                    </td>
                    <td style="width: 40%;">
                      <span class="smaller">Return pages written in</span>
                    </td>
			        <td>
			          <span class="smaller">                    
   	                    <xsl:choose>
		                  <xsl:when test="PARAM[(@name='oe') and (@value!='')]"> 
                            <xsl:text disable-output-escaping="yes">&lt;select name=&quot;lr&quot;&gt;</xsl:text>
                          </xsl:when>
                          <xsl:otherwise>
                            <xsl:text disable-output-escaping="yes">&lt;select name=&quot;lr&quot; onchange=&quot;javascript:collecturl('/search', 'adv');&quot;&gt;</xsl:text>
                          </xsl:otherwise>
                        </xsl:choose>

						<option value="">any language</option>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_zh-CN')]">
							<option value="lang_zh-CN" 
								selected="selected">Chinese (Simplified)</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_zh-CN">Chinese (Simplified)</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_zh-TW')]">
							<option value="lang_zh-TW" 
								selected="selected">Chinese (Traditional)</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_zh-TW">Chinese (Traditional)</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_cs')]">
							<option value="lang_cs" selected="selected">Czech</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_cs">Czech</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_da')]">
							<option value="lang_da" selected="selected">Danish</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_da">Danish</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_nl')]">
							<option value="lang_nl" selected="selected">Dutch</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_nl">Dutch</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_en')]">
							<option value="lang_en" selected="selected">English</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_en">English</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_et')]">
							<option value="lang_et" selected="selected">Estonian</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_et">Estonian</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_fi')]">
							<option value="lang_fi" selected="selected">Finnish</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_fi">Finnish</option>
							</xsl:otherwise>
						</xsl:choose>

							<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_fr')]">
							<option value="lang_fr" selected="selected">French</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_fr">French</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_de')]">
							<option value="lang_de" selected="selected">German</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_de">German</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_el')]">
							<option value="lang_el" selected="selected">Greek</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_el">Greek</option>
							</xsl:otherwise>
						</xsl:choose>

							<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_iw')]">
							<option value="lang_iw" selected="selected">Hebrew</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_iw">Hebrew</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_hu')]">
							<option value="lang_hu" selected="selected">Hungarian</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_hu">Hungarian</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_is')]">
							<option value="lang_is" selected="selected">Icelandic</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_is">Icelandic</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_it')]">
							<option value="lang_it" selected="selected">Italian</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_it">Italian</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_ja')]">
							<option value="lang_ja" selected="selected">Japanese</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_ja">Japanese</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_ko')]">
							<option value="lang_ko" selected="selected">Korean</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_ko">Korean</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_lv')]">
							<option value="lang_lv" selected="selected">Latvian</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_lv">Latvian</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_lt')]">
							<option value="lang_lt" selected="selected">Lithuanian</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_lt">Lithuanian</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_no')]">
							<option value="lang_no" selected="selected">Norwegian</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_no">Norwegian</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_pl')]">
							<option value="lang_pl" selected="selected">Polish</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_pl">Polish</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_pt')]">
							<option value="lang_pt" selected="selected">Portuguese</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_pt">Portuguese</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_ro')]">
							<option value="lang_ro" selected="selected">Romanian</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_ro">Romanian</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_ru')]">
							<option value="lang_ru" selected="selected">Russian</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_ru">Russian</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_es')]">
							<option value="lang_es" selected="selected">Spanish</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_es">Spanish</option>
							</xsl:otherwise>
						</xsl:choose>

						<xsl:choose>
							<xsl:when test="PARAM[(@name='lr') and (@value='lang_sv')]">
							<option value="lang_sv" selected="selected">Swedish</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="lang_sv">Swedish</option>
							</xsl:otherwise>
						</xsl:choose>
                    
                        <xsl:text disable-output-escaping="yes">&lt;/select&gt;</xsl:text>
		              </span>
		            </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table style="width: 100%; border-style: none;" cellspacing="0" cellpadding="2">
                  <tr>
                    <td style="width: 15%;">
                      <span class="smaller"><strong>Occurrences</strong></span>
                    </td>
                    <td style="width: 40%;" nowrap="nowrap">
                      <span class="smaller">Return results where my terms occur</span>
                    </td>
                    <td>
                      <span class="smaller"><select name="as_occt">
						<xsl:choose>
							<xsl:when test="PARAM[(@name='as_occt') and (@value!='any')]">
							<option value="any"> anywhere in the page </option>
							</xsl:when>
							<xsl:otherwise>
							<option value="any" selected="selected">
								anywhere in the page
							</option>
							</xsl:otherwise>
						</xsl:choose>
						<xsl:choose>
							<xsl:when test="PARAM[(@name='as_occt') and (@value='title')]">
							<option value="title" selected="selected">in the title of the page</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="title">in the title of the page</option>
							</xsl:otherwise>
						</xsl:choose>
						<xsl:choose>
							<xsl:when test="PARAM[(@name='as_occt') and (@value='url')]">
							<option value="url" selected="selected">in the url of the page</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="url">in the url of the page</option>
							</xsl:otherwise>
						</xsl:choose>
                      </select></span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table style="width: 100%; border-style: none;" cellpadding="2" cellspacing="0">
                  <tr>
                    <td style="width:15%;">
                      <span class="smaller"><strong>Domains</strong></span>
                    </td>
                    <td style="width: 40%;" nowrap="nowrap">
                      <span class="smaller"><select name="as_dt">
						<xsl:choose>
							<xsl:when test="PARAM[(@name='as_dt') and (@value='i')]">
							<option value="i" selected="selected">Only</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="i">Only</option>
							</xsl:otherwise>
						</xsl:choose>
						<xsl:choose>
							<xsl:when test="PARAM[(@name='as_dt') and (@value='e')]">
							<option value="e" selected="selected">Don't</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="e">Don't</option>
							</xsl:otherwise>
						</xsl:choose>
                      </select>return results from the site or domain</span>
                    </td>
                    <td>
						<table style="border-style: none;" cellpadding="0" cellspacing="0">
                          <tr>
                            <td>
                              <xsl:choose>
                              <xsl:when test="PARAM[@name='as_sitesearch']">
                                <input type="text" size="25" 
                                value="{PARAM[@name='as_sitesearch']/@value}" 
                                name="as_sitesearch" />
                              </xsl:when>
                              <xsl:otherwise>
                                <input type="text" size="25" value="" name="as_sitesearch" />
                              </xsl:otherwise>
                              </xsl:choose>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" nowrap="nowrap">
                              <span class="smaller"><em>e.g. google.com, .org</em></span>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>

                <!-- Sort by Date feature -->
		            <tr>
                      <td style="width: 15%;">
                         <span class="smaller"><strong>Sort</strong></span>
                      </td>
                      <td style="width: 40%;" nowrap="nowrap">
                        <span class="smaller"><select name="sort">
						<xsl:choose>
							<xsl:when test="PARAM[(@name='sort') and (@value='')]">
							<option value="" selected="selected">by Relevance</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="">by Relevance</option>
							</xsl:otherwise>
						</xsl:choose>
						<xsl:choose>
							<xsl:when test="PARAM[(@name='sort') and (@value='date:D:S:d1')]">
							<option value="date:D:S:d1" selected="selected">by Date</option>
							</xsl:when>
							<xsl:otherwise>
							<option value="date:D:S:d1">by Date</option>
							</xsl:otherwise>
						</xsl:choose>
                        </select></span>
                      </td>
                    </tr>
                <!-- Secure Search feature -->
                    <xsl:if test="$show_secure_radio != '0'"> 
		            <tr>
                      <td style="width: 15%;">
						<span class="smaller"><strong>Security</strong></span>
				      </td>
                      <td style="width: 40%;" nowrap="nowrap">
                        <span class="smaller">
						<xsl:choose>
							<xsl:when test="$access='p'">
							<input type="radio" name="access" value="p" checked="checked" />Search public content only
							</xsl:when>
						<xsl:otherwise>
							<input type="radio" name="access" value="p"/>Search public content only
						</xsl:otherwise>
						</xsl:choose>
						<xsl:choose>
							<xsl:when test="$access='a'">
							<input type="radio" name="access" value="a" checked="checked" />Search public and secure content (login required)
							</xsl:when>
						<xsl:otherwise>
							<input type="radio" name="access" value="a"/>Search public and secure content (login required)
						</xsl:otherwise>
						</xsl:choose>
                        </span>
                      </td>
                    </tr>
                    </xsl:if>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br />
      <br />

      <!--====Page-Specific Search======-->
      <table style="border-style: none;" cellpadding="6" cellspacing="0">
        <tr>
          <td>
            <strong>Page-Specific Search</strong>
          </td>
        </tr>
      </table>

      <table style="width: 99%; border-style: none;" cellspacing="0" cellpadding="3">
        <tr>
          <td>
            <table style="width: 100%; border-style: none;" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <table style="width: 100%;" cellpadding="2" cellspacing="0">
                  <form method="get" action="{$cmx_search_url}" name="h">
                    <tr>
                      <td style="width: 15%;">
                        <span class="smaller"><strong>Links</strong></span>
                      </td>
                      <td style="width: 40%;" nowrap="nowrap">
                        <span class="smaller">Find pages that link to the page</span>
                      </td>
                      <td nowrap="nowrap">
                          <xsl:choose>
                            <xsl:when test="PARAM[@name='as_lq']">
                              <input type="text" size="30" 
                               value="{PARAM[@name='as_lq']/@value}" 
                                       name="as_lq" />
                          </xsl:when>
                          <xsl:otherwise>
                            <input type="text" size="30" value="" name="as_lq" />
                          </xsl:otherwise>
                        </xsl:choose>
                        <span class="smaller">
                        <input type="submit" name="btnG" value="{$search_button_text}" />
                        </span>
                      </td>
                    </tr>
                  </form>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </form>
</xsl:template>


<!-- **********************************************************************
 Resend query with filter=p to disable path_filtering 
 if there is only one result cluster (do not customize)
     ********************************************************************** -->
<xsl:template name="redirect_if_few_results">
  <xsl:variable name="count" select="count(/GSP/RES/R)"/> 
  <xsl:variable name="start" select="/GSP/RES/@SN"/> 
  <xsl:variable name="filterall" 
    select="count(/GSP/PARAM[@name='filter']) = 0"/> 
  <xsl:variable name="filter" select="/GSP/PARAM[@name='filter']/@value"/> 
 
  <xsl:if test="$count = 2 and $start = 1 and ($filterall or $filter = '1')">
      <meta HTTP-EQUIV="REFRESH" content="0;url={$filter_url}p"/>
  </xsl:if>
</xsl:template>


<!-- **********************************************************************
 Search results (do not customize)
     ********************************************************************** -->
<xsl:template name="search_results">
  <!-- *** Result page header *** -->
  <xsl:call-template name="result_page_header" />

  <!-- *** Top separation bar *** -->
    <xsl:if test="Q != ''">
      <xsl:call-template name="top_sep_bar">
        <xsl:with-param name="query" select="Q"/>
        <xsl:with-param name="time" select="TM"/>
      </xsl:call-template>
    </xsl:if>

    <xsl:if test="$choose_sep_bar != '0'">
      <hr class="sep_bar_line" />
    </xsl:if>

    <!-- *** Handle results (if any) *** -->
    <xsl:choose>
      <xsl:when test="RES or GM or Spelling or Synonyms or CT">
        <xsl:call-template name="results">
          <xsl:with-param name="query" select="Q"/>
          <xsl:with-param name="time" select="TM"/>
        </xsl:call-template>
      </xsl:when>
      <xsl:when test="Q=''">
      </xsl:when>
      <xsl:otherwise>
        <xsl:call-template name="no_RES">
          <xsl:with-param name="query" select="Q"/>
        </xsl:call-template>
      </xsl:otherwise>
    </xsl:choose>

</xsl:template>


<!-- ********************************************************************** 
  Subcollection menu beside the search box 
     ********************************************************************** -->
<xsl:template name="subcollection_menu">
  <xsl:if test="$search_subcollections_xslt != ''">
    <td valign="middle">
      <select name="restrict">
        <xsl:choose>
          <xsl:when test="PARAM[(@name='restrict') and (@value!='')]">
            <option value="">All documents</option>
          </xsl:when>
          <xsl:otherwise>
            <option value="" selected="selected">All documents</option>
          </xsl:otherwise>
        </xsl:choose>        
      </select>
    </td>
  </xsl:if>
</xsl:template>

<!-- ********************************************************************** 
  Search box input form 
     ********************************************************************** -->
<xsl:template name="search_box">
  <form name="gs" method="GET" action="{$cmx_search_url}">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td valign="middle">
          <span class="smaller">
            <xsl:text disable-output-escaping="yes">
              &lt;input type=&quot;text&quot; name=&quot;q&quot; class=&quot;search_box&quot; 
              maxlength=&quot;256&quot; value=&quot;</xsl:text>
            <xsl:value-of disable-output-escaping="yes" 
    	      select="$html_escaped_query"/>
            <xsl:text disable-output-escaping="yes">&quot;&gt;</xsl:text>
          </span>
          </td>
          <xsl:call-template name="subcollection_menu"/>
          <td valign="middle">
          <span class="smaller">
            <xsl:call-template name="nbsp"/>
              <xsl:choose>
              <xsl:when test="$choose_search_button = 'image'">
	            <input type="image" name="btnG" src="{$search_button_image_url}" valign="bottom" style="border-style: none;" value="{$search_button_text}"/>
              </xsl:when>     
              <xsl:otherwise>
                <input type="submit" name="btnG" value="{$search_button_text}"/>
              </xsl:otherwise>
              </xsl:choose>
          </span>
          </td>
        </tr>
        <xsl:if test="$show_secure_radio != '0'"> 
        <tr>
          <td colspan="2">
          <span class="smaller">Search:
            <xsl:choose>
              <xsl:when test="$access='p'">
                <input type="radio" name="access" value="p" checked="checked" />public content
              </xsl:when>
              <xsl:otherwise>
                <input type="radio" name="access" value="p"/>public content
              </xsl:otherwise>
            </xsl:choose>
            <xsl:choose>
              <xsl:when test="$access='a'">
                <input type="radio" name="access" value="a" checked="checked" />public and secure content
              </xsl:when>
              <xsl:otherwise>
                <input type="radio" name="access" value="a"/>public and secure content
              </xsl:otherwise>
            </xsl:choose>
          </span>
          </td>
        </tr>
        </xsl:if>
      </table>
    <xsl:text>
    </xsl:text>
    <xsl:call-template name="form_params"/>
  </form>
</xsl:template>


<!-- ********************************************************************** 
  Bottom search box (do not customized)
     ********************************************************************** -->
<xsl:template name="bottom_search_box">
    <br style="clear: both;" />
    <br/>
    <div style="text-align: center;">
    <table style="border-style: none;" cellpadding="2" cellspacing="0">
      <tr>
        <td nowrap="1">
          <xsl:call-template name="search_box"/>
        </td>
      </tr>
    </table>
    </div>
</xsl:template>


<!-- **********************************************************************
 Sort-by criteria: sort by date/relevance
     ********************************************************************** -->
<xsl:template name="sort_by">
  <xsl:variable name="sort_by_relevance_url"><xsl:for-each 
    select="/GSP/PARAM[(@name != 'sort') and
		       (@name != 'start')]">
      <xsl:value-of select="@name"/><xsl:text>=</xsl:text>
      <xsl:value-of select="@original_value"/>
      <xsl:if test="position() != last()">
        <xsl:text disable-output-escaping="yes">&amp;</xsl:text>
      </xsl:if>
    </xsl:for-each>
  </xsl:variable>
  <xsl:variable name="sort_by_date_url">
    <xsl:value-of select="$search_url"
      />&amp;sort=date%3AD%3AS%3Ad1</xsl:variable>

  <table>
    <tr valign='top'>
      <td>
        <span class="snippet">
        <xsl:text>Sort by: </xsl:text>
        <xsl:choose>
          <xsl:when test="/GSP/PARAM[@name = 'sort' and starts-with(@value,'date')]">
            <xsl:text>Date / </xsl:text>
            <a href="{$cmx_search_url}{$sort_by_relevance_url}">Relevance</a>
          </xsl:when>
          <xsl:otherwise>
            <a href="{$cmx_search_url}{$sort_by_date_url}">Date</a>
            <xsl:text> / Relevance</xsl:text>
          </xsl:otherwise>
        </xsl:choose>
        </span>
      </td>
    </tr>
  </table>
</xsl:template>

<!-- **********************************************************************
 Output all results 
     ********************************************************************** -->
<xsl:template name="results">
  <xsl:param name="query"/>
  <xsl:param name="time"/>

  <!-- *** Add top navigation/sort-by bar *** -->
  <table style="width: 100%;">
    <tr>
      <xsl:if test="$show_top_navigation != '0'">
      <td style="text-align: left;">
        <xsl:call-template name="google_navigation">
          <xsl:with-param name="prev" select="RES/NB/PU"/>
          <xsl:with-param name="next" select="RES/NB/NU"/>
          <xsl:with-param name="view_begin" select="RES/@SN"/>
          <xsl:with-param name="view_end" select="RES/@EN"/>
          <xsl:with-param name="guess" select="RES/M"/>
          <xsl:with-param name="navigation_style" select="'top'"/>
        </xsl:call-template>
      </td>
      </xsl:if>
      <xsl:if test="$show_sort_by != '0'">
      <td align="right">
        <xsl:call-template name="sort_by"/>
      </td>
      </xsl:if>
      <xsl:if test="$show_sort_by = '0'">
      <td align="right">
        <br/>
      </td>
      </xsl:if>
    </tr>
  </table>

  <!-- *** Handle spelling suggestions, if any *** -->
    <xsl:if test="$show_spelling != '0'">
      <xsl:call-template name="spelling"/>
    </xsl:if>

  <!-- *** Handle synonyms, if any *** -->
    <xsl:if test="$show_synonyms != '0'">
      <xsl:call-template name="synonyms"/>
    </xsl:if>

  <!-- *** Output results details *** -->
    <div class="results">
    <!-- for keymatch results -->
    <xsl:if test="$show_keymatch != '0'">
      <xsl:apply-templates select="/GSP/GM"/>  
    </xsl:if>
 
    <!-- for real results -->
    <xsl:apply-templates select="RES/R">
      <xsl:with-param name="query" select="$query"/>
    </xsl:apply-templates>

  <!-- *** Filter note (if needed) *** -->
    <xsl:if test="(RES/FI) and (not(RES/NB/NU))">
      <p class="omitted">
        <em>
        In order to show you the most relevant results, we have omitted 
        some entries very similar to the <xsl:value-of select="RES/@EN"/>
        already displayed. If you like, you can <a href="{$filter_url}0">
          repeat the search with the omitted results included</a>.
        </em>
      </p>
    </xsl:if>
    </div>

  <!-- *** Add bottom navigation *** -->
    <xsl:variable name="nav_style">
      <xsl:choose>
        <xsl:when test="($access='s') or ($access='a')">simple</xsl:when>
        <xsl:otherwise>
          <xsl:value-of select="$choose_bottom_navigation"/>
        </xsl:otherwise>
      </xsl:choose>
    </xsl:variable>

    <xsl:call-template name="google_navigation">
      <xsl:with-param name="prev" select="RES/NB/PU"/>
      <xsl:with-param name="next" select="RES/NB/NU"/>
      <xsl:with-param name="view_begin" select="RES/@SN"/>
      <xsl:with-param name="view_end" select="RES/@EN"/>
      <xsl:with-param name="guess" select="RES/M"/>
      <xsl:with-param name="navigation_style" select="$nav_style"/>
    </xsl:call-template>

  <!-- *** Bottom search box *** -->
    <xsl:if test="$show_bottom_search_box != '0'">
      <xsl:call-template name="bottom_search_box"/>
    </xsl:if>

</xsl:template>


<!-- **********************************************************************
 Stopwords suggestions in result page (do not customize)
     ********************************************************************** -->
<xsl:template name="stopwords">
  <xsl:variable name="stopwords_suggestions1">
    <xsl:call-template name="replace_string">
      <xsl:with-param name="find" select="'/help/basics.html#stopwords'"/>
      <xsl:with-param name="replace" select="'basics.html#stopwords'"/>
      <xsl:with-param name="string" select="/GSP/CT"/>
    </xsl:call-template>
  </xsl:variable>

  <xsl:variable name="stopwords_suggestions">
    <xsl:call-template name="replace_string">
      <xsl:with-param name="find" select="'/help/basics.html'"/>
      <xsl:with-param name="replace" select="'basics.html'"/>
      <xsl:with-param name="string" select="$stopwords_suggestions1"/>
    </xsl:call-template>
  </xsl:variable>

  <xsl:if test="/GSP/CT">
    <span class="stopwords">
      <xsl:value-of disable-output-escaping="yes" select="$stopwords_suggestions"/>
    </span>
  </xsl:if>
</xsl:template>


<!-- **********************************************************************
 Spelling suggestions in result page (do not customize)
     ********************************************************************** -->
<xsl:template name="spelling">
  <xsl:if test="/GSP/Spelling/Suggestion">
    <p><span class="spelling">
         <xsl:value-of select="$spelling_text"/>
         <xsl:call-template name="nbsp"/>
       </span> 
       <a href="{$cmx_search_url}q={/GSP/Spelling/Suggestion[1]/@q}&amp;spell=1&amp;{$base_url}">
       <xsl:value-of disable-output-escaping="yes" select="/GSP/Spelling/Suggestion[1]"/>
      </a>
    </p>
  </xsl:if>
</xsl:template>


<!-- **********************************************************************
 Synonym suggestions in result page (do not customize)
     ********************************************************************** -->
<xsl:template name="synonyms">
  <xsl:if test="/GSP/Synonyms/OneSynonym">
    <p><span class="synonyms">
         <xsl:value-of select="$synonyms_text"/>
         <xsl:call-template name="nbsp"/>
       </span> 
    <xsl:for-each select="/GSP/Synonyms/OneSynonym">
      <a href="{$cmx_search_url}q={@q}&amp;{$synonym_url}">
        <xsl:value-of disable-output-escaping="yes" select="."/>
      </a><xsl:text> </xsl:text>      
    </xsl:for-each>
    </p>
  </xsl:if>
</xsl:template>


<!-- ********************************************************************** 
  A single result (do not customize)
     ********************************************************************** -->
<xsl:template match="R">
  <xsl:param name="query"/>
  <xsl:variable name="stripped_url" select="substring-after(U, '://')"/>
  <xsl:variable name="full_url" select="UE"/>
  <xsl:variable name="crowded_url" select="HN/@U"/>
  <xsl:variable name="crowded_display_url" select="HN"/>
  <xsl:variable name="lower" select="'abcdefghijklmnopqrstuvwxyz'"/>
  <xsl:variable name="upper" select="'ABCDEFGHIJKLMNOPQRSTUVWXYZ'"/>

  <!-- *** Indent as required (only supports 2 levels) *** -->
  <xsl:if test="@L='2'"><xsl:text disable-output-escaping="yes">&lt;blockquote&gt;</xsl:text></xsl:if>

  <!-- *** Result Header *** -->
  <p>

  <!-- *** Result Title (including PDF tag and hyperlink) *** -->
  <xsl:if test="$show_res_title != '0'"> 
    <span class="smaller"><span class="smaller"><strong>
    <xsl:choose>
      <xsl:when test="@MIME='text/html' or @MIME='' or not(@MIME)"></xsl:when>
      <xsl:when test="@MIME='text/plain'">[TEXT]</xsl:when>
      <xsl:when test="@MIME='application/rtf'">[RTF]</xsl:when>
      <xsl:when test="@MIME='application/pdf'">[PDF]</xsl:when>
      <xsl:when test="@MIME='application/postscript'">[PS]</xsl:when>
      <xsl:when test="@MIME='application/vnd.ms-powerpoint'">[MS POWERPOINT]</xsl:when>
      <xsl:when test="@MIME='application/vnd.ms-excel'">[MS EXCEL]</xsl:when>
      <xsl:when test="@MIME='application/msword'">[MS WORD]</xsl:when>
      <xsl:otherwise>
        <xsl:variable name="extension">
          <xsl:call-template name="last_substring_after">
            <xsl:with-param name="string" select="substring-after(
                                                  substring-after(U,'://'),
                                                  '/')"/>
            <xsl:with-param name="separator" select="'.'"/>
            <xsl:with-param name="fallback" select="'UNKNOWN'"/>
          </xsl:call-template>
        </xsl:variable>
        [<xsl:value-of select="translate($extension,$lower,$upper)"/>]
      </xsl:otherwise>
    </xsl:choose>
    </strong></span></span>
    <xsl:text> </xsl:text>

    <xsl:if test="not(starts-with($stripped_url, 'noindex!/'))"> 
      <xsl:text disable-output-escaping='yes'>&lt;a href="</xsl:text><xsl:value-of disable-output-escaping='yes' select="U"
      /><xsl:text disable-output-escaping='yes'>"&gt;</xsl:text>
    </xsl:if> 
    <span class="res_link">
    <xsl:choose>
      <xsl:when test="T">
        <xsl:call-template name="reformat_keyword">
          <xsl:with-param name="orig_string" select="T"/>
        </xsl:call-template>
      </xsl:when>
      <xsl:otherwise><xsl:value-of select="$stripped_url"/></xsl:otherwise>
    </xsl:choose>
    </span>
    <xsl:if test="not(starts-with($stripped_url, 'noindex!/'))">
        <xsl:text disable-output-escaping='yes'>&lt;/a&gt;</xsl:text>
    </xsl:if> 
  </xsl:if>
    
  <!-- *** Snippet *** -->
  <xsl:if test="$show_res_snippet != '0'">
    <br/>
    <span class="snippet">
      <xsl:call-template name="reformat_keyword">
        <xsl:with-param name="orig_string" select="S"/>
      </xsl:call-template>
    </span>
  </xsl:if>

  <!-- *** Description *** -->
  <xsl:if test="$show_res_description != '0'">
    <xsl:apply-templates select="HAS/DI/DS"/>
  </xsl:if>

  <!-- *** URL *** -->
    <br/>
    <span class="res_url">
      <xsl:choose>
        <xsl:when test="starts-with($stripped_url, 'noindex!/')">
          <xsl:if test="($show_res_size!='0') or 
                        ($show_res_date!='0') or 
                        ($show_res_cache!='0')">
            <xsl:text>Not Indexed: </xsl:text>
            <xsl:value-of select="substring($stripped_url, 10)"/>
          </xsl:if>
	</xsl:when>
        <xsl:otherwise>
          <xsl:if test="$show_res_url != '0'">
            <xsl:value-of select="$stripped_url"/>
          </xsl:if>
        </xsl:otherwise>
      </xsl:choose>
    </span>

  <!-- *** Miscellaneous (- size - date - cache) *** -->
    <xsl:if test="not(starts-with($stripped_url, 'noindex!/'))">
      <xsl:apply-templates select="HAS/C">
        <xsl:with-param name="full_url" select="$full_url"/>
        <xsl:with-param name="query" select="$query"/>
        <xsl:with-param name="mime" select="@MIME"/>
        <xsl:with-param name="date" select="FS[@NAME='date']/@VALUE"/>
      </xsl:apply-templates>
    </xsl:if>


  <!-- *** Link to more links from this site *** -->
		<xsl:if test="HN">
			<br/>
			[
			<xsl:choose>
				<xsl:when test="string-length($crowded_display_url) > 40">
					<a class="faint" title="More results from {$crowded_display_url}" href="{$cmx_search_url}as_sitesearch={$crowded_url}&amp;{
					$search_url}">
						More results from <xsl:value-of 
					select="substring($crowded_display_url, 1, 40)"/> ...
					</a>
				</xsl:when>
				<xsl:otherwise>
					<a class="faint" title="More results from {$crowded_display_url}" href="{$cmx_search_url}as_sitesearch={$crowded_url}&amp;{
					$search_url}">
						More results from <xsl:value-of 
					select="$crowded_display_url"/>
					</a>
				</xsl:otherwise>
			</xsl:choose>
			]
		</xsl:if>


		<!-- *** Result Footer *** -->
	</p>

	<!-- *** End indenting as required (only supports 2 levels) *** -->
  <xsl:if test="@L='2'"><xsl:text disable-output-escaping="yes">&lt;/blockquote&gt;</xsl:text>
  </xsl:if>

</xsl:template>


<!-- ********************************************************************** 
  A single keymatch result (do not customize)
     ********************************************************************** -->
<xsl:template match="GM">
  <p>
    <table style="width: 100%; height: 40px; border-style: none;" cellpadding="4" cellspacing="0">
      <tr>
        <td class="keymatch" nowrap="0" style="height: 40;">
          <a href="{GL}">
            <xsl:value-of select="GD"/>
          </a>
          <br/>
          <span class="res_url">
               <xsl:value-of select="GL"/>
          </span>
        </td>
        <td class="keymatch" style="height: 40; text-align: right;" valign="top">
	    <strong>
          <span class="smaller">
            <xsl:value-of select="$keymatch_text"/>
          </span>
	    </strong>
        </td>
      </tr>           
    </table>
  </p>
</xsl:template>


<!-- ********************************************************************** 
  Variables for reformatting keyword-match display (do not customize)
     ********************************************************************** -->
<xsl:variable name="keyword_orig_start" select="'&lt;strong&gt;'"/>
<xsl:variable name="keyword_orig_end" select="'&lt;/strong&gt;'"/>
<xsl:variable name="keyword_br" select="'&lt;br&gt;'"/>
<xsl:variable name="keyword_empty" select="' '"/>

<xsl:variable name="keyword_reformat_start">
  <xsl:text>&lt;span class="res_keyword"&gt;</xsl:text>
</xsl:variable>

<xsl:variable name="keyword_reformat_end">
  <xsl:text>&lt;/span&gt;</xsl:text>
</xsl:variable>

<!-- ********************************************************************** 
  Reformat the keyword match display in a title/snippet string 
     (do not customize)
     ********************************************************************** -->
<xsl:template name="reformat_keyword">
  <xsl:param name="orig_string"/>

  <xsl:variable name="reformatted_1">
    <xsl:call-template name="replace_string">
      <xsl:with-param name="find" select="$keyword_orig_start"/>
      <xsl:with-param name="replace" select="$keyword_reformat_start"/>
      <xsl:with-param name="string" select="$orig_string"/>
    </xsl:call-template>
  </xsl:variable>

  <xsl:variable name="reformatted_2">
    <xsl:call-template name="replace_string">
      <xsl:with-param name="find" select="$keyword_orig_end"/>
      <xsl:with-param name="replace" select="$keyword_reformat_end"/>
      <xsl:with-param name="string" select="$reformatted_1"/>
    </xsl:call-template>
  </xsl:variable>

  <xsl:variable name="reformatted_3">
    <xsl:call-template name="replace_string">
      <xsl:with-param name="find" select="$keyword_br"/>
      <xsl:with-param name="replace" select="$keyword_empty"/>
      <xsl:with-param name="string" select="$reformatted_2"/>
    </xsl:call-template>
  </xsl:variable>

  <xsl:value-of disable-output-escaping='yes' select="$reformatted_3"/>

</xsl:template>


<!-- ********************************************************************** 
  Helper templates for generating a result item (do not customize)
     ********************************************************************** -->

<!-- *** Description *** -->
<xsl:template match="DS">
    <br/>
    <span class="smaller">
      <span class="faint">Description: </span><xsl:value-of disable-output-escaping='yes' select="."/>
    </span>
</xsl:template>

<!-- *** Miscellaneous: - size - date - cache *** -->
<xsl:template match="C">
    <xsl:param name="full_url"/>
    <xsl:param name="query"/>
    <xsl:param name="mime"/>
    <xsl:param name="date"/>

    <xsl:variable name="docid"><xsl:value-of select="@CID"/></xsl:variable>

    <xsl:if test="$show_res_size != '0'">
    <xsl:if test="not(@SZ='')">
      <span class="smaller">
        <xsl:text> - </xsl:text>
        <xsl:value-of select="@SZ"/>
      </span>
    </xsl:if>
    </xsl:if>

    <xsl:if test="$show_res_date != '0'">
    <xsl:if test="($date != '') and 
                  (translate($date, '-', '') &gt; 19500000) and 
                  (translate($date, '-', '') &lt; 21000000)">
      <span class="smaller">
        <xsl:text> - </xsl:text>
        <xsl:value-of select="$date"/>
      </span>
    </xsl:if>
    </xsl:if>

    <xsl:if test="$show_res_cache != '0'">
        <xsl:text> - </xsl:text>
        <a class="faint" href="{$google_search_url}q=cache:{$docid}{$full_url}+{$stripped_search_query}&amp;{$base_url}">
          <xsl:choose>
            <xsl:when test="not($mime)">Cached</xsl:when>
            <xsl:when test="$mime='text/html'">Cached</xsl:when>
            <xsl:when test="$mime='text/plain'">Cached</xsl:when>
            <xsl:otherwise>Text Version</xsl:otherwise>
          </xsl:choose>
        </a>
    </xsl:if>
    
</xsl:template>


<!-- **********************************************************************
 Google navigation bar in result page (do not customize)
     ********************************************************************** -->
<xsl:template name="google_navigation">
    <xsl:param name="prev"/>
    <xsl:param name="next"/>
    <xsl:param name="view_begin"/>
    <xsl:param name="view_end"/>
    <xsl:param name="guess"/>
    <xsl:param name="navigation_style"/>

  <xsl:variable name="fontclass">
    <xsl:choose>
      <xsl:when test="$navigation_style = 'top'">snippet</xsl:when>
      <xsl:otherwise>navigation_strong</xsl:otherwise>
    </xsl:choose> 
  </xsl:variable>

  <!-- *** Test to see if we should even show navigation *** -->
  <xsl:if test="($prev) or ($next)">

  <!-- *** Start Google result navigation bar *** -->

    <xsl:if test="$navigation_style != 'top'">
      <xsl:text disable-output-escaping="yes">&lt;div class=&quot;navigation&quot;&gt;</xsl:text>
    </xsl:if>
    
    <table style="width: 1%; border-style: none;" cellpadding="0" cellspacing="0">
      <tr style="text-align: center;" valign="top">
	    <xsl:if test="$navigation_style != 'top'">
        <td valign="bottom" nowrap="1">
          <span class="smaller">
            Result<xsl:call-template name="nbsp"/>Page:<xsl:call-template name="nbsp"/>
          </span>
        </td>
	</xsl:if>
        
  <!-- *** Show previous navigation, if available *** -->
	<xsl:choose>
          <xsl:when test="$prev">
            <td> 
	      <span class="{$fontclass}">
              <a href="{$cmx_search_url}{$search_url}&amp;start={$view_begin - $num_results - 1}">
	        <xsl:if test="$navigation_style = 'google'">
                  <img src="{$google_base_url}/nav_previous.gif" width="68" height="26" alt=""/>
                  <br/>
 	        </xsl:if>
                <xsl:if test="$navigation_style = 'top'">
                  <xsl:text>&lt;</xsl:text>
                </xsl:if>
                <xsl:text>Previous</xsl:text>
              </a>
              </span>
              <xsl:if test="$navigation_style != 'google'">
  	        <xsl:call-template name="nbsp"/>
              </xsl:if>
            </td>
          </xsl:when>
          <xsl:otherwise>
            <td>
              <xsl:if test="$navigation_style = 'google'">
                <img src="{$google_base_url}/nav_first.gif" width="18" height="26" alt=""/>
                <br/>
	      </xsl:if>
            </td>
          </xsl:otherwise>
        </xsl:choose>

        <xsl:if test="($navigation_style = 'google') or ($navigation_style = 'link')">
  <!-- *** Google result set navigation *** -->
        <xsl:variable name="mod_end">
          <xsl:choose>
            <xsl:when test="$next"><xsl:value-of select="$guess"/></xsl:when>
            <xsl:otherwise><xsl:value-of select="$view_end"/></xsl:otherwise>
          </xsl:choose>
        </xsl:variable>

        <xsl:call-template name="result_nav">
          <xsl:with-param name="start" select="0"/>
          <xsl:with-param name="end" select="$mod_end"/>
          <xsl:with-param name="current_view" select="($view_begin)-1"/>
          <xsl:with-param name="navigation_style" select="$navigation_style"/>
        </xsl:call-template>
        </xsl:if>

  <!-- *** Show next navigation, if available *** -->
        <xsl:choose>
          <xsl:when test="$next">
            <td nowrap="1">
              <xsl:if test="$navigation_style != 'google'">
  	        <xsl:call-template name="nbsp"/>
              </xsl:if>
              <span class="{$fontclass}">
              <a href="{$cmx_search_url}{$search_url}&amp;start={$view_begin + $num_results - 1}">
	        <xsl:if test="$navigation_style = 'google'">
                  <img src="{$google_base_url}/nav_next.gif" width="100" height="26" alt=""/>
                  <br/>
	        </xsl:if>
                <xsl:text>Next</xsl:text>
                <xsl:if test="$navigation_style = 'top'">
                  <xsl:text>&gt;</xsl:text>
                </xsl:if>
              </a>
              </span>
            </td>
          </xsl:when>
          <xsl:otherwise>
            <td nowrap="1">
              <xsl:if test="$navigation_style != 'google'">
	        <xsl:call-template name="nbsp"/>
              </xsl:if>
              <xsl:if test="$navigation_style = 'google'">
                <img src="{$google_base_url}/nav_last.gif" width="46" height="26" alt=""/>
                <br/>
	      </xsl:if>
            </td>
          </xsl:otherwise>
        </xsl:choose>

  <!-- *** End Google result bar *** -->
      </tr>
    </table>
    
    <xsl:if test="$navigation_style != 'top'">
      <xsl:text disable-output-escaping="yes">&lt;/div&gt;</xsl:text>
    </xsl:if>
  </xsl:if>
</xsl:template>

<!-- **********************************************************************
 Helper templates for generating Google result navigation (do not customize)
   only shows 10 sets up or down from current view
     ********************************************************************** -->
<xsl:template name="result_nav">
  <xsl:param name="start" select="'0'"/>
  <xsl:param name="end"/>
  <xsl:param name="current_view"/>
  <xsl:param name="navigation_style"/>

  <!-- *** Choose how to show this result set *** -->
  <xsl:choose>
    <xsl:when test="($start)&lt;(($current_view)-(10*($num_results)))">
    </xsl:when>
    <xsl:when test="(($current_view)&gt;=($start)) and (($current_view)&lt;(($start)+($num_results)))">
      <td>
        <xsl:if test="$navigation_style = 'google'">
          <img src="{$google_base_url}/nav_current.gif" width="16" height="26" alt=""/>
          <br/>
        </xsl:if>
        <xsl:if test="$navigation_style = 'link'">
	  <xsl:call-template name="nbsp"/>
        </xsl:if>
	<span class="navigation_em"><xsl:value-of select="(($start)div($num_results))+1"/></span>
        <xsl:if test="$navigation_style = 'link'">
	  <xsl:call-template name="nbsp"/>
        </xsl:if>
      </td>
    </xsl:when>
    <xsl:otherwise>
      <td>
        <xsl:if test="$navigation_style = 'link'">
  	  <xsl:call-template name="nbsp"/>
        </xsl:if>
        <a href="{$cmx_search_url}{$search_url}&amp;start={$start}">
        <xsl:if test="$navigation_style = 'google'">
          <img src="{$google_base_url}/nav_page.gif" width="16" height="26" alt=""/>
          <br/>
        </xsl:if>
        <xsl:value-of select="(($start)div($num_results))+1"/>
        </a>
        <xsl:if test="$navigation_style = 'link'">
 	  <xsl:call-template name="nbsp"/>
        </xsl:if>
      </td>
    </xsl:otherwise>
  </xsl:choose>
  
  <!-- *** Recursively iterate through result sets to display *** -->
  <xsl:if test="((($start)+($num_results))&lt;($end)) and 
                ((($start)+($num_results))&lt;(($current_view)+
                (10*($num_results))))">
    <xsl:call-template name="result_nav">
      <xsl:with-param name="start" select="$start+$num_results"/>
      <xsl:with-param name="end" select="$end"/>
      <xsl:with-param name="current_view" select="$current_view"/>
      <xsl:with-param name="navigation_style" select="$navigation_style"/>
    </xsl:call-template>
  </xsl:if>

</xsl:template>


<!-- **********************************************************************
 Top separation bar (do not customize)
     ********************************************************************** -->
<xsl:template name="top_sep_bar">
  <xsl:param name="query"/>
  <xsl:param name="time"/>

    <table style="width: 100%; border-style: none;" cellpadding="2" cellspacing="0">
      <tr>
        <td class="sep_bar" nowrap="1">
 	  <xsl:if test="$show_search_info != '0'">
            <span class="smaller">
              Searched for
              <strong>
                <xsl:value-of disable-output-escaping="yes" select="$html_escaped_query"/>
              </strong>.
            </span> 
          </xsl:if>
          <span style="font-size: 1pt;"><xsl:call-template name="nbsp"/></span>
        </td>

        <td class="sep_bar" style="text-align: right;" nowrap="1">
	  <xsl:if test="$show_search_info != '0'">
            <span class="smaller">
            <xsl:if test="count(/GSP/RES/R)>0 ">
              Results 
              <strong><xsl:value-of select="RES/@SN"/> - <xsl:value-of 
                   select="RES/@EN"/></strong>
              <xsl:if test="$access = 'p'">
                of about <strong><xsl:value-of select="RES/M"/></strong>
              </xsl:if>.
            </xsl:if>
 						<xsl:if test="$show_time != '0'">
              Search took 
              <strong><xsl:value-of 
                   select="round($time * 100.0) div 100.0"/></strong> seconds.
            </xsl:if>
            </span>
          </xsl:if>
        </td>
      </tr>
    </table>
    <hr class="hidden"/>
</xsl:template>


<!-- **********************************************************************
 Utility functions for generating html entities 
     ********************************************************************** -->
<xsl:template name="nbsp">
  <xsl:text disable-output-escaping="yes">&amp;nbsp;</xsl:text>
</xsl:template>
<xsl:template name="nbsp3">
  <xsl:call-template name="nbsp"/>
  <xsl:call-template name="nbsp"/>
  <xsl:call-template name="nbsp"/>
</xsl:template>
<xsl:template name="nbsp4">
  <xsl:call-template name="nbsp3"/>
  <xsl:call-template name="nbsp"/>
</xsl:template>
<xsl:template name="quot">
  <xsl:text disable-output-escaping="yes">&amp;quot;</xsl:text>
</xsl:template>
<xsl:template name="copy">
  <xsl:text disable-output-escaping="yes">&amp;copy;</xsl:text>
</xsl:template>


<!-- **********************************************************************
 Utility functions (do not customize)
     ********************************************************************** -->

<!-- *** Find the substring after the last occurence of a separator *** -->
<xsl:template name="last_substring_after">

  <xsl:param name="string"/>
  <xsl:param name="separator"/>
  <xsl:param name="fallback"/>

  <xsl:variable name="newString" select="substring-after($string, $separator)"/>

  <xsl:choose>
    <xsl:when test="$newString!=''">
      <xsl:call-template name="last_substring_after">
        <xsl:with-param name="string" select="$newString"/>
        <xsl:with-param name="separator" select="$separator"/>
        <xsl:with-param name="fallback" select="$newString"/>
      </xsl:call-template>
    </xsl:when>
    <xsl:otherwise>
      <xsl:value-of select="$fallback"/>
    </xsl:otherwise>
  </xsl:choose>

</xsl:template>

<!-- *** Find and replace *** -->
<xsl:template name="replace_string">
  <xsl:param name="find"/>
  <xsl:param name="replace"/>
  <xsl:param name="string"/>
  <xsl:choose>
    <xsl:when test="contains($string, $find)">
      <xsl:value-of select="substring-before($string, $find)"/>
      <xsl:value-of select="$replace"/>
      <xsl:call-template name="replace_string">
        <xsl:with-param name="find" select="$find"/>
        <xsl:with-param name="replace" select="$replace"/>
        <xsl:with-param name="string" 
          select="substring-after($string, $find)"/>
      </xsl:call-template>    
    </xsl:when>
    <xsl:otherwise>
      <xsl:value-of select="$string"/>
    </xsl:otherwise>
  </xsl:choose>
</xsl:template>

<!-- **********************************************************************
 Display server error message
     ********************************************************************** -->
<xsl:template name="server_error">
  <xsl:copy-of select="descendant::*"/>
</xsl:template>

<!-- **********************************************************************
 Display other error message
     ********************************************************************** -->
<xsl:template name="error_page">
  <xsl:param name="errorMessage"/>
  <xsl:param name="errorDescription"/>

  <xsl:value-of select="$error_page_title"/>: 
  <xsl:value-of select="$errorMessage"/><br/><br/>
  <xsl:value-of select="$errorDescription"/><br/><br/>
  <xsl:text>


  </xsl:text>
  <xsl:copy-of select="/"/>
</xsl:template>


<!-- **********************************************************************
 Swallow unmatched elements
     ********************************************************************** -->
<xsl:template match="@*|node()"/>
</xsl:stylesheet>


<!-- *** END OF STYLESHEET *** -->


