.BG_Base {
	BACKGROUND-COLOR: #4e6c49
}
.BG_VeryLight {
	BACKGROUND-COLOR: #ffffff
}
.BG_Light {
	BACKGROUND-COLOR: #deeedc
}
.BG_Mid {
	BACKGROUND-COLOR: #87a583
}
.BG_Dark {
	BACKGROUND-COLOR: #62a259
}
.BG_VeryDark {
	BACKGROUND-COLOR: #000000
}
.BG_CompLight {
	BACKGROUND-COLOR: #fdf3c5
}
.BG_CompMid {
	BACKGROUND-COLOR: #fadc5a
}
.BG_CompDark {
	BACKGROUND-COLOR: #b29460
}
.F_VeryLight {
	COLOR: #ffffff
}
.F_Light {
	COLOR: #deeedc
}
.F_Mid {
	COLOR: #87a583
}
.F_Dark {
	COLOR: #62a259
}
.F_VeryDark {
	COLOR: #000000
}
.F_CompLight {
	COLOR: #fdf3c5
}
.F_CompMid {
	COLOR: #fadc5a
}
.F_CompDark {
	COLOR: #b29460
}
BODY {
	FONT-SIZE: 10pt; BACKGROUND: #4e6c49; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif; TEXT-ALIGN: center
}
.MS_MasterFrame {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Geneva, sans-serif
}
TH {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Geneva, sans-serif
}
.MSC_SiteWidth {
	WIDTH: 780px
}
.MS_MasterHeader {
	WIDTH: 780px
}
.MS_MasterFrame {
	WIDTH: 780px
}
.MS_MasterGlobalLinks {
	WIDTH: 780px
}
.MS_MasterHeader {
	WIDTH: 780px
}
.MS_MasterPrimaryNav {
	WIDTH: 780px
}
.MS_MasterFooter {
	WIDTH: 780px
}
.MS_MasterTopAD {
	WIDTH: 780px
}
.MS_MasterBottomAD {
	WIDTH: 780px
}
.MSC_HeaderFrame {
	BACKGROUND: #62a259; WIDTH: 100%
}
.MSC_HeaderDescription {
	FONT-SIZE: 12px; MARGIN: 0px
}
.MSC_GlobalLinkSpace {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10pt; PADDING-BOTTOM: 10px; COLOR: #ffffff; PADDING-TOP: 10px
}
.MSC_GlobalLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.MSC_GlobalLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
.MSC_GlobalLink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.MSC_GlobalLinkSpace {
	FONT-SIZE: 10pt
}
.MSC_PrimaryNavFrame {
	BACKGROUND: #87a583; MARGIN: 1px 0px 5px; WIDTH: 100%; TEXT-ALIGN: left
}
.MSC_PrimaryNavLink {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.MSC_PrimaryNavLink:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline
}
.MSC_PrimaryNavLink:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.MSC_PrimaryNavLinkFrame-On {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #fdf3c5; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.MSC_PrimaryNavLink-On {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #325884; TEXT-DECORATION: none
}
.MSC_PrimaryNavLink-On:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #325884; TEXT-DECORATION: underline
}
.MSC_PrimaryNavLink-On:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #325884; TEXT-DECORATION: none
}
.MSC_PrimaryNavLeftSpace {
	FONT-SIZE: 1px; BACKGROUND: #000000; WIDTH: 1px; WHITE-SPACE: nowrap
}
.MSC_PrimaryNavRightSpace {
	FONT-SIZE: 1px; BACKGROUND: #deeedc; WIDTH: 1px; WHITE-SPACE: nowrap
}
.MSC_PrimaryNavTopSpace {
	BACKGROUND: #000000; HEIGHT: 1px
}
.MSC_PrimaryNavBottomSpace {
	BACKGROUND: #deeedc; HEIGHT: 1px
}
.MS_MasterLeftNav {
	BACKGROUND: #deeedc
}
.MSC_SecondaryNavFrame {
	BACKGROUND: #fdf3c5; WIDTH: 100%; TEXT-ALIGN: left
}
.MSC_SecondaryNavLink {
	FONT-SIZE: 10pt; COLOR: #325884; TEXT-DECORATION: none
}
.MSC_SecondaryNavLink:hover {
	FONT-SIZE: 10pt; COLOR: #325884; TEXT-DECORATION: underline
}
.MSC_SecondaryNavLink:visited {
	FONT-SIZE: 10pt; COLOR: #325884; TEXT-DECORATION: none
}
.MSC_SecondaryNavLeftSpace {
	FONT-SIZE: 1px; BACKGROUND: #87a583; WIDTH: 1px; WHITE-SPACE: nowrap
}
.MSC_SecondaryNavRightSpace {
	FONT-SIZE: 1px; BACKGROUND: #ffffff; WIDTH: 1px; WHITE-SPACE: nowrap
}
.MSC_SecondaryNavTopSpace {
	BACKGROUND: #87a583; HEIGHT: 1px
}
.MSC_SecondaryNavBottomSpace {
	BACKGROUND: #ffffff; HEIGHT: 1px
}
.MSC_SecondaryNavLeftFrame-On {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.MSC_SecondaryNavLinkFrame-On {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.MSC_SecondaryNavLink-On {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; COLOR: #325884; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.MSC_SecondaryNavLink-On:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; COLOR: #325884; PADDING-TOP: 5px; TEXT-DECORATION: underline
}
.MSC_SecondaryNavLink-On:visited {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; COLOR: #325884; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.MS_MasterBody {
	BACKGROUND: #ffffff
}
.MSC_Body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 100%; TEXT-ALIGN: left
}
.MSC_FooterFrame {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #62a259; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.MSC_FooterLink {
	FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.MSC_FooterLink:hover {
	FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
.MSC_FooterLink:visited {
	FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.MSC_FooterLinkSpacer {
	FONT-SIZE: 10pt; COLOR: #ffffff
}
.MSC_FooterText {
	FONT-SIZE: 10pt; COLOR: #ffffff
}
.MSSB_ProductTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #325884; TEXT-DECORATION: none
}
.MSSB_ProductTitle:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ba2a2d; TEXT-DECORATION: underline
}
.MSSB_ProductTitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #325884; TEXT-DECORATION: none
}
.MSSB_Price {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 18px; PADDING-BOTTOM: 5px; COLOR: #b29460; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.MSSB_ProductDescription {
	FONT-SIZE: 10pt
}
.MSSB_ProductDetailLink {
	COLOR: #325884; FONT-FAMILY: Arial, Geneva, sans-serif; TEXT-DECORATION: none
}
.MSSB_ProductDetailLink:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; COLOR: #ba2a2d; PADDING-TOP: 5px; TEXT-DECORATION: underline
}
.MSSB_ProductDetailLink:visited {
	FONT-SIZE: 10pt; COLOR: #325884; TEXT-DECORATION: none
}
.MSSB_PurchaseButton {
	FONT-SIZE: 10pt
}
.MSSB_CartButton {
	FONT-SIZE: 10pt
}
.MSSB_ShortDescription {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.MSSB_LongDescription {
	FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MSSB_RegularPrice {
	FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MSSB_PromoText {
	FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MSSB_SKU {
	FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MSSB_ProductBodyText {
	FONT-SIZE: 10pt
}
.MSSB_ProductHeader {
	FONT-SIZE: 21px
}
.MSSB_ProductOptionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.MSSB_ProductOptions {
	FONT-SIZE: 12px
}
.MSSB_BreadcrumbLink {
	FONT-SIZE: 12px; COLOR: #325884; TEXT-DECORATION: none
}
.MSSB_BreadcrumbLink:hover {
	FONT-SIZE: 12px; COLOR: #ba2a2d; TEXT-DECORATION: underline
}
.MSSB_BreadcrumbLink:visited {
	FONT-SIZE: 12px; COLOR: #325884; TEXT-DECORATION: none
}
.MSSB_BreadcrumbSpacer {
	FONT-SIZE: 12px; MARGIN: 0px 5px
}
.MSSB_ProductRowSpacer {
	BACKGROUND: #cecece
}
.MSSB_ProductOptions {
	FONT-SIZE: 10pt
}
.MSC_CollectDataTable {
	FONT-SIZE: 10pt
}
.MSC_CollectDataTable {
	FONT-SIZE: 10pt
}
.MSC_DisplayDataTable {
	BORDER-RIGHT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #f1f1f1 1px solid; BORDER-BOTTOM: #f1f1f1 1px solid; BORDER-COLLAPSE: collapse
}
.MSC_DisplayDataTable TD {
	BORDER-RIGHT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #f1f1f1 1px solid; BORDER-BOTTOM: #f1f1f1 1px solid; BORDER-COLLAPSE: collapse
}
.MSC_DisplayDataTable TH {
	BORDER-RIGHT: #87a583 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #87a583 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #87a583 1px solid; COLOR: #62a259; PADDING-TOP: 3px; BORDER-BOTTOM: #87a583 1px solid; BACKGROUND-COLOR: #deeedc
}
.MSC_DisplayDataTable {
	BORDER-RIGHT: #87a583 1px solid; BORDER-TOP: #87a583 1px solid; BORDER-LEFT: #87a583 1px solid; BORDER-BOTTOM: #87a583 1px solid; BORDER-COLLAPSE: collapse
}
.MSC_DisplayDataTable TD {
	BORDER-RIGHT: #87a583 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #87a583 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #87a583 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #87a583 1px solid; BORDER-COLLAPSE: collapse
}
.MSC_DisplayDataTableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 3px; COLOR: #000000
}
.MSC_DisplayDataRepeatingForm TABLE TD HR {
	COLOR: #87a583; HEIGHT: 1px
}
.MSC_ECBorder {
	BORDER-LEFT-COLOR: #87a583; BORDER-BOTTOM-COLOR: #87a583; BORDER-TOP-COLOR: #87a583; BORDER-RIGHT-COLOR: #87a583
}
