﻿

.BG_Base
{
	background-color:#4E6C49;
}
.BG_VeryLight
{
	background-color:#ffffff;
}
.BG_Light
{
	background-color:#DEEEDC;
}
.BG_Mid
{
	background-color:#87A583;
}
.BG_Dark
{
	background-color:#62A259;
}
.BG_VeryDark
{
	background-color:#000000;
}
.BG_CompLight
{
	background-color:#FDF3C5;
}
.BG_CompMid
{
	background-color:#FADC5A;
}
.BG_CompDark
{
	background-color:#B29460;
}



.F_VeryLight
{
	color:#ffffff;
}
.F_Light
{
	color:#DEEEDC;
}
.F_Mid
{
	color:#87A583;
}
.F_Dark
{
	color:#62A259;
}
.F_VeryDark
{
	color:#000000;
}
.F_CompLight
{
	color:#FDF3C5;
}
.F_CompMid
{
	color:#FADC5A;
}
.F_CompDark
{
	color:#B29460;
}
   

body
{
	text-align:Center;
	background:#4E6C49;
	font-family:Arial, Geneva, sans-serif;
	font-size:10pt;
	color:#000000;
}




.MS_MasterFrame
{
	margin-left:auto;
	margin-right:auto;
}


td, th
{
  font-family:Arial, Geneva, sans-serif;
  font-size:10pt;
}


.MSC_SiteWidth,.MS_MasterHeader,.MS_MasterFrame,.MS_MasterGlobalLinks,.MS_MasterHeader,.MS_MasterPrimaryNav,.MS_MasterFooter,.MS_MasterTopAD,.MS_MasterBottomAD
{
	width:780px;
}
   


.MSC_HeaderFrame
{
	background:#62A259;
	width:100%;
}

.MSC_HeaderDescription
{
	font-size:12px;
	margin:0px;
}
	


.MSC_GlobalLinkSpace
{
	padding:10px;
	font-size:10pt;
	color:#ffffff;
}
.MSC_GlobalLink
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.MSC_GlobalLink:hover
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:underline;
	font-weight:bold;
}
.MSC_GlobalLink:visited
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.MSC_GlobalLinkSpace
{
	font-size:10pt;
}


	
.MSC_PrimaryNavFrame
{
	background:#87A583;
	width:100%;
	margin:1px 0px 5px 0px;
	text-align:left;
}
.MSC_PrimaryNavLink
{
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
}
.MSC_PrimaryNavLink:hover
{
	color:#ffffff;
	font-size:12px;
	text-decoration:underline;
}
.MSC_PrimaryNavLink:visited
{
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
}
.MSC_PrimaryNavLinkFrame-On
{
	background:#FDF3C5;
	white-space:nowrap;
	padding:5px 10px 5px 10px;
}
.MSC_PrimaryNavLink-On
{
	color:#325884;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
}
.MSC_PrimaryNavLink-On:hover
{
	color:#325884;
	font-size:12px;
	text-decoration:underline;
	font-weight:bold;
}
.MSC_PrimaryNavLink-On:visited
{
	color:#325884;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
}
.MSC_PrimaryNavLeftSpace
{
	width:1px;
	white-space:nowrap;
	background:#000000;
	font-size:1px;
}
.MSC_PrimaryNavRightSpace
{
	width:1px;
	background:#DEEEDC;
	white-space:nowrap;
	font-size:1px;
}
.MSC_PrimaryNavTopSpace
{
	height:1px;
	background:#000000;
}
.MSC_PrimaryNavBottomSpace
{
	height:1px;
	background:#DEEEDC;
}



.MS_MasterLeftNav
{
	background:#DEEEDC;
}
.MSC_SecondaryNavFrame
{
	background:#FDF3C5;
	width:100%;
	text-align:left;
}
.MSC_SecondaryNavLink
{
	color:#325884;
	font-size:10pt;
	text-decoration:none;
}
.MSC_SecondaryNavLink:hover
{
	color:#325884;
	font-size:10pt;
	text-decoration:underline;
}
.MSC_SecondaryNavLink:visited
{
	color:#325884;
	font-size:10pt;
	text-decoration:none;
}
.MSC_SecondaryNavLeftSpace
{
	font-size:1px;
	background:#87A583;
	width:1px;
	white-space:nowrap;
}
.MSC_SecondaryNavRightSpace
{
	font-size:1px;
	background:#ffffff;
	width:1px;
	white-space:nowrap;
}
.MSC_SecondaryNavTopSpace
{
	background:#87A583;
	height:1px;
}
.MSC_SecondaryNavBottomSpace
{
	background:#ffffff;
	height:1px;
}
.MSC_SecondaryNavLeftFrame-On
{
	padding:5px;
	background:#ffffff;
}
.MSC_SecondaryNavLinkFrame-On
{
	white-space:nowrap;
	padding:5px;
	background:#ffffff;
}
.MSC_SecondaryNavLink-On
{
	padding:5px;
	background:#ffffff;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:none;
}
.MSC_SecondaryNavLink-On:hover
{
	padding:5px;
	background:#ffffff;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:underline;
}
.MSC_SecondaryNavLink-On:visited
{
	padding:5px;
	background:#ffffff;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:none;
}
   


.MS_MasterBody
{
	background:#ffffff;
}
.MSC_Body
{
	padding:10px;
	text-align:left;
	background:#ffffff;
	height:100%;
}
	


.MSC_FooterFrame
{
	background:#62A259;
	padding:5px;
	text-align:center;
}
.MSC_FooterLink
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:none;
}
.MSC_FooterLink:hover
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:underline;
}
.MSC_FooterLink:visited
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:none;
}
.MSC_FooterLinkSpacer
{
	color:#ffffff;
	font-size:10pt;
}
.MSC_FooterText
{
	color:#ffffff;
	font-size:10pt;
}


	
.MSSB_ProductTitle
{
	color:#325884;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
.MSSB_ProductTitle:hover
{
	color:#BA2A2D;
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
}
.MSSB_ProductTitle:Visited
{
	color:#325884;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
.MSSB_Price
{
	color:#B29460;
	font-size:18px;
	text-decoration:none;
	padding:5px;
}

.MSSB_ProductDescription
{
	font-size:10pt;
}
.MSSB_ProductDetailLink
{
	font-family:Arial, Geneva, sans-serif;
	color:#325884;
	text-decoration:none;

}
.MSSB_ProductDetailLink:hover
{
	font-size:10pt;
	color:#BA2A2D;
	text-decoration:underline;
	padding:5px;
}
.MSSB_ProductDetailLink:visited
{
	font-size:10pt;
	color:#325884;
	text-decoration:none;
}
.MSSB_PurchaseButton
{
	font-size:10pt;
}
.MSSB_CartButton
{
	font-size:10pt;
}
.MSSB_ShortDescription
{
	font-size:10pt;
	text-decoration:none;
	padding:5px;
}
.MSSB_LongDescription
{
	font-size:10pt;
	text-decoration:none;
}
.MSSB_RegularPrice
{
	font-size:10pt;
	text-decoration:none;
}
.MSSB_PromoText
{
	font-size:10pt;
	text-decoration:none;
}
.MSSB_SKU
{
	font-size:10pt;
	text-decoration:none;
}
.MSSB_ProductBodyText
{
	font-size:10pt;
}
.MSSB_ProductHeader
{
	font-size:21px;
}
.MSSB_ProductOptionTitle
{
	font-size:12px;
	font-weight:bold;
}
.MSSB_ProductOptions
{
	font-size:12px;
}
.MSSB_BreadcrumbLink
{
	font-size:12px;
	color:#325884;
	text-decoration:none;
}
.MSSB_BreadcrumbLink:hover
{
	font-size:12px;
	color:#BA2A2D;
	text-decoration:underline;
}
.MSSB_BreadcrumbLink:visited
{
	font-size:12px;
	color:#325884;
	text-decoration:none;
}
.MSSB_BreadcrumbSpacer
{
	font-size:12px;
	margin:0px 5px 0px 5px;
}
.MSSB_ProductRowSpacer
{
	background: #CECECE;
}
.MSSB_ProductOptions
{
	font-size:10pt;
}



.MSC_CollectDataTable,.MSC_CollectDataTable
{
	font-size:10pt;
}



.MSC_DisplayDataTable,.MSC_DisplayDataTable td
{
	font-size:10pt;
	border:1px solid #F1F1F1;
	border-collapse:collapse;
}
.MSC_DisplayDataTable th
{
	background-color:#DEEEDC;
	font-weight:bold;
	font-size:12px;
	color:#62A259;
	padding:3px;
	border:1px solid #87A583;
}
.MSC_DisplayDataTable
{
	border-collapse:collapse;
	border:1px solid #87A583;
}
.MSC_DisplayDataTable td
{
	border-collapse:collapse;
	border:1px solid #87A583;
	padding:3px;
}
.MSC_DisplayDataTableHeader
{
	font-weight:bold;
	font-size:12px;
	color:#000000;
	margin-bottom:3px;
}
.MSC_DisplayDataRepeatingForm table td hr
{
	color:#87A583;
	height:1px;
}


    
.MSC_ECBorder
{
  border-color:  #87A583;
}

  
