@media print {
	body * {
    visibility:hidden;
   }
    a[href]:after {
    	content: none !important;
  	}
   .header * {
	    visibility:visible;
   }
   
   form#header-panel  * {
	    visibility:visible;
   }
   
   
   
   aside * {
	    visibility:visible;
   }
   
    section * {
	    visibility:visible;
   }
   
    .footer * {
	    visibility:visible;
   }
   
 /* a#hdr-logo:after {
        content:url("http://50.62.42.235/~icpameri/assets/images/hdr-logo.png");
		display:block;
		visibility:visible;
		line-height:100%;
		width:240px;
		height:100px;
		overflow: hidden;
    	text-indent: 9999em;
		
    }
	
	a#hdr-logo img {display:block; visibility:visible;}*/
	
	#hdr-logo {width:240px;
		height:100px;}
	
	#hdr-logo 
	
	{display: list-item;
	list-style-image: url("http://50.62.42.235/~icpameri/assets/images/hdr-logo.png");
	list-style-position: inside;}
	
	div.bg-panel  {width:1050px;
		height:400px;}
	
	
	div.bg-panel  
	
	{display: list-item;
	list-style-image: url("http://50.62.42.235/~icpameri/assets/images/bg-panel_mini.jpg");
	list-style-position: inside;}
}
