@charset "utf-8";
/* CSS Document */

/* Open Sans */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/*
@font-face {
font-family: 'OpenSansLight';
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Light-webfont.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'OpenSansCondLight';
	src: url('../fonts/opensans/OpenSans-CondLight-webfont.eot');
	src: url('../fonts/opensans/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-CondLight-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-CondLight-webfont.svg#OpenSans-Cond') format('svg');
}

@font-face {
	font-family: 'OpenSansCondBold';
	src: url('../fonts/opensans/OpenSans-CondBold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-CondBold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-CondBold-webfont.svg#OpenSans-Cond') format('svg');}
*/	
/*Oswald*/

@font-face {
    font-family: 'OswaldLight';
    src: url('../fonts/oswald/Oswald-Light-webfont.eot');
    src: url('../fonts/oswald/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald/Oswald-Light-webfont.woff') format('woff'),
         url('../fonts/oswald/Oswald-Light-webfont.ttf') format('truetype'),
         url('../fonts/oswald/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OswaldBook';
    src: url('../fonts/oswald/Oswald-Regular-webfont.eot');
    src: url('../fonts/oswald/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald/Oswald-Regular-webfont.woff') format('woff'),
         url('../fonts/oswald/Oswald-Regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{ font-size:13px; font-family:"Open Sans", sans-serif; width:100%; height:100%; margin:0; padding:0;}
.wrapper{
	margin:0;
	padding:0;
}
.container{
	width:1050px;
	margin:0 auto;
}

/*Global Elements*/
ul.unstyled, ol.unstyled { margin-left: 0; list-style: none;}
.clearfix{ clear:both;}

/*Top Bar*/
.top-bar{ color:#fff; font-size: 12px; text-align: right; position: relative; background: #427700; width: 100%; height: 20px; margin: 0; z-index: 3; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.45); line-height:20px; padding:5px 0;}
.top-bar ul{  line-height: 30px; height: 30px; margin: auto;}
.top-bar a{ color:#fff; text-decoration:none;}
.top-bar a:focus, .top-bar a:hover, .top-bar a:active{ color:#fff; text-decoration:underline;}
.top-bar li { display: inline-block; width: auto; padding: 0 5px;}

/*Hader*/
header{ width:auto; height:auto; background: rgba(255,255,255,0.85); background: #FFF \9;  border-bottom: solid 1px #CCC; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);}
header .logo { width:300px; float:left;}
header .logo img{ width:242px; height:auto; padding:12px 0;}
header  nav{ float:right;}
header  nav ul{ margin:0; padding:0;}
header  nav li{ dsisplay:inline-block; line-height:100px; float: left; min-width: 1%; border-left: solid 1px #CCC; box-shadow: 1px 0 0 1px #FFF;}
header  nav li a { color:#444; font-size:14px; text-decoration:none; text-transform: capitalize; padding: 42px 15px;}
header  nav li a:link, header  nav li a:visited { color:#444;}
header  nav li a:hover, header  nav li a:active{ color: #FFF; background: #427700;}
header  nav #banner_current { color: #FFF; background: #427700;}

/*Banner*/
.banner img{ width:1050px; height:200px; margin:20px auto 0;}

/*Content*/
.content{ font-size:13px; padding:20px 0;}
.content .banner img{ width:100%; height:auto;}
.content .col{ width:100%; margin:0; padding:0; clear:both; overflow:hidden;}
.content .col-8{ width:715px; float:left;}
.content .col-4{ width:335px; float:left;}

/*Homepage Products*/
.products { clear:both;}
.products ul{ margin:0; padding:0;}
.products li{ width:310px; margin-right:10px; float:left; padding:10px 15px; display:block; vertical-align:text-top;  border:1px solid #ccc; text-align:left; min-height:560px; margin-bottom:15px;}
.products li:last-child{ margin-right:0;}
.products li img{ max-width:320px; width:100%; display:block; margin:0 auto; height:auto; margin:0 15px 15px 0;}
.products li h1{ font-size:20px; border:0; font-weight:100;}
.products li  a{ color:#427700; text-decoration:none;}

/*Request a quote*/
.request-quote{ text-align:left;background: #F3F3F3; padding: 10px 15px; margin-left:15px; min-height:610px;}
.request-quote h2 { font-family:"OpenSans", sans-serif; font-weight: 100; color: #427700; font-size:25px; }
.request-quote .formfield{ padding-bottom:10px;}
.request-quote .submitbutton{ font-size:14px; display: block;background: #427700; color: #FFF; text-shadow: none; width:180px; text-align:center;}

/*Homepage New Products*/
.new-products{ margin:20px 0; position:relative; clear:both;}
.new-products .link1{ text-decoration:none; text-transform:uppercase; position:absolute; bottom:30px; right:30px; font-size:14px; display: block; background: #427700; color: #FFF; text-shadow: none; height:20px; width:120px; padding:6px 12px; text-align:center;}
.new-products .link1:hover{ background: #669900; color: #FFF;}


/*Before Footer*/
.before-footer{ margin:20px 0;}
.before-footer h2{ color:#555; font: normal 32px 'OswaldLight', sans-serif; border-top: 1px solid #999999; border-bottom: 1px solid #999999; margin: 20px 0 30px; padding-bottom: 15px; padding-top: 15px; line-height: 50px;}
.before-footer p{ text-align:left;}
.before-footer ul{ margin:0; padding:0;}
.before-footer li{ width:315px; min-height:460px; padding:10px 15px; display:inline-block; vertical-align:text-top; border:1px solid #ccc;}
.before-footer li img{ width:100%; max-width:315px; height:auto;}
.before-footer li h3{ font-size:20px; border:0; font-weight:100; text-align:center;}
.before-footer li a{ color:#427700; text-decoration:none;}

/*Footer*/
#footer{
	width:100%;
background: #427700;
font-size: 12px;
color: #FFF;
text-align: center;
line-height: 16px;
height: 55px;
padding: 10px 0;
z-index: 2;
}

#footer p {
	margin:0 0 10px !important;
}

#footer small a {
	display:block !important;
	font-size:85% !important;
}

#footer a{ font-size:12px;}
#footer a:link, #footer a:visited{ color:#fff;}

#footer .copyright{ font-size:11px;}
/*Form*/
.form-control {
  display: block;
  width: 90%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #777777;
}
.form-control::-webkit-input-placeholder {
  color: #777777;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 35px;
  line-height: 1.5 \0;
}
input[type="date"].input-sm,
input[type="time"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm {
  line-height: 30px;
}
input[type="date"].input-lg,
input[type="time"].input-lg,
input[type="datetime-local"].input-lg,
input[type="month"].input-lg {
  line-height: 46px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*For Request a Quote Envelop*/
a.custom-quote {
background:url(../../images/custom-quote.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
cursor: pointer;
display: block;
height: 281px;
position: fixed;
right: 0;
top: 30%;
width: 80px;
z-index: 100;
}

/* Calvin */
#search-panel {

	float: left;

	position: relative;

	background: #427700;

	width: 100%;

	height: 30px;

	margin: 0;

	z-index: 3;

	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.45);

}

#search-panel ul {

	font-size: 12px;

	color: #FFF;

	text-align: right;

	line-height: 30px;

	width: 1050px;

	height: 30px;

	margin: auto;

	padding:0;

}

#search-panel li {

	display: inline-block;
	font-size:12px;
	font-family:"Open Sans", sans-serif;
	width: auto;
	
	padding: 0 5px;
	position:relative;
	top:-4px;

}

#search-panel li a {

	display: inline-block;

	color: #FFF;

	margin: 0 3px;
	text-decoration:none;

}

#search-panel li a img {

	position: relative;

	top: -2px;

	margin: 0;

}

#search-panel li:last-child {

	top:4.5px;

}


#search-panel li:last-child a {

	margin: 0;

}

#search-panel li input[type="text"] {

	position: relative;

	top: 0px;

	font-size: 11px;

	width: 136px;

	height: 20px;

	border: 0;

	border-radius: 0;

	box-shadow: none;

	padding:2px 7px;
	display:inline-block;
	vertical-align:top;

}

#search-panel li input[type="submit"] {

	position: relative;

	top: 0px;

	display: inline-block;

	background: #AAA url(http://www.icpamerica.com/assets/images/icon-btn-magnify.png) no-repeat center;

	width: 24px;

	height: 24px;

	border: none;
	display:inline-block;
	vertical-align:top;

}